Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): 14.1.0-alpha.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 14.1.0-alpha.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat: export EUseLicense
  src/ApiManager/index.ts
  src/SipConnectorFacade/SipConnectorFacade.ts
  src/__tests__/useLicense.ts
  src/index.ts
  src/types.ts
Due: prettier --write, eslint --fix

refactor: some
  src/ApiManager/index.ts
  src/__tests__/mainCamControl.ts
  src/__tests__/micControl.ts
  src/__tests__/syncMediaState.ts
  src/types.ts
  src/videoSendingBalancer/__tests__/processSender.ts
  src/videoSendingBalancer/__tests__/resolveVideoSendingBalancer.ts
  src/videoSendingBalancer/balance.ts
  src/videoSendingBalancer/index.ts
  src/videoSendingBalancer/processSender.ts
Due: prettier --write, eslint --fix

feat: export ECallCause
  src/CallManager/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 14.1.0-alpha.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat: export TCustomError
  src/CallManager/index.ts
  src/index.ts
  src/tools/error/__tests__/getValuesFromError.ts
  src/tools/error/getLinkError.ts
  src/tools/error/getTypeFromError.ts
  src/tools/error/getValuesFromError.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore(release): 14.1.0-alpha.4
  CHANGELOG.md
  package.json
Due: prettier --write

feat: export TContentHint
  src/CallManager/types.ts
  src/PresentationManager/index.ts
  src/SipConnectorFacade/SipConnectorFacade.ts
  src/index.ts
  src/tools/prepareMediaStream.ts
  src/tools/setVideoTrackContentHints.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore(release): 14.1.0-alpha.5
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix
  src/SipConnectorFacade/SipConnectorFacade.ts
Due: prettier --write, eslint --fix

chore(release): 14.1.0-alpha.6
  CHANGELOG.md
  package.json
Due: prettier --write

feat: export EMimeTypesVideoCodecs
  src/index.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore(release): 14.1.0-alpha.7
  CHANGELOG.md
  package.json
Due: prettier --write

feat: export TJsSIP
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 14.1.0-alpha.8
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: some
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.test.ts
  src/ApiManager/constants.ts
  src/ApiManager/index.ts
  src/__fixtures__/accountNotify.ts
  src/__fixtures__/channels.ts
  src/__fixtures__/channelsNotify.ts
  src/__fixtures__/conferenceParticipantTokenIssuedNotify.ts
  src/__fixtures__/enterRoom.ts
  src/__fixtures__/mediaState.ts
  src/__fixtures__/participantMoveRequests.ts
  src/__fixtures__/participantNotify.ts
  src/__fixtures__/webcastNotify.ts
  src/__tests__/call.ts
  src/__tests__/channels.ts
  src/__tests__/events.ts
  src/__tests__/mainCamControl.ts
  src/__tests__/mediaState.ts
  src/__tests__/micControl.ts
  src/__tests__/presentation.ts
  src/__tests__/sendRefusalToTurnOn.ts
  src/__tests__/syncMediaState.ts
  src/__tests__/useLicense.ts
  src/headers.ts
  src/videoSendingBalancer/__tests__/resolveVideoSendingBalancer.ts
Due: prettier --write, eslint --fix

refactor: some
  src/CallManager/index.ts
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/UAFactory.ts
  src/ConnectionManager/getExtraHeadersRemoteAddress.ts
  src/SipConnector/@SipConnector.ts
  src/types.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: ontrack
  next.md
  src/CallManager/MCUCallStrategy.ts
Due: prettier --write, eslint --fix

chore(release): 14.1.0-alpha.9
  CHANGELOG.md
  package.json
Due: prettier --write

fix: ontrack
  src/CallManager/MCUCallStrategy.ts
Due: prettier --write, eslint --fix

chore(release): 14.1.0-alpha.10
  CHANGELOG.md
  package.json
Due: prettier --write

fix: add tests
  src/ApiManager/__tests__/@ApiManager.test.ts
  src/CallManager/MCUCallStrategy.ts
  src/CallManager/__tests__/MCUCallStrategy.test.ts
  src/IncomingCallManager/__tests__/@IncomingCallManager.test.ts
  src/PresentationManager/__tests__/@PresentationManager.test.ts
  src/__fixtures__/BaseSession.mock.ts
  src/__fixtures__/RTCPeerConnectionMock.ts
  src/__fixtures__/RTCSessionMock.ts
  src/__fixtures__/UA.mock.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore: update dependencies
  package.json
  src/ApiManager/@ApiManager.ts
  src/ApiManager/eventNames.ts
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/MCUCallStrategy.test.ts
  src/CallManager/eventNames.ts
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/ConnectionStateMachine.ts
  src/ConnectionManager/RegistrationManager.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
  src/ConnectionManager/__tests__/ConnectionStateMachine.test.ts
  src/ConnectionManager/__tests__/RegistrationManager.test.ts
  src/ConnectionManager/eventNames.ts
  src/IncomingCallManager/@IncomingCallManager.ts
  src/PresentationManager/@PresentationManager.ts
  src/PresentationManager/eventNames.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/eventNames.ts
  src/__fixtures__/BaseSession.mock.ts
  src/__fixtures__/RTCPeerConnectionMock.ts
  src/__fixtures__/UA.mock.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 14.1.0-alpha.11
  CHANGELOG.md
  package.json
Due: prettier --write

fix: replaceMediaStream
  src/setParametersToSender/__tests__/resolveHasNeedToUpdateItemEncoding.ts
  src/setParametersToSender/resolveHasNeedToUpdateItemEncoding.ts
  src/tools/resolveUpdateTransceiver.ts
Due: prettier --write, eslint --fix

chore(release): 14.1.0-alpha.12
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix
  .gitignore
  src/videoSendingBalancer/scaleBitrate.ts
Due: prettier --write, eslint --fix

chore: fix
  src/__tests__/validateAPI.ts
  src/tools/__tests__/sendDTMFAccumulated.ts
Due: prettier --write, eslint --fix

chore(release): 14.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix version
  package.json
Due: none

chore: fix
  eslint.config.base.ts
  src/__tests__/validateAPI.ts
  src/tools/__tests__/sendDTMFAccumulated.ts
  src/tools/index.ts
Due: prettier --write, eslint --fix

chore(release): 14.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix
  package.json
  yarn.lock
Due: none

chore: fix
  package.json
Due: none

chore(release): 14.1.2-0
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *src/**/*.{js,ts,json}) or (any of: *.md)
  eslint --fix: any of: *src/**/*.{js,ts,json}
