Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

refactor: migrate to onRace
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
Due: prettier --write, eslint --fix

refactor: split ping server requester
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/PingServerIfNotActiveCallRequester.ts
  src/AutoConnectorManager/PingServerRequester.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/AutoConnectorManager/__tests__/PingServerIfNotActiveCallRequester.test.ts
Due: prettier --write, eslint --fix

chore(release): 19.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update arch
  docs/arch.md
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: none

fix: include isIdle in connection failure checks and update tests
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/__tests__/@ConnectionManager.test.ts
Due: prettier --write, eslint --fix

refactor: some
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/__tests__/@ConnectionManager.test.ts
Due: prettier --write, eslint --fix

test: improve connection failure tests and add new case for disconnection handling
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
Due: prettier --write, eslint --fix

fix: condition for reconnect (#52)
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/ConnectionManager/@ConnectionManager.ts
Due: prettier --write, eslint --fix

chore(release): 19.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: remove parameters not exist error handling and introduce canRetryOnError option
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/AutoConnectorManager/index.ts
  src/AutoConnectorManager/types.ts
  src/AutoConnectorManager/utils/__tests__/errors.test.ts
  src/AutoConnectorManager/utils/errors.ts
  src/AutoConnectorManager/utils/index.ts
  src/ConnectionManager/UAFactory.ts
  src/ConnectionManager/utils/__tests__/resolveParameters.test.ts
  src/ConnectionManager/utils/errors.ts
  src/SipConnectorFacade/@SipConnectorFacade.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  src/__fixtures__/RTCSessionMock.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 19.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: update event handling and type definitions across connection and API managers
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ApiManager/__tests__/@ApiManager.notify.test.ts
  src/AutoConnectorManager/__tests__/RegistrationFailedOutOfCallSubscriber.test.ts
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/ConnectionStateMachine.ts
  src/ConnectionManager/RegistrationManager.ts
  src/ConnectionManager/__tests__/@ConnectionManager.test.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
  src/ConnectionManager/__tests__/ConnectionStateMachine.test.ts
  src/ConnectionManager/__tests__/RegistrationManager.test.ts
  src/ConnectionManager/eventNames.ts
  src/IncomingCallManager/__tests__/@IncomingCallManager.test.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/__tests__/events.test.ts
  src/__fixtures__/RTCSessionMock.ts
Due: prettier --write, eslint --fix

feat: add event for connection parameters resolution failure
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/__tests__/@ConnectionManager.test.ts
  src/ConnectionManager/eventNames.ts
Due: prettier --write, eslint --fix

chore(release): 19.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: rename failed attempt event
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/AutoConnectorManager/eventNames.ts
Due: prettier --write, eslint --fix

fix: update event names and handling in AutoConnectorManager
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/AutoConnectorManager/eventNames.ts
  src/SipConnector/__tests__/events.test.ts
Due: prettier --write, eslint --fix

chore(release): 19.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: update AttemptsState to use callback for status changes
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/AttemptsState.ts
  src/AutoConnectorManager/__tests__/AttemptsState.test.ts
Due: prettier --write, eslint --fix

fix: ensure attempts state is finished on various connection errors
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
Due: prettier --write, eslint --fix

chore(release): 19.2.2
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: split tests
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.basic.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.connection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.events.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.telephony.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
Due: prettier --write, eslint --fix

feat: introduce TParametersConnection type and update related components
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.basic.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.connection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.events.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.telephony.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
  src/AutoConnectorManager/types.ts
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/index.ts
  src/SipConnectorFacade/@SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/SipConnectorFacade/__tests__/connectToServer.test.ts
  src/index.ts
  src/tools/__fixtures__/connectToServer.ts
  src/tools/__fixtures__/permissions.ts
  src/tools/__fixtures__/processRequest.ts
  src/tools/__tests__/processRequest.test.ts
Due: prettier --write, eslint --fix

chore(release): 19.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: enhance connection management with TConnectionConfiguration and TConnectionConfigurationWithUa types
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/__tests__/@ConnectionManager.test.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
  src/ConnectionManager/__tests__/connect.test.ts
  src/ConnectionManager/eventNames.ts
  src/ConnectionManager/index.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnectorFacade/@SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/__tests__/accountNotify.test.ts
  src/__tests__/channelsNotify.test.ts
  src/__tests__/conferenceParticipantTokenIssuedNotify.test.ts
  src/__tests__/connect.test.ts
  src/__tests__/participantMoveRequests.test.ts
  src/__tests__/participantNotify.test.ts
  src/__tests__/webcastNotify.test.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 19.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add CONNECT_PARAMETERS_RESOLVE_SUCCESS event and enhance connection handling
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/__tests__/@ConnectionManager.test.ts
  src/ConnectionManager/eventNames.ts
Due: prettier --write, eslint --fix

chore(release): 19.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: enforce required fields in connection configuration
  src/ConnectionManager/ConfigurationManager.ts
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/UAFactory.ts
  src/ConnectionManager/__tests__/@ConnectionManager.test.ts
  src/ConnectionManager/__tests__/ConfigurationManager.test.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
  src/ConnectionManager/__tests__/UAFactory.test.ts
  src/ConnectionManager/__tests__/connect.test.ts
  src/ConnectionQueueManager/__test__/@ConnectionQueueManager.test.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/__fixtures__/index.ts
  src/__tests__/call.test.ts
  src/__tests__/connect.test.ts
  src/tools/__fixtures__/connectToServer.ts
  src/tools/__fixtures__/processRequest.ts
Due: prettier --write, eslint --fix

chore(release): 19.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add type for network interfaces subscriber
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

test: add module tests
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
Due: prettier --write, eslint --fix

feat: restart ping server when network interfaces changed
  src/AutoConnectorManager/@AutoConnectorManager.ts
Due: prettier --write, eslint --fix

feat: add types for suspend subscriber
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

test: add unit tests for suspend subscriber
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
Due: prettier --write, eslint --fix
