Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

feat: add EMimeTypesVideoCodecs
  src/types.ts
Due: prettier --write, eslint --fix

chore(release): 12.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: extends simulcastEncodings
  package.json
  src/SipConnectorFacade/SipConnectorFacade.ts
  src/tools/__tests__/generateSimulcastEncodings.ts
  src/tools/generateSimulcastEncodings.ts
  src/types.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 12.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat!: add offerToReceiveAudio, offerToReceiveVideo to call methods
  package.json
  src/SipConnector.ts
  src/SipConnectorFacade/SipConnectorFacade.ts
  src/tools/prepareMediaStream.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: some
  src/SipConnector.ts
  src/__tests__/call.ts
  src/__tests__/incomingCall.ts
Due: prettier --write, eslint --fix

chore(release): 13.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add methods to SipConnectorFacade
  src/SipConnectorFacade/SipConnectorFacade.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 13.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add proxy methods to SipConnectorFacade
  src/SipConnector.ts
  src/SipConnectorFacade/SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/SipConnectorFacade.ts
  src/tools/__tests__/generateSimulcastEncodings.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  src/SipConnector.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 13.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add proxy methods to SipConnectorFacade
  src/SipConnectorFacade/SipConnectorFacade.ts
Due: prettier --write, eslint --fix

chore(release): 13.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: work with codecs
  src/tools/resolveUpdateTransceiver.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 13.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

refactor!: rename session to rtcSession
  src/SipConnector.ts
  src/__fixtures__/RTCSessionMock.ts
  src/__fixtures__/UA.mock.ts
  src/__fixtures__/jssip.mock.ts
  src/__tests__/call.ts
  src/__tests__/channels.ts
  src/__tests__/enterRoom.ts
  src/__tests__/events.ts
  src/__tests__/incomingCall.ts
  src/__tests__/mainCamControl.ts
  src/__tests__/mediaState.ts
  src/__tests__/micControl.ts
  src/__tests__/participantMoveRequests.ts
  src/__tests__/presentation.ts
  src/__tests__/sendRefusalToTurnOn.ts
  src/__tests__/syncMediaState.ts
  src/__tests__/useLicense.ts
  src/doMock.ts
  src/videoSendingBalancer/__tests__/resolveVideoSendingBalancer.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  yarn.lock
Due: none

refactor: ConnectionManager
  src/ConnectionManager.ts
Due: prettier --write, eslint --fix

fix: support ff 109 and lower
  package.json
  src/global.d.ts
  src/setParametersToSender/hasChangedRTCRtpSendParameters.ts
  src/tools/resolveUpdateTransceiver.ts
  src/viteEnvironment.d.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 14.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: some
  .eslintrc.base.json
  src/ConnectionManager.ts
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  .eslintignore
  .eslintrc.base.json
  .eslintrc.json
  .ncurc.json
  eslint.config.base.ts
  eslint.config.jest.ts
  eslint.config.ts
  jest.config.ts
  package.json
  tsconfig.base.json
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: none

refactor: add plan
  v14.md
Due: prettier --write

chore: fix lint error
  eslint.config.ts
  src/ConnectionManager.ts
  src/SipConnector.ts
  src/SipConnectorFacade/SipConnectorFacade.ts
  src/__fixtures__/BaseSession.mock.ts
  src/__fixtures__/RTCPeerConnectionMock.ts
  src/__fixtures__/RTCSessionMock.ts
  src/global.d.ts
  src/videoSendingBalancer/__tests__/processSender.ts
  src/videoSendingBalancer/scaleBitrate.ts
Due: prettier --write, eslint --fix

chore: fix lint error
  eslint.config.ts
  src/ConnectionManager.ts
  src/SipConnector.ts
  src/__tests__/presentation.ts
  src/tools/error/getTypeFromError.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  eslint.config.ts
  src/SipConnector.ts
  src/SipConnectorFacade/SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/actionsProgressCall.ts
  src/SipConnectorFacade/__tests__/actionsProgressIncomingCall.ts
  src/SipConnectorFacade/__tests__/answerIncomingCall.ts
  src/SipConnectorFacade/__tests__/resolveOnUseLicense.ts
  src/__fixtures__/BaseSession.mock.ts
  src/__fixtures__/RTCPeerConnectionMock.ts
  src/__fixtures__/RTCSessionMock.ts
  src/__fixtures__/Request.mock.ts
  src/__fixtures__/UA.mock.ts
  src/__fixtures__/channelsNotify.ts
  src/__fixtures__/jssip.mock.ts
  src/__fixtures__/participantNotify.ts
  src/__tests__/actions.ts
  src/__tests__/call.ts
  src/__tests__/callStatuses.ts
  src/__tests__/checkTelephony.ts
  src/__tests__/connect.ts
  src/__tests__/incomingCall.ts
  src/__tests__/incomingCallStatuses.ts
  src/constants.ts
  src/setParametersToSender/__tests__/setParametersToSender.ts
  src/setParametersToSender/configureEmptyEncodings.ts
  src/setParametersToSender/setParametersToSender.ts
  src/setupTests.ts
  src/tools/__tests__/syncMediaState/index.ts
  src/tools/__tests__/syncMediaState/resolveOnStartMainCam.ts
  src/tools/__tests__/syncMediaState/resolveOnStartMic.ts
  src/tools/__tests__/syncMediaState/resolveOnStopMainCam.ts
  src/tools/__tests__/syncMediaState/resolveOnStopMic.ts
  src/tools/error/getLinkError.ts
  src/tools/error/getTypeFromError.ts
  src/types.ts
  src/utils/getCodecFromSender.ts
  src/videoSendingBalancer/index.ts
  src/videoSendingBalancer/processSender.ts
Due: prettier --write, eslint --fix

chore(release): 14.0.1-0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  eslint.config.ts
  src/SipConnector.ts
  src/SipConnectorFacade/__tests__/connectToServer.ts
  src/__fixtures__/UA.mock.ts
  src/__tests__/call.ts
  src/__tests__/callWithNoVideoTracks.ts
  src/__tests__/connect.ts
  src/__tests__/incomingCall.ts
  src/__tests__/participantMoveRequests.ts
  src/__tests__/presentation.ts
  src/tools/__tests__/processRequest.ts
  src/tools/generateSimulcastEncodings.ts
  src/videoSendingBalancer/processSender.ts
  src/videoSendingBalancer/scaleResolutionAndBitrate.ts
Due: prettier --write, eslint --fix

feat: hasCanceledStartPresentationError
  package.json
  src/SipConnector.ts
  src/constants.ts
  src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix
