Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add function rejects forbidden symbols
  src/utils/__tests__/fixForbiddenSymbols.ts
  src/utils/fixForbiddenSymbols.ts
Due: prettier --write, eslint --fix

fix: user agent name
  src/tools/getUserAgent.ts
Due: prettier --write, eslint --fix

refactor: rename replaceForbiddenSymbolsWithUnderscore
  src/tools/getUserAgent.ts
  src/utils/__tests__/fixForbiddenSymbols.ts
  src/utils/__tests__/replaceForbiddenSymbolsWithUnderscore.ts
  src/utils/replaceForbiddenSymbolsWithUnderscore.ts
Due: prettier --write, eslint --fix

test: getUserAgent name
  src/tools/__tests__/getUserAgent.ts
Due: prettier --write, eslint --fix

fix: forbidden symbols in app name (#41)
  src/tools/__tests__/getUserAgent.ts
  src/tools/getUserAgent.ts
  src/utils/__tests__/replaceForbiddenSymbolsWithUnderscore.ts
  src/utils/replaceForbiddenSymbolsWithUnderscore.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 7.0.10
  CHANGELOG.md
  package.json
Due: prettier --write

feat!: use sdp_semantics: 'unified-plan' by default
  src/SipConnector.ts
  src/__fixtures__/index.ts
  src/tools/__fixtures__/connectToServer.ts
  src/tools/__fixtures__/processRequest.ts
  src/tools/connectToServer.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore(release): 8.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: added sendPresentationWithDuplicatedCalls
  package.json
  src/SipConnector.ts
Due: prettier --write, eslint --fix

feat: reject as valid true
  src/SipConnector.ts
Due: prettier --write, eslint --fix

test: mock start presentation with error
  src/SipConnector.ts
  src/__fixtures__/Session.mock.ts
Due: prettier --write, eslint --fix

test: start presentation repeatedd
  src/__fixtures__/Session.mock.ts
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

test: start presentation after fail
  src/SipConnector.ts
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

chore: remove unused
  package.json
Due: none

refactor: some
  src/SipConnector.ts
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

refactor: resolve review
  src/SipConnector.ts
Due: prettier --write, eslint --fix

test: cancel requests after stop presentation
  src/SipConnector.ts
  src/__fixtures__/Session.mock.ts
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

test: cancel requests after stop presentation
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

test: cancel request after hang up
  src/SipConnector.ts
  src/__fixtures__/Session.mock.ts
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

refactor: remove excessive calls cancel request
  src/SipConnector.ts
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

test: some
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

refactor: cancel requests repeated calls at the begining of stopPresentation
  src/SipConnector.ts
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

refactor: cancel requests on fail or end call
  src/SipConnector.ts
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

feat: start presentation with retry (#42)
  src/SipConnector.ts
  src/__fixtures__/Session.mock.ts
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

chore(release): 8.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(screencast): add options to tools start presentation param
  src/tools/resolveStartPresentation.ts
Due: prettier --write, eslint --fix

feat: add options param to resolveStartPresentation (#43)
  src/tools/resolveStartPresentation.ts
Due: prettier --write, eslint --fix

chore(release): 8.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: start presentation response instanceOf MediaStream
  src/SipConnector.ts
Due: prettier --write, eslint --fix

fix: sendPresentationWithDuplicatedCalls
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore(release): 8.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: add comments
  package.json
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  src/__fixtures__/BaseSession.mock.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

feat: set by default degradationPreference = 'maintain-resolution' for presentation
  src/SipConnector.ts
  src/constants.ts
  src/tools/resolveStartPresentation.ts
Due: prettier --write, eslint --fix

feat: add contentHint to presentation
  src/SipConnector.ts
  src/tools/prepareMediaStream.ts
  src/tools/setVideoTrackContentHints.ts
  src/types.ts
  src/utils.ts
Due: prettier --write, eslint --fix

chore(release): 8.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat!: update api of tools
  src/SipConnector.ts
  src/tools/resolveStartPresentation.ts
  src/tools/resolveStopShareSipConnector.ts
  src/tools/resolveUpdatePresentation.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore(release): 9.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *src/**/*.{js,ts,json}) or (any of: *.md)
  eslint --fix: any of: *src/**/*.{js,ts,json}
