Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(release): 23.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: rename state machines for consistency; update tsconfig to exclude unnecessary directories
  docs/recipes/incoming-calls.md
  docs/recipes/presentations.md
  src/CallManager/@CallManager.ts
  src/IncomingCallManager/@IncomingCallManager.ts
  src/PresentationManager/@PresentationManager.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix

refactor: update call state machine to include new events and states; enhance API event handling
  docs/api/call-events.md
  docs/arch/state-machines.md
  docs/recipes/session-management.md
  src/CallManager/@CallManager.ts
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/@CallManager.events.test.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
  src/CallManager/events.ts
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/ConnectionStateMachine.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
  src/ConnectionManager/__tests__/ConnectionStateMachine.test.ts
  src/ContentedStreamManager/ContentedStreamStateMachine.ts
  src/ContentedStreamManager/index.ts
  src/IncomingCallManager/@IncomingCallManager.ts
  src/IncomingCallManager/IncomingCallStateMachine.ts
  src/IncomingCallManager/__tests__/@IncomingCallManager.test.ts
  src/PresentationManager/@PresentationManager.ts
  src/PresentationManager/PresentationStateMachine.ts
  src/SessionManager/@SessionManager.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/index.ts
  src/SessionManager/selectors.ts
  src/SessionManager/types.ts
  src/SipConnector/@SipConnector.ts
  src/__fixtures__/createManagers.ts
  src/tools/BaseStateMachine.ts
  src/tools/__tests__/BaseStateMachine.test.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

refactor!: remove ConferenceStateManager and integrate its functionality into CallManager and CallStateMachine
  demo/ConferenceStateDisplay.ts
  docs/README.md
  docs/api/README.md
  docs/api/conference-state-events.md
  docs/arch/README.md
  docs/arch/components.md
  docs/arch/overview.md
  docs/arch/principles.md
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/ApiManager/__tests__/@ApiManager.notify.test.ts
  src/CallManager/@CallManager.ts
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/@CallManager.events.test.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/ConferenceStateManager/@ConferenceStateManager.ts
  src/ConferenceStateManager/__tests__/@ConferenceStateManager.test.ts
  src/ConferenceStateManager/events.ts
  src/ConferenceStateManager/index.ts
  src/ConferenceStateManager/types.ts
  src/PresentationManager/__tests__/@PresentationManager.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/__tests__/events.test.ts
  src/SipConnector/events.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  src/__fixtures__/createManagers.ts
  src/__tests__/call.test.ts
  src/__tests__/connect.test.ts
  src/__tests__/incomingCall.test.ts
Due: prettier --write, eslint --fix

feat: implement DeferredCommandRunner for delayed execution of RecvSession start; handle token race conditions in CallManager
  docs/arch/README.md
  docs/arch/components.md
  docs/arch/overview.md
  docs/arch/principles.md
  docs/arch/state-machines.md
  src/CallManager/@CallManager.ts
  src/CallManager/DeferredCommandRunner.ts
  src/CallManager/RecvSession.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

feat: enhance RecvSession and SipConnector tests to include token handling
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/RecvSession.test.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/tools/DeferredCommandRunner.ts
  src/tools/__tests__/DeferredCommandRunner.test.ts
  src/tools/index.ts
Due: prettier --write, eslint --fix

chore(release): 24.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: update IncomingCallManager to enforce required fields for remote caller data
  docs/api/incoming-call-events.md
  src/IncomingCallManager/@IncomingCallManager.ts
  src/IncomingCallManager/__tests__/@IncomingCallManager.test.ts
  src/IncomingCallManager/__tests__/IncomingCallStateMachine.test.ts
  src/IncomingCallManager/events.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SipConnector/__tests__/events.test.ts
  src/SipConnectorFacade/@SipConnectorFacade.ts
  src/__fixtures__/BaseSession.mock.ts
  src/__fixtures__/RTCSessionMock.ts
  src/__fixtures__/UA.mock.ts
  src/__tests__/incomingCall.test.ts
Due: prettier --write, eslint --fix

chore(release): 24.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix!: remove TConnectionConfigurationWithUa and add authorizationUser to TConnectionConfiguration
  docs/api/connection-events.md
  docs/api/sip-connector-events.md
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/ConfigurationManager.ts
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/__tests__/@ConnectionManager.test.ts
  src/ConnectionManager/__tests__/ConfigurationManager.test.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
  src/ConnectionManager/__tests__/connect.test.ts
  src/ConnectionManager/events.ts
  src/ConnectionManager/index.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/events.ts
  src/SipConnectorFacade/@SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/__fixtures__/index.ts
  src/__tests__/accountNotify.test.ts
  src/__tests__/channelsNotify.test.ts
  src/__tests__/conferenceParticipantTokenIssuedNotify.test.ts
  src/__tests__/connect.test.ts
  src/__tests__/participantMoveRequests.test.ts
  src/__tests__/participantNotify.test.ts
  src/__tests__/webcastNotify.test.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 25.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add recvQuality management to CallManager and RecvSession, including event triggers
  src/CallManager/@CallManager.ts
  src/CallManager/RecvSession.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/RecvSession.test.ts
  src/CallManager/events.ts
  src/CallManager/index.ts
  src/CallManager/quality.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

feat: enhance documentation for recvQuality management, including new events and usage examples
  docs/api/call-events.md
  docs/api/exports.md
  docs/recipes/events-handling.md
  docs/recipes/media-management.md
Due: prettier --write

refactor: update recv-quality-changed event structure in CallManager and documentation
  docs/api/call-events.md
  src/CallManager/@CallManager.ts
  src/CallManager/events.ts
Due: prettier --write, eslint --fix

feat: add reception quality management UI and functionality, including new elements
  demo/App.ts
  demo/Session/RecvQualityManager.ts
  demo/Session/Session.ts
  demo/dom.ts
  index.html
  src/index.ts
Due: prettier --write, eslint --fix

refactor: role transition management in CallManager and RoleManager
  src/CallManager/@CallManager.ts
  src/CallManager/RoleManager.ts
Due: prettier --write, eslint --fix

feat: add getInRoomTokenOrThrow function and inRoomContext getter to CallStateMachine
  src/CallManager/@CallManager.ts
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
Due: prettier --write, eslint --fix

refactor: streamline recvQuality management in CallManager and RecvSession
  src/CallManager/@CallManager.ts
  src/CallManager/RecvSession.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/RecvSession.test.ts
Due: prettier --write, eslint --fix

refactor: simplify remote streams event emission in CallManager
  src/CallManager/@CallManager.ts
Due: prettier --write, eslint --fix

refactor: improve call status change handling in CallManager by creating a dedicated listener
  src/CallManager/@CallManager.ts
Due: prettier --write, eslint --fix

refactor: unify restartIce options in CallManager and MCUSession
  src/CallManager/@CallManager.ts
  src/CallManager/MCUSession.ts
Due: prettier --write, eslint --fix

chore(release): 25.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: enhance enter-room event to include optional bearerToken for improved authentication
  docs/api/api-events.md
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/ApiManager/__tests__/getHeader.test.ts
  src/ApiManager/constants.ts
  src/ApiManager/events.ts
  src/ApiManager/getHeader.ts
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
Due: prettier --write, eslint --fix

chore(release): 25.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: update getHeader to return the original value for BEARER_TOKEN instead of lowercase
  src/ApiManager/__tests__/getHeader.test.ts
  src/ApiManager/getHeader.ts
Due: prettier --write, eslint --fix

chore(release): 25.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: update getRecvQuality method to return an object with recvQuality and effectiveQuality
  demo/Session/RecvQualityManager.ts
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

chore(release): 25.2.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix: ensure system status remains CALL_ACTIVE when connection is DISCONNECTED during an active call
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
Due: prettier --write, eslint --fix

chore: fix deps
  package.json
  yarn.lock
Due: none

refactor: clean up test code by removing unnecessary variable declarations
  src/SessionManager/__tests__/@SessionManager.test.ts
Due: prettier --write, eslint --fix

chore(release): 25.2.3
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update .npmignore to exclude test artifacts from dist directory
  .npmignore
Due: none

fix: ensure selectSystemStatus returns CALL_ACTIVE for IN_ROOM regardless of connection and incoming/presentation statuses
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
Due: prettier --write, eslint --fix

chore(release): 25.2.4
  CHANGELOG.md
  package.json
Due: prettier --write

fix: transmit room between p2p participants
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/CallManager/@CallManager.ts
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
  src/ConnectionManager/@ConnectionManager.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
  src/tools/__tests__/hasPeerToPeer.test.ts
  src/tools/hasPeerToPeer.ts
  src/tools/index.ts
Due: prettier --write, eslint --fix
