Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): 26.21.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(AutoConnectorManager): implement unified requestReconnect mechanism and enhance state machine dependencies for improved reconnection handling
  docs/architecture/components/AutoConnectorManager/index.md
  docs/architecture/components/AutoConnectorManager/state-machine.md
  docs/recipes/auto-reconnection.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/__tests__/createAutoConnectorMachine.test.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/createAutoConnectorMachine.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.basic.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.telephony.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
  src/AutoConnectorManager/__tests__/createMachineDeps.test.ts
  src/AutoConnectorManager/createMachineDeps.ts
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

feat(AutoConnectorManager): implement coalescing mechanism for reconnect requests to optimize connection handling
  docs/architecture/components/AutoConnectorManager/index.md
  docs/architecture/components/AutoConnectorManager/state-machine.md
  docs/recipes/auto-reconnection.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/ReconnectRequestCoalescer.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
  src/AutoConnectorManager/__tests__/ReconnectRequestCoalescer.test.ts
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

feat(AutoConnectorManager): introduce TelephonyFailPolicy for enhanced error handling and reconnection logic
  docs/architecture/components/AutoConnectorManager/state-machine.md
  docs/recipes/auto-reconnection.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/TelephonyFailPolicy.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.telephony.test.ts
  src/AutoConnectorManager/__tests__/TelephonyFailPolicy.test.ts
  src/AutoConnectorManager/events.ts
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

refactor(AutoConnectorManager): update connection handling to use sipConnector and remove private property ignores in tests
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.connection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.events.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.telephony.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
Due: prettier --write, eslint --fix

test(AutoConnectorManager): enhance tests by removing private property ignores and improving connection handling assertions
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.basic.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
  src/AutoConnectorManager/__tests__/AttemptsState.test.ts
  src/AutoConnectorManager/__tests__/CheckTelephonyRequester.test.ts
Due: prettier --write, eslint --fix

feat(AutoConnectorManager): add cancelPendingRetry method to streamline retry cancellation process
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.basic.test.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

feat: allow presentation call for answer to incoming call
  docs/architecture/components/CallManager/index.md
  docs/architecture/components/CallManager/state-machine.md
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.events.test.ts
Due: prettier --write, eslint --fix

docs(CallManager): clarify presentation call state transitions for both startCall and answerToIncomingCall
  docs/architecture/components/CallManager/state-machine.md
  docs/recipes/session-management.md
Due: prettier --write

feat: allow presentation call for answer to incoming call (#75)
  docs/architecture/components/CallManager/index.md
  docs/architecture/components/CallManager/state-machine.md
  docs/recipes/session-management.md
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.events.test.ts
Due: prettier --write, eslint --fix

chore(release): 26.22.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: auto connector state machine
  src/AutoConnectorManager/AutoConnectorStateMachine/createAutoConnectorMachine.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/createAutoConnectorMachineSetup.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/index.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/types.ts
  src/AutoConnectorManager/createMachineDeps.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
Due: prettier --write, eslint --fix

refactor(AutoConnectorManager): replace EAutoConnectorState constants with enum for improved type safety
  src/AutoConnectorManager/AutoConnectorStateMachine/AutoConnectorStateMachine.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/__tests__/createAutoConnectorMachine.test.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/createAutoConnectorMachine.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/index.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/types.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
Due: prettier --write, eslint --fix

refactor(AutoConnectorManager)!: remove onBeforeRetry functionality and related references to simplify connection retry logic
  docs/architecture/components/AutoConnectorManager/state-machine.md
  docs/recipes/auto-reconnection.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/__tests__/AutoConnectorStateMachine.test.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/__tests__/createAutoConnectorMachine.test.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/createAutoConnectorMachine.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/createAutoConnectorMachineSetup.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/types.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.basic.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.connection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.events.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.telephony.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
  src/AutoConnectorManager/__tests__/createMachineDeps.test.ts
  src/AutoConnectorManager/createMachineDeps.ts
  src/AutoConnectorManager/types.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
Due: prettier --write, eslint --fix

refactor(AutoConnectorManager): update checkTelephonyRequester to use getParameters callback and simplify request handling
  docs/architecture/components/AutoConnectorManager/index.md
  docs/architecture/components/AutoConnectorManager/state-machine.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/AutoConnectorRuntime.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/__tests__/AutoConnectorStateMachine.test.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/__tests__/createAutoConnectorMachine.test.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/createAutoConnectorMachineSetup.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/types.ts
  src/AutoConnectorManager/CheckTelephonyRequester.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.basic.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.telephony.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
  src/AutoConnectorManager/__tests__/AutoConnectorRuntime.test.ts
  src/AutoConnectorManager/__tests__/CheckTelephonyRequester.test.ts
  src/AutoConnectorManager/__tests__/createMachineDeps.test.ts
  src/AutoConnectorManager/createMachineDeps.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
Due: prettier --write, eslint --fix

fix!: remove network and sleep resume subscribers from AutoConnectorManager
  docs/architecture/components/AutoConnectorManager/index.md
  docs/recipes/auto-reconnection.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/AutoConnectorRuntime.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
  src/AutoConnectorManager/__tests__/AutoConnectorRuntime.test.ts
  src/AutoConnectorManager/__tests__/ReconnectRequestCoalescer.test.ts
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

refactor(AutoConnectorManager): enhance reconnect logic by adding shouldRequestReconnect method to control reconnection requests
  src/AutoConnectorManager/@AutoConnectorManager.ts
Due: prettier --write, eslint --fix

refactor(AutoConnectorManager): streamline initialization by consolidating dependencies and removing unused imports
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/AutoConnectorRuntime.ts
  src/AutoConnectorManager/__tests__/AutoConnectorRuntime.test.ts
Due: prettier --write, eslint --fix

refactor(AutoConnectorManager): simplify reconnect actions by binding methods directly to the state machine
  src/AutoConnectorManager/@AutoConnectorManager.ts
Due: prettier --write, eslint --fix

fix(ConnectionManager): enhance disconnect logic to handle requested disconnections
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/__tests__/@ConnectionManager.test.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
Due: prettier --write, eslint --fix

chore: improve coverage reporting
  package.json
Due: none

feat(AutoConnectorManager): add shouldDisconnectBeforeAttempt method to manage disconnection logic before connection attempts
  src/AutoConnectorManager/AutoConnectorRuntime.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/__tests__/AutoConnectorStateMachine.test.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/__tests__/createAutoConnectorMachine.test.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/createAutoConnectorMachine.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/createAutoConnectorMachineSetup.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/types.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.basic.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.events.test.ts
  src/AutoConnectorManager/__tests__/AutoConnectorRuntime.test.ts
  src/AutoConnectorManager/__tests__/createMachineDeps.test.ts
  src/AutoConnectorManager/createMachineDeps.ts
Due: prettier --write, eslint --fix

chore: update test coverage script to display report on failure
  package.json
  scripts/showCoverageReport.cjs
Due: none

refactor(AutoConnectorManager): update type exports and adjust session manager to use new state machine types
  src/AutoConnectorManager/AutoConnectorStateMachine/AutoConnectorStateMachine.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/index.ts
  src/AutoConnectorManager/index.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/SessionManager/selectors.ts
  src/SessionManager/types.ts
Due: prettier --write, eslint --fix

fix(SessionManager): handle autoConnector disconnecting in system status
  docs/architecture/components/SessionManager/index.md
  docs/architecture/components/SessionManager/system-status.md
  docs/architecture/state-machines.md
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
Due: prettier --write, eslint --fix

docs(AutoConnectorManager): clarify connection process and state machine events
  docs/architecture/components/AutoConnectorManager/index.md
  docs/architecture/components/AutoConnectorManager/state-machine.md
Due: prettier --write

feat(SessionManager): add selectAutoConnectorStatus selector to manage auto connector state
  src/SessionManager/selectors.ts
Due: prettier --write, eslint --fix

fix(Statuses): update onStatusesChange to use selectAutoConnectorStatus for improved state management
  demo/Statuses.ts
Due: none

feat(SessionManager): implement deep equality check for snapshots and optimize subscriber notifications
  src/SessionManager/@SessionManager.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/__tests__/Statuses.test.ts
Due: prettier --write, eslint --fix

fix(SessionManager): update system status logic to include CONNECTING state for autoConnector.CONNECTED_MONITORING
  docs/architecture/components/SessionManager/index.md
  docs/architecture/components/SessionManager/system-status.md
  docs/architecture/state-machines.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/SessionManager/@SessionManager.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
Due: prettier --write, eslint --fix

fix(SessionManager): refine system status logic for CONNECTING state based on connection establishment
  docs/architecture/components/SessionManager/index.md
  docs/architecture/components/SessionManager/system-status.md
  docs/architecture/state-machines.md
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
Due: prettier --write, eslint --fix

docs(StateMachines): restructure session overview and update state machine documentation for clarity and integration details
  docs/architecture/components/AutoConnectorManager/state-machine.md
  docs/architecture/components/CallManager/state-machine.md
  docs/architecture/components/ConnectionManager/state-machine.md
  docs/architecture/components/IncomingCallManager/state-machine.md
  docs/architecture/components/PresentationManager/state-machine.md
  docs/architecture/state-machines.md
Due: prettier --write

docs: add full mermaid state diagrams per component state-machine
  docs/architecture/components/AutoConnectorManager/state-machine.md
  docs/architecture/components/CallManager/state-machine.md
  docs/architecture/components/ConnectionManager/state-machine.md
  docs/architecture/components/IncomingCallManager/state-machine.md
  docs/architecture/components/PresentationManager/state-machine.md
Due: prettier --write

feat(ConnectionManager): add UA_CONNECTING event to state machine and update documentation for connection transitions
  docs/architecture/components/ConnectionManager/state-machine.md
  src/ConnectionManager/ConnectionStateMachine.ts
  src/ConnectionManager/__tests__/ConnectionStateMachine.test.ts
Due: prettier --write, eslint --fix

chore(demo): enable JsSIP debugging
  demo/Session/sipConnectorFacade.ts
Due: none

feat(ConnectionManager): enhance state machine to manage registerRequired flag for connection transitions
  docs/architecture/components/ConnectionManager/state-machine.md
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/ConnectionStateMachine.ts
  src/ConnectionManager/__tests__/ConnectionStateMachine.test.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/SessionManager/__tests__/selectors.test.ts
Due: prettier --write, eslint --fix

feat(ConnectionManager): introduce applyRegisterRequiredFromMachineEvent function and add integration tests for registerRequired context handling
  src/ConnectionManager/ConnectionStateMachine.ts
  src/ConnectionManager/__tests__/ConnectionStateMachine.registerRequired.integration.test.ts
Due: prettier --write, eslint --fix

refactor(logger): replace console.log with debug logging across demo and state machine files for improved logging consistency
  demo/LogsManager.ts
  demo/PresentationManager.ts
  demo/Session/RecvQualityManager.ts
  demo/index.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/AutoConnectorStateMachine.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/__tests__/AutoConnectorStateMachine.test.ts
  src/AutoConnectorManager/__tests__/AutoConnectorRuntime.test.ts
  src/CallManager/CallStateMachine/CallStateMachine.ts
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
  src/ContentedStreamManager/ContentedStreamStateMachine.ts
  src/ContentedStreamManager/__tests__/ContentedStreamStateMachine.test.ts
  src/IncomingCallManager/IncomingCallStateMachine.ts
  src/IncomingCallManager/__tests__/IncomingCallStateMachine.test.ts
  src/PresentationManager/PresentationStateMachine.ts
  src/PresentationManager/__tests__/PresentationStateMachine.test.ts
  src/SipConnectorFacade/__tests__/actionsProgressCall.test.ts
  src/SipConnectorFacade/__tests__/actionsProgressIncomingCall.test.ts
  src/__fixtures__/BaseSession.mock.ts
  src/__fixtures__/UA.mock.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *src/**/*.{js,ts,json}) or (any of: *.md)
  eslint --fix: any of: *src/**/*.{js,ts,json}
