Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(release): 0.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore: fix types
  src/SipConnector.ts
  src/__tests__/connect.ts
Due: prettier --write, eslint --fix

chore(release): 0.0.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add videoSendingBalancer‎
  jest.config.js
  package.json
  src/SipConnector.ts
  src/__tests__/call.ts
  src/headers.ts
  src/videoSendingBalancer‎/index.ts
  src/videoSendingBalancer‎/processSender.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 0.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: add export resolveVideoSendingBalancer to index
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 0.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: conflict videoSendingBalancer‎ with output info
  src/SipConnector.ts
  src/__tests__/mainCamControl.ts
  src/eventNames.ts
  src/videoSendingBalancer‎/index.ts
  src/videoSendingBalancer‎/processSender.ts
Due: prettier --write, eslint --fix

chore(release): 0.1.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix: race condition vdeoSendingBalancer after disconnect
  package.json
  src/videoSendingBalancer‎/processSender.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(sip-connector): add only-audio-mode support
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore: fix lint
  .eslintrc
Due: none

chore(release): 0.1.3
  CHANGELOG.md
  package.json
Due: prettier --write

test(sip-connector): add module test
  src/__tests__/callWithNoVideoTracks.ts
Due: prettier --write, eslint --fix

feat(sip-connector): add only-audio-mode support + module test
  src/SipConnector.ts
  src/__tests__/callWithNoVideoTracks.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): create a new method for generating audio streams
  src/SipConnector.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): set required return media-stream for _generate-stream method
  src/SipConnector.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): use map in _generate-audio-stream method
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore(release): 0.1.4
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: add some types in tests
  src/__mocks__/BaseSession.mock.ts
  src/__mocks__/RTCPeerConnectionMock.ts
  src/__mocks__/Registrator.mock.ts
  src/__mocks__/Session.mock.ts
  src/__mocks__/UA.mock.ts
  src/__mocks__/jssip.mock.ts
Due: prettier --write, eslint --fix

fix: send extraheaders when connect BREAKING CHANGE: remove public method start
  src/SipConnector.ts
  src/__mocks__/index.ts
  src/__tests__/connect.ts
  src/getExtraHeadersRegistration.ts
Due: prettier --write, eslint --fix

fix(sip-connector): set correct context for generate audio stream method
  src/SipConnector.ts
  src/__mocks__/Session.mock.ts
  src/__tests__/callWithNoVideoTracks.ts
Due: prettier --write, eslint --fix

refactor: add some types
  src/SipConnector.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): remove ts-ignore
  src/__tests__/callWithNoVideoTracks.ts
Due: prettier --write, eslint --fix

refactor(session-mock): rewrite has-video-tracks method as function
  src/__mocks__/Session.mock.ts
Due: prettier --write, eslint --fix

fix(sip-connector): set correct context for generate audio stream method (#4)
  src/SipConnector.ts
  src/__mocks__/Session.mock.ts
  src/__tests__/callWithNoVideoTracks.ts
Due: prettier --write, eslint --fix

chore: fix lint
  src/SipConnector.ts
  src/__mocks__/Session.mock.ts
  src/__tests__/callWithNoVideoTracks.ts
Due: prettier --write, eslint --fix

chore(release): 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: send remoteAddress in headers
  src/SipConnector.ts
  src/__mocks__/index.ts
  src/__tests__/connect.ts
  src/getExtraHeadersRegistration.ts
  src/getExtraHeadersRemoteAddress.ts
Due: prettier --write, eslint --fix

refactor: some
  src/SipConnector.ts
  src/utils.ts
Due: prettier --write, eslint --fix

chore(release): 1.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

test: add check tracks sender with only audio mode
  src/__tests__/callWithNoVideoTracks.ts
Due: prettier --write, eslint --fix

fix(video-sending-balancer): do not set resolution for non existent video track
  src/videoSendingBalancer‎/index.ts
Due: prettier --write, eslint --fix

refactor(video-sending-balancer): check is video track exist before change resolution
  src/videoSendingBalancer‎/index.ts
  src/videoSendingBalancer‎/processSender.ts
Due: prettier --write, eslint --fix

Do not set resolution for non existent video track (#5)
  src/videoSendingBalancer‎/index.ts
  src/videoSendingBalancer‎/processSender.ts
Due: prettier --write, eslint --fix

feat: move param sdpSemantics to connect BREAKING CHANGE: sdpSemantics removed from constructor
  src/SipConnector.ts
  src/videoSendingBalancer‎/processSender.ts
Due: prettier --write, eslint --fix

chore(release): 2.0.0
  CHANGELOG.md
  package.json
Due: prettier --write
