Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(release): 5.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: check codec in videoSendingBalance
  src/videoSendingBalancer/index.ts
Due: prettier --write, eslint --fix

chore(release): 5.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(sip-connector): move events to constants
  src/SipConnector.ts
  src/eventNames.ts
  src/events.ts
Due: prettier --write, eslint --fix

test(sip-connector): use enum event names in tests and mocks
  src/__mocks__/BaseSession.mock.ts
  src/__mocks__/Session.mock.ts
  src/__mocks__/UA.mock.ts
  src/__mocks__/jssip.mock.ts
  src/__tests__/accountNotify.ts
  src/__tests__/actions.ts
  src/__tests__/call.ts
  src/__tests__/channelsNotify.ts
  src/__tests__/events.ts
  src/__tests__/incomingCall.ts
  src/__tests__/mainCamControl.ts
  src/__tests__/participantMoveRequests.ts
  src/__tests__/participantNotify.ts
  src/__tests__/webcastNotify.ts
Due: prettier --write, eslint --fix

test(sip-connector): test for participant token issued notify
  src/SipConnector.ts
  src/__mocks__/conferenceParticipantTokenIssuedNotify.ts
  src/__tests__/conferenceParticipantTokenIssuedNotify.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): use constants instead of enum
  src/SipConnector.ts
  src/__mocks__/BaseSession.mock.ts
  src/__mocks__/Session.mock.ts
  src/__mocks__/UA.mock.ts
  src/__mocks__/jssip.mock.ts
  src/__tests__/accountNotify.ts
  src/__tests__/actions.ts
  src/__tests__/call.ts
  src/__tests__/channelsNotify.ts
  src/__tests__/conferenceParticipantTokenIssuedNotify.ts
  src/__tests__/events.ts
  src/__tests__/incomingCall.ts
  src/__tests__/mainCamControl.ts
  src/__tests__/participantMoveRequests.ts
  src/__tests__/participantNotify.ts
  src/__tests__/webcastNotify.ts
  src/constants.ts
  src/eventNames.ts
  src/events.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): remove as const postfix from constants
  src/constants.ts
Due: prettier --write, eslint --fix

fix(sip-connector): fix lint errors
  src/SipConnector.ts
  src/__mocks__/conferenceParticipantTokenIssuedNotify.ts
  src/constants.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

fix(sip-connector): small
  src/eventNames.ts
Due: prettier --write, eslint --fix

feat: participant token issued notify (#14)
  src/SipConnector.ts
  src/__mocks__/BaseSession.mock.ts
  src/__mocks__/conferenceParticipantTokenIssuedNotify.ts
  src/__tests__/conferenceParticipantTokenIssuedNotify.ts
  src/constants.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

test: disconnect
  src/__tests__/connect.ts
  src/__tests__/disconnect.ts
Due: prettier --write, eslint --fix

chore(release): 5.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

test: fix failed registration
  src/__mocks__/UA.mock.ts
  src/__tests__/connect.ts
Due: prettier --write, eslint --fix

chore(release): 5.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  src/SipConnector.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 5.1.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix(sip-connector): set restore session function as non cancelable
  src/SipConnector.ts
Due: prettier --write, eslint --fix

refactor: fix some types
  src/SipConnector.ts
Due: prettier --write, eslint --fix

fix: restore session after terminate from server
  src/SipConnector.ts
  src/__tests__/call.ts
Due: prettier --write, eslint --fix

chore(release): 5.1.3
  CHANGELOG.md
  package.json
Due: prettier --write

fix: stopPresentation before hengUp
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore(release): 5.1.4
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 5.1.5
  CHANGELOG.md
  package.json
Due: prettier --write

fix: correct value max bitrate
  src/videoSendingBalancer/getMaxBitrateByWidth.ts
Due: prettier --write, eslint --fix

chore(release): 5.1.6
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 5.1.7
  CHANGELOG.md
  package.json
Due: prettier --write

remove conflict
  src/SipConnector.ts
Due: prettier --write, eslint --fix

remove conflict2
  src/SipConnector.ts
Due: prettier --write, eslint --fix

feat(sip-connector): info sendMediaState
  package.json
  src/SipConnector.ts
  src/__mocks__/mediaState.ts
  src/__tests__/mediaState.ts
  src/headers.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(sip-connector): enableMainCam and enableMic
  src/SipConnector.ts
  src/headers.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): small use different content type
  src/SipConnector.ts
  src/headers.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): renaming ans other after review
  src/SipConnector.ts
  src/__mocks__/mediaState.ts
  src/__tests__/mediaState.ts
Due: prettier --write, eslint --fix

feat: added info messages and requests to enable cam and mic (#16)
  package.json
  src/SipConnector.ts
  src/__mocks__/mediaState.ts
  src/__tests__/mediaState.ts
  src/headers.ts
  yarn.lock
Due: prettier --write, eslint --fix
