Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

feat: add support event participant:move-request-to-spectators-over-sfu
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests-utils__/helpers.ts
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/ApiManager/__tests__/@ApiManager.notify.test.ts
  src/ApiManager/__tests__/@ApiManager.test.ts
  src/ApiManager/constants.ts
  src/ApiManager/eventNames.ts
Due: prettier --write, eslint --fix

chore(release): 15.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: use @krivega/eslint-config
  eslint.config.base.ts
  eslint.config.jest.ts
  eslint.config.ts
  package.json
  src/CallManager/MCUCallStrategy.ts
  src/CallManager/__tests__/MCUCallStrategy.test.ts
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/UAFactory.ts
  src/ConnectionManager/__tests__/UAFactory.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnectorFacade/SipConnectorFacade.ts
  src/__fixtures__/BaseSession.mock.ts
  src/__fixtures__/RTCPeerConnectionMock.ts
  src/__fixtures__/RTCRtpSenderMock.ts
  src/__fixtures__/RTCSessionMock.ts
  src/__fixtures__/Registrator.mock.ts
  src/__fixtures__/UA.mock.ts
  src/setParametersToSender/__tests__/hasChangedRTCRtpSendParameters.ts
  src/setParametersToSender/hasChangedRTCRtpSendParameters.ts
  src/videoSendingBalancer/CodecProvider.ts
  src/videoSendingBalancer/SenderFinder.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update README
  README.md
Due: prettier --write

feat: add StatsPeerConnection
  package.json
  src/StatsPeerConnection/StatsPeerConnection.ts
  src/StatsPeerConnection/__fixtures__/callStaticsState.ts
  src/StatsPeerConnection/__tests__/StatsPeerConnection.intervals.ts
  src/StatsPeerConnection/__tests__/StatsPeerConnection.ts
  src/StatsPeerConnection/__tests__/parseStatsReports.ts
  src/StatsPeerConnection/__tests__/requestAllStatistics.ts
  src/StatsPeerConnection/constants.ts
  src/StatsPeerConnection/eventNames.ts
  src/StatsPeerConnection/index.ts
  src/StatsPeerConnection/parseStatsReports.ts
  src/StatsPeerConnection/requestAllStatistics.ts
  src/StatsPeerConnection/typings.ts
  src/StatsPeerConnection/utils/__tests__/hasAvailableStats.ts
  src/StatsPeerConnection/utils/__tests__/now.ts
  src/StatsPeerConnection/utils/__tests__/statsReportToObject.ts
  src/StatsPeerConnection/utils/hasAvailableStats.ts
  src/StatsPeerConnection/utils/index.ts
  src/StatsPeerConnection/utils/now.ts
  src/StatsPeerConnection/utils/statsReportToObject.ts
  src/index.ts
  src/tools/createUaParser/__tests__/createUaParser.test.ts
  src/tools/createUaParser/__tests__/isElectronEnvironment.test.ts
  src/tools/createUaParser/createUaParser.ts
  src/tools/createUaParser/index.ts
  src/tools/createUaParser/isElectronEnvironment.ts
  src/tools/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: typed events in StatsPeerConnection
  src/ConnectionManager/eventNames.ts
  src/StatsPeerConnection/StatsPeerConnection.ts
  src/StatsPeerConnection/__tests__/StatsPeerConnection.ts
  src/StatsPeerConnection/eventNames.ts
Due: prettier --write, eslint --fix

refactor: move setParametersToSender to tools
  src/index.ts
  src/setParametersToSender/types.ts
  src/tools/__tests__/resolveUpdateTransceiver.test.ts
  src/tools/index.ts
  src/tools/resolveUpdateTransceiver.ts
  src/tools/setParametersToSender/__tests__/configureDegradationPreference.test.ts
  src/tools/setParametersToSender/__tests__/configureEmptyEncodings.test.ts
  src/tools/setParametersToSender/__tests__/configureEncodings.test.ts
  src/tools/setParametersToSender/__tests__/configureMaxBitrate.test.ts
  src/tools/setParametersToSender/__tests__/configureScaleResolutionDownBy.test.ts
  src/tools/setParametersToSender/__tests__/hasChangedRTCRtpSendParameters.test.ts
  src/tools/setParametersToSender/__tests__/resolveHasNeedToUpdateItemEncoding.test.ts
  src/tools/setParametersToSender/__tests__/setEncodingsToSender.test.ts
  src/tools/setParametersToSender/__tests__/setMaxBitrateToSender.test.ts
  src/tools/setParametersToSender/__tests__/setParametersToSender.test.ts
  src/tools/setParametersToSender/configureDegradationPreference.ts
  src/tools/setParametersToSender/configureEmptyEncodings.ts
  src/tools/setParametersToSender/configureEncodings.ts
  src/tools/setParametersToSender/configureMaxBitrate.ts
  src/tools/setParametersToSender/configureScaleResolutionDownBy.ts
  src/tools/setParametersToSender/hasChangedRTCRtpSendParameters.ts
  src/tools/setParametersToSender/index.ts
  src/tools/setParametersToSender/resolveHasNeedToUpdateItemEncoding.ts
  src/tools/setParametersToSender/setEncodingsToSender.ts
  src/tools/setParametersToSender/setMaxBitrateToSender.ts
  src/tools/setParametersToSender/setParametersToSender.ts
  src/tools/setParametersToSender/types.ts
  src/videoSendingBalancer/ParametersSetterWithQueue.ts
  src/videoSendingBalancer/SenderBalancer.ts
  src/videoSendingBalancer/VideoSendingBalancer.ts
  src/videoSendingBalancer/types.ts
Due: prettier --write, eslint --fix

refactor: rename videoSendingBalancer to VideoSendingBalancer
  src/VideoSendingBalancer/CodecProvider.ts
  src/VideoSendingBalancer/ParametersSetterWithQueue.ts
  src/VideoSendingBalancer/README.md
  src/VideoSendingBalancer/SenderBalancer.ts
  src/VideoSendingBalancer/SenderFinder.ts
  src/VideoSendingBalancer/TaskQueue.ts
  src/VideoSendingBalancer/VideoSendingBalancer.ts
  src/VideoSendingBalancer/VideoSendingEventHandler.ts
  src/VideoSendingBalancer/__tests__/CodecProvider.test.ts
  src/VideoSendingBalancer/__tests__/ParametersSetterWithQueue.test.ts
  src/VideoSendingBalancer/__tests__/SenderBalancer.test.ts
  src/VideoSendingBalancer/__tests__/SenderFinder.test.ts
  src/VideoSendingBalancer/__tests__/TaskQueue.test.ts
  src/VideoSendingBalancer/__tests__/VideoSendingBalancer.test.ts
  src/VideoSendingBalancer/__tests__/VideoSendingEventHandler.test.ts
  src/VideoSendingBalancer/__tests__/resolveVideoSendingBalancer.test.ts
  src/VideoSendingBalancer/calcBitrate/__tests__/calcMaxBitrateByWidth.test.ts
  src/VideoSendingBalancer/calcBitrate/__tests__/calcMaxBitrateByWidthAndCodec.test.ts
  src/VideoSendingBalancer/calcBitrate/__tests__/getMaximumBitrate.test.ts
  src/VideoSendingBalancer/calcBitrate/__tests__/hasAv1Codec.test.ts
  src/VideoSendingBalancer/calcBitrate/__tests__/scaleBitrateByCodec.test.ts
  src/VideoSendingBalancer/calcBitrate/calcMaxBitrateByWidth.ts
  src/VideoSendingBalancer/calcBitrate/calcMaxBitrateByWidthAndCodec.ts
  src/VideoSendingBalancer/calcBitrate/hasAv1Codec.ts
  src/VideoSendingBalancer/calcBitrate/index.ts
  src/VideoSendingBalancer/calcBitrate/scaleBitrateByCodec.ts
  src/VideoSendingBalancer/calcResolution/__tests__/calcScaleResolutionDownBy.test.ts
  src/VideoSendingBalancer/calcResolution/calcScaleResolutionDownBy.ts
  src/VideoSendingBalancer/calcResolution/index.ts
  src/VideoSendingBalancer/index.ts
  src/VideoSendingBalancer/types.ts
  src/index.ts
  src/tools/__tests__/resolveUpdateTransceiver.test.ts
  src/tools/__tests__/scaleResolutionAndBitrate.test.ts
  src/tools/scaleResolutionAndBitrate.ts
Due: prettier --write, eslint --fix

feat: add StatsManager
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/events.test.ts
  src/SipConnector/eventNames.ts
  src/SipConnectorFacade/SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  src/StatsManager/eventNames.ts
  src/StatsManager/index.ts
  src/StatsPeerConnection/index.ts
  src/tools/index.ts
Due: prettier --write, eslint --fix

chore(release): 15.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add send info to server with stats (availableIncomingBitrate)
  package.json
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ApiManager/constants.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/events.test.ts
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 15.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: export types TInboundStats, TOutboundStats
  README.md
  src/StatsPeerConnection/StatsPeerConnection.ts
  src/StatsPeerConnection/__fixtures__/callStaticsState.ts
  src/StatsPeerConnection/__tests__/StatsPeerConnection.intervals.ts
  src/StatsPeerConnection/eventNames.ts
  src/StatsPeerConnection/index.ts
  src/StatsPeerConnection/parseStatsReports.ts
  src/StatsPeerConnection/requestAllStatistics.ts
  src/StatsPeerConnection/types.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 15.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update arch
  docs/arch.md
Due: prettier --write

docs: update some
  LICENSE
  refactor.md
  refactoring.md
Due: prettier --write

feat!: move videoSendingBalancer to SipConnector
  src/SipConnector/@SipConnector.ts
  src/SipConnector/eventNames.ts
  src/VideoSendingBalancer/VideoSendingBalancer.ts
  src/VideoSendingBalancer/VideoSendingEventHandler.ts
  src/VideoSendingBalancer/__tests__/VideoSendingBalancer.test.ts
  src/VideoSendingBalancer/__tests__/VideoSendingEventHandler.test.ts
  src/VideoSendingBalancer/__tests__/resolveVideoSendingBalancer.test.ts
  src/VideoSendingBalancer/types.ts
  src/VideoSendingBalancerManager/@VideoSendingBalancerManager.ts
  src/VideoSendingBalancerManager/README.md
  src/VideoSendingBalancerManager/__tests__/@VideoSendingBalancerManager.test.ts
  src/VideoSendingBalancerManager/eventNames.ts
  src/VideoSendingBalancerManager/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  src/ConnectionManager/SipOperations.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: add supports preferred codecs in SipConnector
  src/CallManager/MCUCallStrategy.ts
  src/CallManager/types.ts
  src/PresentationManager/@PresentationManager.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnectorFacade/SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/tools/__tests__/setCodecPreferences.test.ts
  src/tools/setCodecPreferences.ts
Due: prettier --write, eslint --fix

feat: add support maxBitrate to PresentationManager
  src/PresentationManager/@PresentationManager.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/constants.ts
  src/SipConnectorFacade/SipConnectorFacade.ts
  src/tools/setParametersToSender/index.ts
Due: prettier --write, eslint --fix

refactor!: remove simulcastEncodings from SipConnectorFacade
  src/SipConnectorFacade/SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/tools/__tests__/generateSimulcastEncodings.test.ts
  src/tools/__tests__/scaleResolutionAndBitrate.test.ts
  src/tools/generateSimulcastEncodings.ts
  src/tools/scaleResolutionAndBitrate.ts
  src/tools/setParametersToSender/setMaxBitrateToSender.ts
Due: prettier --write, eslint --fix

feat: start balance video after start call
  src/PresentationManager/@PresentationManager.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnectorFacade/SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/VideoSendingBalancer/VideoSendingBalancer.ts
  src/VideoSendingBalancer/__tests__/VideoSendingBalancer.test.ts
  src/VideoSendingBalancer/__tests__/resolveVideoSendingBalancer.test.ts
  src/VideoSendingBalancer/index.ts
  src/VideoSendingBalancerManager/@VideoSendingBalancerManager.ts
  src/VideoSendingBalancerManager/__tests__/@VideoSendingBalancerManager.test.ts
  src/__tests__/logger.test.ts
  src/index.ts
  src/logger.ts
Due: prettier --write, eslint --fix

test: upscale coverage
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/onAddedTransceiverCodec.test.ts
  src/SipConnector/__tests__/setCodecPreferences.test.ts
  src/SipConnectorFacade/SipConnectorFacade.ts
  src/VideoSendingBalancerManager/__tests__/@VideoSendingBalancerManager.events.test.ts
  src/VideoSendingBalancerManager/__tests__/@VideoSendingBalancerManager.schedule.error.test.ts
  src/VideoSendingBalancerManager/__tests__/@VideoSendingBalancerManager.test.ts
  src/tools/__tests__/setCodecPreferences.test.ts
Due: prettier --write, eslint --fix

feat: handle change track for video balance
  package.json
  src/SipConnector/__tests__/setCodecPreferences.test.ts
  src/VideoSendingBalancer/SenderBalancer.ts
  src/VideoSendingBalancer/TrackMonitor.ts
  src/VideoSendingBalancer/VideoSendingBalancer.ts
  src/VideoSendingBalancer/__tests__/TrackMonitor.test.ts
  src/VideoSendingBalancer/__tests__/resolveVideoSendingBalancer.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

test: upscale coverage
  src/VideoSendingBalancer/TrackMonitor.ts
  src/VideoSendingBalancer/VideoSendingBalancer.ts
  src/VideoSendingBalancer/__fixtures__/createMockTrack.ts
  src/VideoSendingBalancer/__fixtures__/index.ts
  src/VideoSendingBalancer/__tests__/TrackMonitor.test.ts
  src/VideoSendingBalancer/__tests__/VideoSendingBalancer.test.ts
Due: prettier --write, eslint --fix

feat: add adaptive polling
  src/VideoSendingBalancer/TrackMonitor.ts
  src/VideoSendingBalancer/__tests__/TrackMonitor.test.ts
Due: prettier --write, eslint --fix

chore(release): 16.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: some
  src/VideoSendingBalancer/TrackMonitor.ts
Due: prettier --write, eslint --fix

docs: update README.md for version 16.0.0
  README.md
Due: prettier --write

docs: update architecture documentation for v16.0.0
  docs/arch.md
Due: prettier --write

docs: update
  README.md
  docs/arch.md
Due: prettier --write

docs: add video bitrate table and calculation algorithm
  docs/video-bitrate-table.md
Due: prettier --write

docs: update README for version 16.0.0 with breaking changes and new features
  README.md
Due: prettier --write

chore: update dependencies
  eslint.config.ts
  package.json
  yarn.lock
Due: none

chore(release): 16.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: fixed errors calling presentation stop if presentation start was not waited for
  package.json
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
  src/ConnectionManager/__tests__/RegistrationManager.test.ts
  src/PresentationManager/@PresentationManager.ts
  src/PresentationManager/__tests__/@PresentationManager.test.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  src/StatsPeerConnection/__tests__/StatsPeerConnection.intervals.test.ts
  src/StatsPeerConnection/__tests__/StatsPeerConnection.test.ts
  src/StatsPeerConnection/__tests__/parseStatsReports.test.ts
  src/StatsPeerConnection/__tests__/requestAllStatistics.test.ts
  src/VideoSendingBalancer/__tests__/VideoSendingBalancer.test.ts
  src/__fixtures__/RTCSessionMock.ts
  yarn.lock
Due: prettier --write, eslint --fix
