Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

feat: add content hint into call method
  src/SipConnector.ts
Due: prettier --write, eslint --fix

feat: add content hint into replace-media-stream method
  src/SipConnector.ts
Due: prettier --write, eslint --fix

feat: add content hint into answer method
  src/SipConnector.ts
Due: prettier --write, eslint --fix

feat: add content hint parameter into call and answer resolvers
  src/tools/answerIncomingCall.ts
  src/tools/callToServer.ts
Due: prettier --write, eslint --fix

feat: add content hint parameter for call, answer and replace media stream methods (#45)
  src/SipConnector.ts
  src/tools/answerIncomingCall.ts
  src/tools/callToServer.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore: fix types
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore(release): 9.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add remoteAddress and extraHeaders to checkTelephony
  src/SipConnector.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore(release): 9.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  .ncurc.json
  package.json
  src/SipConnector.ts
  src/__fixtures__/RTCPeerConnectionMock.ts
  src/__fixtures__/RTCRtpSenderMock.ts
  src/__fixtures__/Registrator.mock.ts
  src/__tests__/presentation.ts
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 9.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat!: add setParametersToSender to call methods
  jest.config.ts
  package.json
  src/SipConnector.ts
  src/index.ts
  src/setParametersToSender/__tests__/configureDegradationPreference.ts
  src/setParametersToSender/__tests__/configureEmptyEncodings.ts
  src/setParametersToSender/__tests__/configureEncodings.ts
  src/setParametersToSender/__tests__/configureMaxBitrate.ts
  src/setParametersToSender/__tests__/configureScaleResolutionDownBy.ts
  src/setParametersToSender/__tests__/hasChangedRTCRtpSendParameters.ts
  src/setParametersToSender/__tests__/resolveHasNeedToUpdateItemEncoding.ts
  src/setParametersToSender/__tests__/setParametersToSender.ts
  src/setParametersToSender/configureDegradationPreference.ts
  src/setParametersToSender/configureEmptyEncodings.ts
  src/setParametersToSender/configureEncodings.ts
  src/setParametersToSender/configureMaxBitrate.ts
  src/setParametersToSender/configureScaleResolutionDownBy.ts
  src/setParametersToSender/hasChangedRTCRtpSendParameters.ts
  src/setParametersToSender/index.ts
  src/setParametersToSender/resolveHasNeedToUpdateItemEncoding.ts
  src/setParametersToSender/setParametersToSender.ts
  src/tools/answerIncomingCall.ts
  src/tools/callToServer.ts
  src/tools/resolveHandleAddedSender.ts
  src/tools/resolveStartPresentation.ts
  src/tools/resolveUpdatePresentation.ts
  src/types.ts
  src/videoSendingBalancer/__tests__/resolveVideoSendingBalancer.ts
  src/videoSendingBalancer/index.ts
  src/videoSendingBalancer/setEncodingsToSender.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 10.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: setParametersToSender
  package.json
  src/__fixtures__/RTCRtpSenderMock.ts
  src/setParametersToSender/__tests__/setParametersToSender.ts
  src/setParametersToSender/configureDegradationPreference.ts
  src/setParametersToSender/configureEmptyEncodings.ts
  src/setParametersToSender/configureEncodings.ts
  src/setParametersToSender/configureMaxBitrate.ts
  src/setParametersToSender/configureScaleResolutionDownBy.ts
  src/setParametersToSender/setParametersToSender.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 10.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat!: add sendEncodings option to call methods
  package.json
  src/SipConnector.ts
  src/tools/answerIncomingCall.ts
  src/tools/callToServer.ts
  src/tools/resolveHandleAddedSender.ts
  src/tools/resolveStartPresentation.ts
  src/tools/resolveUpdatePresentation.ts
  src/types.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 11.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add simulcastEncodings option to call methods
  src/tools/__tests__/generateSimulcastEncodings.ts
  src/tools/answerIncomingCall.ts
  src/tools/callToServer.ts
  src/tools/generateSimulcastEncodings.ts
  src/tools/resolveStartPresentation.ts
  src/tools/resolveUpdatePresentation.ts
  src/types.ts
  src/utils/findVideoTrack.ts
  src/videoSendingBalancer/__tests__/processSender.ts
  src/videoSendingBalancer/__tests__/scaleResolutionAndBitrate.ts
  src/videoSendingBalancer/balance.ts
  src/videoSendingBalancer/processSender.ts
  src/videoSendingBalancer/scaleResolutionAndBitrate.ts
Due: prettier --write, eslint --fix

chore(release): 11.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

test: generateSimulcastEncodings
  src/tools/__tests__/generateSimulcastEncodings.ts
Due: prettier --write, eslint --fix

feat: added test constant
  src/constants.ts
Due: prettier --write, eslint --fix

feat: added resolveOnMoveToParticipants reaction
  src/SipConnector.ts
  src/constants.ts
  src/eventNames.ts
  src/tools/index.ts
  src/tools/resolveOnMoveToParticipants.ts
  src/tools/resolveOnMoveToSpectators.ts
Due: prettier --write, eslint --fix

feat: update participant move request (#46)
  src/SipConnector.ts
  src/constants.ts
  src/eventNames.ts
  src/tools/index.ts
  src/tools/resolveOnMoveToParticipants.ts
  src/tools/resolveOnMoveToSpectators.ts
Due: prettier --write, eslint --fix

chore(release): 11.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add degradationPreference options to call tools
  src/tools/answerIncomingCall.ts
  src/tools/callToServer.ts
  src/tools/resolveStartPresentation.ts
  src/tools/resolveUpdatePresentation.ts
  src/tools/resolveUpdateSenderInTransceiver.ts
Due: prettier --write, eslint --fix

chore(release): 11.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add tool resolveReplaceMediaStream
  src/SipConnector.ts
  src/tools/index.ts
  src/tools/resolveReplaceMediaStream.ts
Due: prettier --write, eslint --fix

chore(release): 11.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add preferredMimeTypesVideoCodecs to call methods
  src/tools/answerIncomingCall.ts
  src/tools/callToServer.ts
  src/tools/resolveReplaceMediaStream.ts
  src/tools/resolveStartPresentation.ts
  src/tools/resolveUpdatePresentation.ts
  src/tools/resolveUpdateSenderInTransceiver.ts
  src/tools/resolveUpdateTransceiver.ts
Due: prettier --write, eslint --fix

chore(release): 11.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add excludeMimeTypesVideoCodecs to call methods
  src/tools/answerIncomingCall.ts
  src/tools/callToServer.ts
  src/tools/resolveReplaceMediaStream.ts
  src/tools/resolveStartPresentation.ts
  src/tools/resolveUpdatePresentation.ts
  src/tools/resolveUpdateTransceiver.ts
Due: prettier --write, eslint --fix

chore(release): 11.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 11.6.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat!: move tools to SipConnectorFacade
  package.json
  src/SipConnectorFacade/SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/actionsProgressCall.ts
  src/SipConnectorFacade/__tests__/actionsProgressIncomingCall.ts
  src/SipConnectorFacade/__tests__/answerIncomingCall.ts
  src/SipConnectorFacade/__tests__/callToServer.ts
  src/SipConnectorFacade/__tests__/connectToServer.ts
  src/SipConnectorFacade/__tests__/resolveOnUseLicense.ts
  src/SipConnectorFacade/index.ts
  src/index.ts
  src/tools/__fixtures__/processRequest.ts
  src/tools/__tests__/connectToServer.ts
  src/tools/__tests__/sendDTMFAccumulated.ts
  src/tools/answerIncomingCall.ts
  src/tools/callToServer.ts
  src/tools/connectToServer.ts
  src/tools/disconnectFromServer.ts
  src/tools/index.ts
  src/tools/resolveAskPermissionToEnableCam.ts
  src/tools/resolveGetRemoteStreams.ts
  src/tools/resolveHandleChangeTracks.ts
  src/tools/resolveOnMoveToParticipants.ts
  src/tools/resolveOnMoveToSpectators.ts
  src/tools/resolveOnMustStopPresentation.ts
  src/tools/resolveOnUseLicense.ts
  src/tools/resolveReplaceMediaStream.ts
  src/tools/resolveSendMediaState.ts
  src/tools/resolveSendRefusalToTurnOnCam.ts
  src/tools/resolveSendRefusalToTurnOnMic.ts
  src/tools/resolveStartPresentation.ts
  src/tools/resolveStopShareSipConnector.ts
  src/tools/resolveUpdatePresentation.ts
  src/tools/resolveUpdateRemoteStreams.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 12.0.0
  CHANGELOG.md
  package.json
Due: prettier --write
