Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

refactor: move create ua to a new method
  junit.xml
  src/SipConnector.ts
Due: prettier --write, eslint --fix

refactor: add types
  src/SipConnector.ts
Due: prettier --write, eslint --fix

refactor: remove unnesessary variables
  src/SipConnector.ts
Due: prettier --write, eslint --fix

refactor: make register method of ua mock more readable
  src/__fixtures__/UA.mock.ts
Due: prettier --write, eslint --fix

refactor: remove junit-xml
  junit.xml
Due: none

refactor: rename function
  src/SipConnector.ts
Due: prettier --write, eslint --fix

feat: add method for check available of telephony (#31)
  src/SipConnector.ts
  src/__fixtures__/UA.mock.ts
  src/__tests__/checkTelephony.ts
Due: prettier --write, eslint --fix

refactor: improve createUa method
  src/SipConnector.ts
  src/__fixtures__/UA.mock.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 6.23.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add ua in promise of resolveConnectToServer
  src/tools/connectToServer.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  src/SipConnector.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 6.24.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: some types
  package.json
  src/__fixtures__/BaseSession.mock.ts
  src/__fixtures__/UA.mock.ts
  src/__fixtures__/index.ts
  src/__tests__/connect.ts
  src/tools/__fixtures__/connectToServer.ts
  src/tools/__fixtures__/hasValidUri.ts
  src/tools/__fixtures__/processRequest.ts
  src/tools/__tests__/processRequest.ts
  src/tools/disconnectFromServer.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 6.24.1
  CHANGELOG.md
  package.json
Due: prettier --write

test: add module tests for stopping incoming share before start outgoing
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

fix: stop incoming presentation in p2p-call before start outgoing presentation
  src/SipConnector.ts
Due: prettier --write, eslint --fix

test: check fail to send must-stop-presentation info
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

refactor: do not trigger presentation-failed event when send of must-stop-presentation has failed
  src/SipConnector.ts
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

fix: stop incoming presentation in p2p-call before start outgoing presentation (#32)
  src/SipConnector.ts
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  src/SipConnector.ts
  src/__fixtures__/RTCRtpSenderMock.ts
  src/__tests__/call.ts
  src/__tests__/checkTelephony.ts
  src/__tests__/connect.ts
  src/__tests__/mediaState.ts
  src/__tests__/presentation.ts
  src/__tests__/sendRefusalToTurnOn.ts
  src/__tests__/validateAPI.ts
  src/tools/__tests__/actionsProgressCall.ts
  src/tools/__tests__/connectToServer.ts
  src/tools/__tests__/processRequest.ts
  src/tools/answerIncomingCall.ts
  src/tools/callToServer.ts
  src/tools/connectToServer.ts
  src/tools/disconnectFromServer.ts
  src/tools/hasPurgatory.ts
  src/tools/resolveSendRefusalToTurnOnCam.ts
  src/tools/resolveSendRefusalToTurnOnMic.ts
  src/tools/resolveStopShareSipConnector.ts
  src/videoSendingBalancer/processSender.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 6.24.2
  CHANGELOG.md
  package.json
Due: prettier --write

test: check header-must-stop-presentation sending in p2p call before start presentation
  src/__tests__/presentation.ts
  src/headers.ts
Due: prettier --write, eslint --fix

fix: send x-webrtc prefix in header-must-stop-presentation
  src/SipConnector.ts
Due: prettier --write, eslint --fix

fix: add x-webrtc-share-state prefix to sending must-stop-presentation header (#33)
  src/SipConnector.ts
  src/__tests__/presentation.ts
  src/headers.ts
Due: prettier --write, eslint --fix

chore(release): 6.24.3
  CHANGELOG.md
  package.json
Due: prettier --write

test: add module test for move participant to spectators
  src/__fixtures__/participantMoveRequests.ts
  src/__tests__/participantMoveRequests.ts
Due: prettier --write, eslint --fix

feat: add event for move participant to spectators
  src/SipConnector.ts
  src/constants.ts
  src/eventNames.ts
  src/headers.ts
  src/tools/index.ts
  src/tools/resolveOnMoveToSpectators.ts
Due: prettier --write, eslint --fix

refactor: use if instead switch
  src/SipConnector.ts
Due: prettier --write, eslint --fix

refactor: remove unnecessary synthetic event
  src/SipConnector.ts
  src/constants.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

feat: add move-request-to-spectators session event (#34)
  src/SipConnector.ts
  src/__fixtures__/participantMoveRequests.ts
  src/__tests__/participantMoveRequests.ts
  src/constants.ts
  src/eventNames.ts
  src/headers.ts
  src/tools/index.ts
  src/tools/resolveOnMoveToSpectators.ts
Due: prettier --write, eslint --fix

chore(release): 6.25.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: add X-WEBRTC-PARTICIPANT-NAME to enterroom
  src/SipConnector.ts
  src/headers.ts
Due: prettier --write, eslint --fix

test: add test
  src/__fixtures__/Session.mock.ts
  src/__fixtures__/enterRoom.ts
  src/__tests__/callStatuses.ts
  src/__tests__/enterRoom.ts
Due: prettier --write, eslint --fix

feat!: add X-WEBRTC-PARTICIPANT-NAME to enterroom (#35)
  src/SipConnector.ts
  src/__fixtures__/Session.mock.ts
  src/__fixtures__/enterRoom.ts
  src/__tests__/callStatuses.ts
  src/__tests__/enterRoom.ts
  src/headers.ts
Due: prettier --write, eslint --fix

chore(release): 7.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: enterRoom data format changed
  src/__fixtures__/utils.ts
  src/tools/__fixtures__/call.ts
  src/tools/__tests__/callToServer.ts
  src/tools/callToServer.ts
Due: prettier --write, eslint --fix
