Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor: rename getters
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/CallManager/@CallManager.ts
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
Due: prettier --write, eslint --fix

refactor: two ways p2p room sending without retransmit
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/CallManager/@CallManager.ts
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
Due: prettier --write, eslint --fix

refactor: move p2p logic in own class
  src/ApiManager/@ApiManager.ts
  src/ApiManager/PeerToPeerManager.ts
  src/ApiManager/__tests__/PeerToPeerManager.test.ts
Due: prettier --write, eslint --fix

refactor: use uaProtected for user
  src/ApiManager/PeerToPeerManager.ts
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ApiManager/__tests__/PeerToPeerManager.test.ts
  src/ConnectionManager/@ConnectionManager.ts
Due: prettier --write, eslint --fix

refactor: end call with call manager when send of enter room has failed
  src/ApiManager/PeerToPeerManager.ts
  src/CallManager/@CallManager.ts
Due: prettier --write, eslint --fix

refactor: split p2p and direct p2p states in call state machine
  src/ApiManager/@ApiManager.ts
  src/ApiManager/PeerToPeerManager.ts
  src/ApiManager/__tests__/PeerToPeerManager.test.ts
  src/ApiManager/__tests__/getHeader.test.ts
  src/ApiManager/constants.ts
  src/ApiManager/events.ts
  src/ApiManager/getHeader.ts
  src/CallManager/@CallManager.ts
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
Due: prettier --write, eslint --fix

feat: use isp2p from call manager for presentation methods
  demo/PresentationManager.ts
  src/CallManager/@CallManager.ts
  src/PresentationManager/@PresentationManager.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnectorFacade/@SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/__tests__/presentation.test.ts
Due: prettier --write, eslint --fix

chore: update docs
  docs/arch/components.md
  docs/arch/state-machines.md
  docs/recipes/basic-setup.md
  docs/recipes/presentations.md
Due: prettier --write

refactor: remove unnecessary subscription
  src/ApiManager/PeerToPeerManager.ts
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ApiManager/__tests__/PeerToPeerManager.test.ts
  src/CallManager/@CallManager.ts
  src/CallManager/CallStateMachine.ts
Due: prettier --write, eslint --fix

fix: stop call when failed to send direct p2p room
  src/CallManager/@CallManager.ts
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
Due: prettier --write, eslint --fix

chore: update docs
  docs/api/api-events.md
  docs/recipes/events-handling.md
Due: prettier --write

refactor: move method connection manager
  src/ApiManager/PeerToPeerManager.ts
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/__tests__/@ConnectionManager.test.ts
Due: prettier --write, eslint --fix

fix: update participant name in PeerToPeerManager to use number instead of user
  src/ApiManager/PeerToPeerManager.ts
  src/ApiManager/__tests__/PeerToPeerManager.test.ts
Due: prettier --write, eslint --fix

fix: enforce isDirectPeerToPeer as a required property in TDirectP2PRoomContext
  src/CallManager/CallStateMachine.ts
Due: prettier --write, eslint --fix

refactor: move send enter room method to api manager
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ApiManager/events.ts
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/PeerToPeerManager/@PeerToPeerManager.ts
  src/PeerToPeerManager/__tests__/PeerToPeerManager.test.ts
  src/PeerToPeerManager/index.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

refactor: replace console.warn with logger in endCallWithError method
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

refactor: update CallManager and SipConnector to use new failed method for error handling
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

feat: add selector for getting call state snapshot (#70)
  docs/arch/components/SessionManager/index.md
  docs/recipes/session-management.md
  src/CallManager/CallStateMachine.ts
  src/CallManager/index.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
  src/SessionManager/types.ts
  src/tools/BaseStateMachine.ts
Due: prettier --write, eslint --fix

chore(release): 26.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: update media sending availability logic for spectators
  docs/api/api-events.md
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/__tests__/participantMoveRequests.test.ts
Due: prettier --write, eslint --fix

chore(release): 26.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

test: enable presentation cancellation tests after hang up call and adjust expectations
  src/__tests__/presentation.test.ts
Due: prettier --write, eslint --fix

chore: update copyright year in LICENSE and simplify README installation instructions
  LICENSE
  README.md
Due: prettier --write

refactor: simplify event triggering by removing unnecessary empty objects in ApiManager
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/ApiManager/__tests__/@ApiManager.notify.test.ts
  src/ApiManager/events.ts
  src/ContentedStreamManager/__tests__/@ContentedStreamManager.test.ts
  src/ContentedStreamManager/__tests__/ContentedStreamStateMachine.test.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnectorFacade/@SipConnectorFacade.ts
  src/__tests__/accountNotify.test.ts
  src/__tests__/events.test.ts
Due: prettier --write, eslint --fix

chore(release): 26.2.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore: enhance UI with new media control buttons and styles
  demo/App.ts
  demo/dom.ts
  demo/fonts/MaterialIcons/MaterialIcons.woff2
  demo/fonts/MaterialIcons/index.css
  demo/fonts/index.css
  index.html
  simple.min.css
  styles.css
Due: none

chore: remove unused CSS files and font resources to streamline project
  public/fonts/MaterialIcons/MaterialIcons.woff2
  public/fonts/MaterialIcons/index.css
  public/fonts/index.css
  public/simple.min.css
  public/styles.css
Due: none

fix: improve error handling in RecvQualityManager by logging errors during quality setting
  demo/Session/RecvQualityManager.ts
Due: none

refactor: update CallManager to accept tools for sendOffer
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/ApiManager/__tests__/@ApiManager.notify.test.ts
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.events.test.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/RoleManager.test.ts
  src/CallManager/types.ts
  src/PeerToPeerManager/__tests__/PeerToPeerManager.test.ts
  src/PresentationManager/__tests__/@PresentationManager.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  src/__fixtures__/createManagers.ts
Due: prettier --write, eslint --fix

refactor: modify startRecvSession handling to improve error management
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
Due: prettier --write, eslint --fix

refactor: enhance startRecvSession parameters to include quality and improve return type
  src/CallManager/@CallManager.ts
  src/CallManager/RecvSession.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

feat: add getAudioChannel method to RecvSession and corresponding tests
  src/CallManager/RecvSession.ts
  src/CallManager/__tests__/RecvSession.test.ts
Due: prettier --write, eslint --fix

fix: rename setRecvQuality to applyQuality and change logic for setRecvQuality
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

chore(release): 26.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: implement logger utility for debugging
  demo/Session/sipConnectorFacade.ts
  demo/logger.ts
  src/__tests__/logger.test.ts
Due: prettier --write, eslint --fix

fix: ensure recv-session-ended event is emitted only if the session was active
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
Due: prettier --write, eslint --fix

fix: enhance setRecvQuality logic to prevent unnecessary RecvSession recreation and emit events correctly
  src/CallManager/@CallManager.ts
  src/CallManager/RecvSession.ts
  src/CallManager/__tests__/@CallManager.test.ts
Due: prettier --write, eslint --fix

chore(release): 26.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: add silent option to startRecvSession and update event emission logic
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *src/**/*.{js,ts,json}) or (any of: *.md)
  eslint --fix: any of: *src/**/*.{js,ts,json}
