Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: fix
  package.json
Due: none

chore(release): 6.19.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: export constants
  src/SipConnector.ts
  src/__fixtures__/doMock.ts
  src/index.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore(release): 6.20.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: types
  package.json
  src/tools/__tests-utils__/parseObject.ts
  src/tools/__tests-utils__/resolveParseArray.ts
  src/tools/resolveUpdateRemoteStreams.ts
  src/tools/sendDTMFAccumulated.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 6.20.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: export doMock
  package.json
  src/SipConnector.ts
  src/__fixtures__/doMock.ts
  src/__fixtures__/jssip.mock.ts
  src/doMock.ts
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 6.21.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix
  package.json
  vite.config.ts
Due: none

chore(release): 6.21.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 6.21.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix
  src/doMock.ts
Due: prettier --write, eslint --fix

chore(release): 6.21.3
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 6.21.4
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix
  vite.config.ts
Due: none

chore(release): 6.21.5
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 6.21.6
  CHANGELOG.md
  package.json
Due: prettier --write

fix: types
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore(release): 6.21.7
  CHANGELOG.md
  package.json
Due: prettier --write

feat: change accept and request word processing
  src/SipConnector.ts
  src/__fixtures__/participantMoveRequests.ts
  src/__tests__/participantMoveRequests.ts
  src/constants.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

refactor names
  src/__fixtures__/participantMoveRequests.ts
  src/__tests__/participantMoveRequests.ts
  src/constants.ts
Due: prettier --write, eslint --fix

feat: change accept and request word processing (#30)
  src/SipConnector.ts
  src/__fixtures__/participantMoveRequests.ts
  src/__tests__/participantMoveRequests.ts
  src/constants.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

chore(release): 6.22.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: support chrome 91
  .husky/pre-commit
  package.json
  src/SipConnector.ts
  src/__tests__/connect.ts
  src/logger.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 6.22.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: dependencies
  package.json
  yarn.lock
Due: none

chore(release): 6.22.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix: dependencies
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

chore(release): 6.22.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add check telephony function
  src/SipConnector.ts
  src/__fixtures__/UA.mock.ts
  src/__tests__/checkTelephony.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *src/**/*.{js,ts,json}) or (any of: *.md)
  eslint --fix: any of: *src/**/*.{js,ts,json}
