Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(package): update test scripts to include coverage flag in CI command for improved test reporting
  package.json
Due: none

refactor(AutoConnectorStateMachine): enhance guards with debug logging for improved traceability of state transitions
  src/AutoConnectorManager/AutoConnectorStateMachine/createAutoConnectorMachineSetup.ts
Due: prettier --write, eslint --fix

feat!: remove FLOW.RESTART; rely on JsSIP for reconnect on ping failure
  docs/architecture/components/AutoConnectorManager/state-machine.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/AutoConnectorRuntime.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/AutoConnectorStateMachine.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/createAutoConnectorMachine.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/createAutoConnectorMachineSetup.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/types.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.telephony.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
  src/AutoConnectorManager/__tests__/AutoConnectorRuntime.test.ts
Due: prettier --write, eslint --fix

docs(AutoConnectorManager): update state machine documentation to clarify ping handling in connectedMonitoring and refine state transition logic
  docs/architecture/components/AutoConnectorManager/state-machine.md
  src/AutoConnectorManager/AutoConnectorRuntime.ts
Due: prettier --write, eslint --fix

feat(AutoConnectorManager): add restart method for manual reconnection and update documentation
  docs/architecture/components/AutoConnectorManager/index.md
  docs/architecture/components/AutoConnectorManager/state-machine.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.basic.test.ts
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

chore(release): 27.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(AutoConnectorManager): update restart method to use context parameters and adjust related tests
  docs/architecture/components/AutoConnectorManager/index.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.basic.test.ts
Due: prettier --write, eslint --fix

chore(release): 27.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat(demo): integrate mobx-state-tree for managing application statuses and add related tests
  demo/App.ts
  demo/Statuses.ts
  demo/__tests__/Statuses.test.ts
  demo/statuses-store/StatusesStore.ts
  demo/statuses-store/__tests__/StatusesStore.test.ts
  demo/statuses-store/autoConnector/AutoConnectorStatusesNode.ts
  demo/statuses-store/call/CallStatusesNode.ts
  demo/statuses-store/call/__tests__/CallNodeModel.test.ts
  demo/statuses-store/call/guards.ts
  demo/statuses-store/connection/ConnectionStatusesNode.ts
  demo/statuses-store/createNodeModel.ts
  demo/statuses-store/incoming/IncomingStatusesNode.ts
  demo/statuses-store/index.ts
  demo/statuses-store/presentation/PresentationStatusesNode.ts
  demo/statuses-store/system/SystemStatusesNode.ts
  jest.config.ts
  package.json
  yarn.lock
Due: none

feat(CallStateMachine): refactor state machine structure and constants for improved organization and clarity
  .cursor/rules/state-machine-structure.mdc
  src/CallManager/CallStateMachine/CallStateMachine.ts
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
  src/CallManager/CallStateMachine/__tests__/inRoomCredentialsPreviousReset.test.ts
  src/CallManager/CallStateMachine/__tests__/state.test.ts
  src/CallManager/CallStateMachine/constants.ts
  src/CallManager/CallStateMachine/createCallMachine.ts
  src/CallManager/CallStateMachine/createCallMachineSetup.ts
  src/CallManager/CallStateMachine/inRoomCredentialsPreviousReset.ts
  src/CallManager/CallStateMachine/index.ts
  src/CallManager/CallStateMachine/state.ts
  src/CallManager/CallStateMachine/types.ts
Due: prettier --write, eslint --fix

feat(demo): update conference state display to use node values and enhance UI structure
  demo/App.ts
  demo/Statuses.ts
  demo/dom.ts
  demo/statuses-store/StatusesStore.ts
  demo/statuses-store/autoConnector/AutoConnectorStatusesNode.ts
  demo/statuses-store/call/CallStatusesNode.ts
  demo/statuses-store/connection/ConnectionStatusesNode.ts
  demo/statuses-store/incoming/IncomingStatusesNode.ts
  demo/statuses-store/index.ts
  demo/statuses-store/presentation/PresentationStatusesNode.ts
  demo/statuses-store/system/SystemStatusesNode.ts
  index.html
  public/styles.css
Due: none

test: add comprehensive tests for connection, incoming, and presentation node models with state flags and context accessors
  demo/statuses-store/autoConnector/__tests__/AutoConnectorNodeModel.test.ts
  demo/statuses-store/call/__tests__/CallNodeModel.test.ts
  demo/statuses-store/call/__tests__/guards.test.ts
  demo/statuses-store/connection/__tests__/ConnectionNodeModel.test.ts
  demo/statuses-store/incoming/__tests__/IncomingNodeModel.test.ts
  demo/statuses-store/presentation/__tests__/PresentationNodeModel.test.ts
  jest.config.ts
Due: none

feat(demo): introduce node value types for status management and enhance test coverage across various status nodes
  demo/statuses-store/__tests__/StatusesStore.test.ts
  demo/statuses-store/__tests__/reaction.test.ts
  demo/statuses-store/autoConnector/AutoConnectorStatusesNode.ts
  demo/statuses-store/autoConnector/__tests__/AutoConnectorNodeModel.test.ts
  demo/statuses-store/call/CallStatusesNode.ts
  demo/statuses-store/call/__tests__/CallNodeModel.test.ts
  demo/statuses-store/connection/ConnectionStatusesNode.ts
  demo/statuses-store/connection/__tests__/ConnectionNodeModel.test.ts
  demo/statuses-store/incoming/IncomingStatusesNode.ts
  demo/statuses-store/incoming/__tests__/IncomingNodeModel.test.ts
  demo/statuses-store/nodeValue.ts
  demo/statuses-store/presentation/PresentationStatusesNode.ts
  demo/statuses-store/presentation/__tests__/PresentationNodeModel.test.ts
  demo/statuses-store/system/SystemStatusesNode.ts
Due: none

refactor(demo): rename and standardize status-related types and functions for improved clarity and consistency
  demo/Statuses.ts
  demo/statuses-store/StatusesStore.ts
  demo/statuses-store/__tests__/StatusesStore.test.ts
  demo/statuses-store/__tests__/reaction.test.ts
  demo/statuses-store/autoConnector/AutoConnectorStatusesNode.ts
  demo/statuses-store/call/CallStatusesNode.ts
  demo/statuses-store/call/__tests__/guards.test.ts
  demo/statuses-store/call/guards.ts
  demo/statuses-store/call/utils.ts
  demo/statuses-store/connection/ConnectionStatusesNode.ts
  demo/statuses-store/incoming/IncomingStatusesNode.ts
  demo/statuses-store/index.ts
  demo/statuses-store/nodeValue.ts
  demo/statuses-store/presentation/PresentationStatusesNode.ts
  demo/statuses-store/system/SystemStatusesNode.ts
Due: none

docs: update architecture documentation for components, enhancing clarity and structure across various state machines and managers
  docs/architecture/README.md
  docs/architecture/components/AutoConnectorManager/index.md
  docs/architecture/components/AutoConnectorManager/state-machine.md
  docs/architecture/components/CallManager/index.md
  docs/architecture/components/CallManager/state-machine.md
  docs/architecture/components/ConnectionManager/index.md
  docs/architecture/components/ConnectionManager/state-machine.md
  docs/architecture/components/IncomingCallManager/index.md
  docs/architecture/components/IncomingCallManager/state-machine.md
  docs/architecture/components/PresentationManager/index.md
  docs/architecture/components/PresentationManager/state-machine.md
  docs/architecture/components/SessionManager/index.md
  docs/architecture/components/SessionManager/system-status.md
  docs/architecture/state-machines.md
Due: prettier --write

docs: update references to system status in architecture documentation, consolidating information and removing obsolete files for clarity
  docs/architecture/README.md
  docs/architecture/components/SessionManager/index.md
  docs/architecture/components/SessionManager/system-status.md
  docs/architecture/state-machines.md
Due: prettier --write

docs: enhance API event documentation by adding new events and updating existing event types for clarity
  docs/api/api-events.md
  docs/api/auto-connector-events.md
  docs/api/call-events.md
  docs/api/connection-events.md
  docs/api/exports.md
Due: prettier --write

chore(release): 28.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: add documentation check script
  package.json
  scripts/docs-check.cjs
Due: none

docs: update documentation
  docs/api/main-stream-health-events.md
  docs/api/session-events.md
  docs/architecture/README.md
  docs/architecture/components/AutoConnectorManager/state-machine.md
  docs/architecture/components/SessionManager/index.md
  docs/architecture/state-machines-testing.md
  docs/architecture/state-machines.md
  docs/recipes/basic-setup.md
  docs/recipes/debugging.md
  docs/recipes/events-handling.md
  docs/recipes/incoming-calls.md
  docs/recipes/session-management.md
Due: prettier --write

refactor(demo): standardize and consolidate status-related imports and types across various modules for improved clarity and consistency
  demo/__tests__/Statuses.test.ts
  demo/statusesRoot/Model.ts
  demo/statusesRoot/__tests__/Model.test.ts
  demo/statusesRoot/__tests__/reaction.test.ts
  demo/statusesRoot/autoConnector/Model.ts
  demo/statusesRoot/autoConnector/__tests__/Model.test.ts
  demo/statusesRoot/call/Model.ts
  demo/statusesRoot/call/utils.ts
  demo/statusesRoot/connection/Model.ts
  demo/statusesRoot/incoming/Model.ts
  demo/statusesRoot/presentation/Model.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/index.ts
  src/AutoConnectorManager/index.ts
  src/CallManager/@CallManager.ts
  src/CallManager/CallStateMachine/index.ts
  src/CallManager/index.ts
  src/ConnectionManager/ConnectionStateMachine/index.ts
  src/ConnectionManager/__tests__/ConnectionStateMachine.test.ts
  src/ConnectionManager/index.ts
  src/IncomingCallManager/IncomingCallStateMachine/index.ts
  src/IncomingCallManager/__tests__/@IncomingCallManager.test.ts
  src/IncomingCallManager/__tests__/IncomingCallStateMachine.test.ts
  src/IncomingCallManager/index.ts
  src/PresentationManager/PresentationStateMachine/index.ts
  src/PresentationManager/__tests__/PresentationStateMachine.test.ts
  src/PresentationManager/index.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/index.ts
  src/SessionManager/types.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 28.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(validators): simplify hasValidExtraHeaders function by using isValidString for header validation
  src/utils/validators.ts
Due: prettier --write, eslint --fix

refactor(demo): consolidate status handling in the autoConnector, call, connection, incoming, presentation, and system modules
  demo/statusesRoot/autoConnector/Model.ts
  demo/statusesRoot/call/Model.ts
  demo/statusesRoot/connection/Model.ts
  demo/statusesRoot/createStatusStateModel.ts
  demo/statusesRoot/incoming/Model.ts
  demo/statusesRoot/presentation/Model.ts
  demo/statusesRoot/statusSnapshot.ts
  demo/statusesRoot/system/Model.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat(demo): add isP2PCall and roomOrTargetRoom views to CallStatusModel with corresponding tests
  demo/statusesRoot/call/Model.ts
  demo/statusesRoot/call/__tests__/Model.test.ts
Due: none

feat(demo): enhance SystemStatusModel with state flag methods and update type imports
  demo/statusesRoot/system/Model.ts
  demo/statusesRoot/system/__tests__/Model.test.ts
Due: none

chore(release): 28.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(session): improve snapshot equality checks and add tests for context changes in session management
  demo/statusesRoot/__tests__/reaction.test.ts
  src/SessionManager/@SessionManager.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
Due: prettier --write, eslint --fix

feat(demo): add userIdentity view to ConnectionStatusModel and enhance tests for user configuration
  demo/statusesRoot/connection/Model.ts
  demo/statusesRoot/connection/__tests__/Model.test.ts
Due: none

chore(release): 28.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(tests): streamline user identity tests and encapsulate snapshot creation logic
  demo/statusesRoot/connection/__tests__/Model.test.ts
Due: none

fix(imports): correct casing in module imports for StatusesRoot
  demo/statusesRoot/Model.ts
  demo/statusesRoot/__tests__/reaction.test.ts
  demo/statusesRoot/autoConnector/Model.ts
  demo/statusesRoot/autoConnector/__tests__/Model.test.ts
  demo/statusesRoot/call/Model.ts
  demo/statusesRoot/call/__tests__/Model.test.ts
  demo/statusesRoot/call/__tests__/guards.test.ts
  demo/statusesRoot/call/guards.ts
  demo/statusesRoot/call/utils.ts
  demo/statusesRoot/connection/Model.ts
  demo/statusesRoot/connection/__tests__/Model.test.ts
  demo/statusesRoot/incoming/Model.ts
  demo/statusesRoot/incoming/__tests__/Model.test.ts
  demo/statusesRoot/index.ts
  demo/statusesRoot/presentation/Model.ts
  demo/statusesRoot/presentation/__tests__/Model.test.ts
  demo/statusesRoot/system/Model.ts
  demo/statusesRoot/system/__tests__/Model.test.ts
Due: none

feat(demo): implement StatusesRootModel and related types for managing application statuses
  demo/statusesRoot/Model.ts
  demo/statusesRoot/__tests__/Model.test.ts
  demo/statusesRoot/__tests__/reaction.test.ts
  demo/statusesRoot/autoConnector/Model.ts
  demo/statusesRoot/autoConnector/__tests__/Model.test.ts
  demo/statusesRoot/call/Model.ts
  demo/statusesRoot/call/__tests__/Model.test.ts
  demo/statusesRoot/call/__tests__/guards.test.ts
  demo/statusesRoot/call/guards.ts
  demo/statusesRoot/call/utils.ts
  demo/statusesRoot/callSession/Model.ts
  demo/statusesRoot/callSession/__tests__/Model.test.ts
  demo/statusesRoot/connection/Model.ts
  demo/statusesRoot/connection/__tests__/Model.test.ts
  demo/statusesRoot/incoming/Model.ts
  demo/statusesRoot/incoming/__tests__/Model.test.ts
  demo/statusesRoot/index.ts
  demo/statusesRoot/presentation/Model.ts
  demo/statusesRoot/presentation/__tests__/Model.test.ts
  demo/statusesRoot/system/Model.ts
  demo/statusesRoot/system/__tests__/Model.test.ts
  src/CallSessionState/@CallSessionState.ts
  src/CallSessionState/__tests__/CallSessionState.test.ts
  src/CallSessionState/types.ts
Due: prettier --write, eslint --fix

chore: rename statusesRoot to StatusesRoot and update imports
  demo/Statuses.ts
  demo/StatusesRoot/Model.ts
  demo/StatusesRoot/__tests__/Model.test.ts
  demo/StatusesRoot/__tests__/reaction.test.ts
  demo/StatusesRoot/autoConnector/Model.ts
  demo/StatusesRoot/autoConnector/__tests__/Model.test.ts
  demo/StatusesRoot/call/Model.ts
  demo/StatusesRoot/call/__tests__/Model.test.ts
  demo/StatusesRoot/call/__tests__/guards.test.ts
  demo/StatusesRoot/call/guards.ts
  demo/StatusesRoot/call/utils.ts
  demo/StatusesRoot/callSession/Model.ts
  demo/StatusesRoot/callSession/__tests__/Model.test.ts
  demo/StatusesRoot/connection/Model.ts
  demo/StatusesRoot/connection/__tests__/Model.test.ts
  demo/StatusesRoot/incoming/Model.ts
  demo/StatusesRoot/incoming/__tests__/Model.test.ts
  demo/StatusesRoot/index.ts
  demo/StatusesRoot/presentation/Model.ts
  demo/StatusesRoot/presentation/__tests__/Model.test.ts
  demo/StatusesRoot/system/Model.ts
  demo/StatusesRoot/system/__tests__/Model.test.ts
  demo/dom.ts
Due: none

chore(release): 28.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(call): add startedTimestamp to CallStatusModel and related contexts for tracking call session start time
  demo/StatusesRoot/call/Model.ts
  demo/StatusesRoot/call/__tests__/Model.test.ts
  docs/architecture/components/CallManager/state-machine.md
  src/CallManager/CallStateMachine/CallStateMachine.ts
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
  src/CallManager/CallStateMachine/__tests__/state.test.ts
  src/CallManager/CallStateMachine/createCallMachineSetup.ts
  src/CallManager/CallStateMachine/state.ts
  src/CallManager/CallStateMachine/types.ts
  src/utils/__tests__/validators.test.ts
  src/utils/validators.ts
Due: prettier --write, eslint --fix

refactor(demo): remove CallStateManager and integrate call state handling into Statuses class
  demo/App.ts
  demo/CallStateManager.ts
  demo/ConferenceStateDisplay.ts
  demo/Session/ParticipantRoleManager.ts
  demo/Session/Session.ts
  demo/Statuses.ts
Due: none

Path conditions:
  prettier --write: (any of: *src/**/*.{js,ts,json}) or (any of: *.md)
  eslint --fix: any of: *src/**/*.{js,ts,json}
