Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

test(sip-connector): send media state should return promise
  src/__tests__/mediaState.ts
Due: prettier --write, eslint --fix

fix: return promise from sendMediaState method for handling reject (#20)
  src/SipConnector.ts
  src/__tests__/mediaState.ts
Due: prettier --write, eslint --fix

chore(release): 5.6.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  src/SipConnector.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat!(videoSendingBalancer): add reBalance
  src/__mocks__/RTCRtpSenderMock.ts
  src/videoSendingBalancer/__tests__/processSender.ts
  src/videoSendingBalancer/__tests__/setEncodingsToSender.ts
  src/videoSendingBalancer/balance.ts
  src/videoSendingBalancer/index.ts
  src/videoSendingBalancer/processSender.ts
  src/videoSendingBalancer/setEncodingsToSender.ts
Due: prettier --write, eslint --fix

chore(release): 6.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

test(sip-connector): add new test videoSendingBalancer
  src/videoSendingBalancer/__tests__/processSender.ts
Due: prettier --write, eslint --fix

test: add new test videoSendingBalancer (#21)
  src/videoSendingBalancer/__tests__/processSender.ts
Due: prettier --write, eslint --fix

refactor: some
  src/videoSendingBalancer/__tests__/processSender.ts
Due: prettier --write, eslint --fix

fix(videoSendingBalancer): call MAX_MAIN_CAM_RESOLUTION, PAUSE_MAIN_CAM
  src/videoSendingBalancer/balance.ts
  src/videoSendingBalancer/index.ts
  src/videoSendingBalancer/processSender.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 6.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

test(sip-connector): trigger call progress events
  src/__mocks__/Session.mock.ts
  src/__mocks__/UA.mock.ts
Due: prettier --write, eslint --fix

fix(sip-connector): fix get room
  src/__mocks__/Session.mock.ts
  src/utils.ts
Due: prettier --write, eslint --fix

fix(sip-connector): small
  src/__mocks__/Session.mock.ts
Due: prettier --write, eslint --fix

test(sip-connector): refactor session connect method, answer and initPeerConnection
  src/__mocks__/Session.mock.ts
  src/__mocks__/UA.mock.ts
  src/__mocks__/utils.ts
  src/utils.ts
Due: prettier --write, eslint --fix

test(sip-connector):added test call statuses
  src/__tests__/callStatuses.ts
Due: prettier --write, eslint --fix

test(sip-connector): incomingCallStatuses
  src/__mocks__/Session.mock.ts
  src/__tests__/incomingCallStatuses.ts
Due: prettier --write, eslint --fix

test: add emit session events during call (#22)
  src/__mocks__/Session.mock.ts
  src/__mocks__/UA.mock.ts
  src/__mocks__/utils.ts
  src/__tests__/callStatuses.ts
  src/__tests__/incomingCallStatuses.ts
Due: prettier --write, eslint --fix

chore(release): 6.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

added new param userAgent
  src/SipConnector.ts
Due: prettier --write, eslint --fix

fix(sip-connector): fix test connect
  src/__mocks__/index.ts
Due: prettier --write, eslint --fix

feat: move userAgent to params of connect (#23)
  src/SipConnector.ts
  src/__mocks__/index.ts
Due: prettier --write, eslint --fix

chore(release): 6.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add videoMode, audioMode options to call
  package.json
  src/SipConnector.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 6.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add videoMode, audioMode options to answer
  package.json
  src/SipConnector.ts
  src/__mocks__/Session.mock.ts
  src/__mocks__/UA.mock.ts
  src/__tests__/call.ts
  src/__tests__/incomingCall.ts
  src/utils.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 6.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 6.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: calls without mics or cams
  src/SipConnector.ts
  src/__tests__/actions.ts
Due: prettier --write, eslint --fix

chore: fix
  src/__tests__/actions.ts
Due: prettier --write, eslint --fix

chore(release): 6.3.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  src/SipConnector.ts
  src/__mocks__/Request.mock.ts
  src/__mocks__/accountNotify.ts
  src/__mocks__/channels.ts
  src/__mocks__/channelsNotify.ts
  src/__mocks__/conferenceParticipantTokenIssuedNotify.ts
  src/__mocks__/jssip.mock.ts
  src/__mocks__/participantMoveRequests.ts
  src/__mocks__/participantNotify.ts
  src/__mocks__/webcastNotify.ts
  src/__tests__/events.ts
  src/__tests__/mainCamControl.ts
  src/__tests__/micControl.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 6.3.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add degradationPreference options to call, answer and startPresentation
  package.json
  src/SipConnector.ts
  src/__tests__/callStatuses.ts
  src/__tests__/incomingCallStatuses.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 6.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix types
  src/SipConnector.ts
Due: prettier --write, eslint --fix
