Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(release): 6.4.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  src/__mocks__/RTCPeerConnectionMock.ts
  src/__mocks__/Session.mock.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 6.4.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  .ncurc.json
  package.json
  yarn.lock
Due: none

fix: do not trigger FAILED_INCOMING_CALL for declined
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore(release): 6.4.3
  CHANGELOG.md
  package.json
Due: prettier --write

fix: return promise in sendChannels
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 6.4.4
  CHANGELOG.md
  package.json
Due: prettier --write

chore: add notify sync media state mode
  src/SipConnector.ts
  src/__tests__/syncMediaState.ts
  src/constants.ts
  src/eventNames.ts
  src/headers.ts
Due: prettier --write, eslint --fix

chore: added waitSyncMediaState
  src/SipConnector.ts
  src/__tests__/syncMediaState.ts
Due: prettier --write, eslint --fix

feat: add notify sync media state mode (#24)
  src/SipConnector.ts
  src/__tests__/syncMediaState.ts
  src/constants.ts
  src/eventNames.ts
  src/headers.ts
Due: prettier --write, eslint --fix

chore(release): 6.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add ping and sendOptions
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore(release): 6.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: trigger terminated incoming session when call failed from local
  src/SipConnector.ts
  src/__mocks__/jssip.mock.ts
  src/__tests__/incomingCall.ts
  src/constants.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

fix: trigger terminated incoming session when failed from local (#25)
  src/SipConnector.ts
  src/__mocks__/jssip.mock.ts
  src/__tests__/incomingCall.ts
  src/constants.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

chore(release): 6.6.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: implement process info media sync
  src/SipConnector.ts
  src/__tests__/mainCamControl.ts
  src/__tests__/syncMediaState.ts
  src/headers.ts
Due: prettier --write, eslint --fix

refactor: discard recent changes
  src/__tests__/mainCamControl.ts
Due: prettier --write, eslint --fix

test: small
  src/__tests__/mainCamControl.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): send sync mode with mic commands
  src/SipConnector.ts
  src/__tests__/micControl.ts
  src/__tests__/syncMediaState.ts
Due: prettier --write, eslint --fix

feat: implement process media sync info event (#26)
  src/SipConnector.ts
  src/__tests__/mainCamControl.ts
  src/__tests__/micControl.ts
  src/__tests__/syncMediaState.ts
  src/headers.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  .ncurc.json
  package.json
  src/eventNames.ts
  src/setupTests.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 6.7.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  src/__mocks__/RTCRtpSenderMock.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 6.7.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add offerToReceiveAudio, offerToReceiveVideo to params of call
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore(release): 6.8.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: use license
  src/SipConnector.ts
  src/__tests__/useLicense.ts
  src/constants.ts
  src/eventNames.ts
  src/headers.ts
Due: prettier --write, eslint --fix

refactor: small content -> presentation
  src/__tests__/useLicense.ts
Due: prettier --write, eslint --fix

feat: process use license info (#27)
  src/SipConnector.ts
  src/__tests__/useLicense.ts
  src/constants.ts
  src/eventNames.ts
  src/headers.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  src/eventNames.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 6.9.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: reexport EUseLicense
  src/index.ts
Due: prettier --write, eslint --fix

chore: discard some
  src/eventNames.ts
Due: prettier --write, eslint --fix

refactor: reexport EUseLicense (#28)
  src/index.ts
Due: prettier --write, eslint --fix
