Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

Update @PresentationManager.ts
  src/PresentationManager/@PresentationManager.ts
Due: prettier --write, eslint --fix

Update @PresentationManager.test.ts
  src/PresentationManager/__tests__/@PresentationManager.test.ts
Due: prettier --write, eslint --fix

Update @SipConnector.ts
  src/SipConnector/@SipConnector.ts
Due: prettier --write, eslint --fix

refactor: move stats methods to stats manager
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/MainStreamHealthMonitor/types.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
Due: prettier --write, eslint --fix

chore: add lodash to peer deps
  package.json
Due: none

Update @SipConnector.test.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

feat: enhance connection state machine with error handling and event management
  src/ConnectionManager/ConnectionStateMachine.ts
  src/ConnectionManager/__tests__/ConnectionStateMachine.test.ts
Due: prettier --write, eslint --fix

refactor: skip renegotiate when prev request in progress
  src/MainStreamRecovery/@MainStreamRecovery.ts
  src/MainStreamRecovery/__tests__/@MainStreamRecovery.test.ts
Due: prettier --write, eslint --fix

refactor: remove TMainStreamHealthMonitor interface and simplify MainStreamHealthMonitor class
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/types.ts
Due: prettier --write, eslint --fix

feat: improve error handling in connection state machine with detailed registration failure messages
  src/ConnectionManager/ConnectionStateMachine.ts
  src/ConnectionManager/__tests__/ConnectionStateMachine.test.ts
Due: prettier --write, eslint --fix

refactor: update test cases to use 'it' instead of 'test' for consistency across connection state machine, track monitor, and UA parser tests
  src/ConnectionManager/__tests__/ConnectionStateMachine.test.ts
  src/VideoSendingBalancer/__tests__/TrackMonitor.test.ts
  src/tools/createUaParser/__tests__/createUaParser.test.ts
  src/tools/createUaParser/__tests__/isElectronEnvironment.test.ts
Due: prettier --write, eslint --fix

refactor: move ended call subscription in main stream recovery
  src/MainStreamRecovery/@MainStreamRecovery.ts
  src/MainStreamRecovery/__tests__/@MainStreamRecovery.test.ts
  src/MainStreamRecovery/types.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

refactor: move type into stats peer connection
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/MainStreamHealthMonitor/types.ts
  src/StatsManager/@StatsManager.ts
  src/StatsPeerConnection/index.ts
  src/StatsPeerConnection/types.ts
Due: prettier --write, eslint --fix

refactor: improve logging in renegotiate request handling
  src/MainStreamRecovery/@MainStreamRecovery.ts
Due: prettier --write, eslint --fix

fix: renegotiate when main stream has stopped due to no received or decoded inbound frames (#63)
  package.json
  src/CallManager/@CallManager.ts
  src/CallManager/MCUSession.ts
  src/CallManager/RemoteStreamsManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/MCUSession.test.ts
  src/CallManager/__tests__/RemoteStreamsManager.test.ts
  src/CallManager/types.ts
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/MainStreamHealthMonitor/eventNames.ts
  src/MainStreamHealthMonitor/index.ts
  src/MainStreamRecovery/@MainStreamRecovery.ts
  src/MainStreamRecovery/__tests__/@MainStreamRecovery.test.ts
  src/MainStreamRecovery/index.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/__tests__/events.test.ts
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  src/StatsPeerConnection/index.ts
  src/StatsPeerConnection/types.ts
  src/__fixtures__/RTCSessionMock.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 20.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: implement CallStateMachine with state validation, error handling, and event management
  README.md
  docs/arch.md
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
Due: prettier --write, eslint --fix

feat: enhance PresentationStateMachine with state management, error handling, and logging for transitions
  README.md
  docs/arch.md
  src/PresentationManager/PresentationStateMachine.ts
  src/PresentationManager/__tests__/PresentationStateMachine.test.ts
Due: prettier --write, eslint --fix

feat: add IncomingCallStateMachine with state management, logging, and validation for incoming call transitions
  README.md
  docs/arch.md
  src/IncomingCallManager/IncomingCallStateMachine.ts
  src/IncomingCallManager/__tests__/IncomingCallStateMachine.test.ts
Due: prettier --write, eslint --fix

feat: add comprehensive tests for session aggregation, validating state management and subscriber notifications across call, connection, incoming call, and presentation state machines
  src/session/__tests__/createSession.ts
Due: prettier --write, eslint --fix

fix: remove duplicate session property declaration in SipConnector class
  src/SipConnector/@SipConnector.ts
Due: prettier --write, eslint --fix

fix: not trigger event "stopped-presentation-by-server-command" for inactive share (#64)
  src/PresentationManager/@PresentationManager.ts
  src/PresentationManager/__tests__/@PresentationManager.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

feat: implement session management with XState (#62)
  README.md
  demo/App.ts
  demo/Session/sipConnectorFacade.ts
  demo/Statuses.ts
  demo/dom.ts
  docs/arch.md
  docs/video-bitrate-table.md
  index.html
  src/CallManager/@CallManager.ts
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/ConnectionStateMachine.ts
  src/ConnectionManager/__tests__/ConnectionStateMachine.test.ts
  src/IncomingCallManager/@IncomingCallManager.ts
  src/IncomingCallManager/IncomingCallStateMachine.ts
  src/IncomingCallManager/__tests__/@IncomingCallManager.test.ts
  src/IncomingCallManager/__tests__/IncomingCallStateMachine.test.ts
  src/PresentationManager/@PresentationManager.ts
  src/PresentationManager/PresentationStateMachine.ts
  src/PresentationManager/__tests__/PresentationStateMachine.test.ts
  src/SipConnector/@SipConnector.ts
  src/index.ts
  src/session/__tests__/createSession.ts
  src/session/__tests__/selectors.test.ts
  src/session/createSession.ts
  src/session/index.ts
  src/session/selectors.ts
  src/session/types.ts
  src/tools/BaseStateMachine.ts
  src/tools/__tests__/BaseStateMachine.test.ts
Due: prettier --write, eslint --fix

fix: ensure consistent invocation of mayBeStopPresentationAndNotify method
  src/SipConnector/@SipConnector.ts
Due: prettier --write, eslint --fix

chore(release): 20.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: introduce ConferenceStateManager for centralized conference state management
  docs/arch.md
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/ApiManager/__tests__/@ApiManager.notify.test.ts
  src/ApiManager/index.ts
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.events.test.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/ConferenceStateManager/@ConferenceStateManager.ts
  src/ConferenceStateManager/__tests__/@ConferenceStateManager.test.ts
  src/ConferenceStateManager/events.ts
  src/ConferenceStateManager/index.ts
  src/ConferenceStateManager/types.ts
  src/PresentationManager/__tests__/@PresentationManager.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  src/__tests__/call.test.ts
  src/__tests__/incomingCall.test.ts
  src/tools/__tests__/sendOffer.test.ts
  src/tools/sendOffer.ts
Due: prettier --write, eslint --fix

chore(release): 20.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: add type annotations for actor references in Call, Connection, Incoming Call, and Presentation Managers
  src/CallManager/@CallManager.ts
  src/ConnectionManager/@ConnectionManager.ts
  src/IncomingCallManager/@IncomingCallManager.ts
  src/PresentationManager/@PresentationManager.ts
Due: prettier --write, eslint --fix

chore(release): 20.4.1
  CHANGELOG.md
  package.json
Due: prettier --write
