Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

docs: update SIP Connector architecture documentation
  docs/arch.md
  docs/components.md
  docs/examples.md
  docs/overview.md
  docs/principles.md
  docs/state-machines.md
Due: prettier --write

docs: clean up example code in SIP Connector section
  docs/examples.md
Due: prettier --write

refactor: rename event types and exports across multiple managers for consistency
  src/ApiManager/events.ts
  src/ApiManager/index.ts
  src/AutoConnectorManager/index.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
  src/CallManager/events.ts
  src/CallManager/index.ts
  src/ConferenceStateManager/events.ts
  src/ConferenceStateManager/index.ts
  src/ConnectionManager/events.ts
  src/ConnectionManager/index.ts
  src/IncomingCallManager/events.ts
  src/IncomingCallManager/index.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/MainStreamRecovery/__tests__/@MainStreamRecovery.test.ts
  src/PresentationManager/events.ts
  src/PresentationManager/index.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/events.ts
  src/SipConnector/index.ts
  src/SipConnectorFacade/@SipConnectorFacade.ts
  src/StatsManager/@StatsManager.ts
  src/StatsManager/events.ts
  src/StatsManager/index.ts
  src/StatsPeerConnection/index.ts
  src/VideoSendingBalancerManager/events.ts
  src/VideoSendingBalancerManager/index.ts
Due: prettier --write, eslint --fix

feat: add LogsManager for event logging and UI integration
  demo/App.ts
  demo/LogsManager.ts
  demo/dom.ts
  demo/jsonRenderer.ts
  index.html
  src/CallManager/events.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat: integrate MainStreamHealthMonitor events into SipConnector and update event handling
  src/MainStreamHealthMonitor/index.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/events.test.ts
  src/SipConnector/events.ts
Due: prettier --write, eslint --fix

feat: add conference-state event handling to SipConnector and update event types
  src/ConferenceStateManager/index.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/events.test.ts
  src/SipConnector/events.ts
Due: prettier --write, eslint --fix

docs: expand SIP Connector documentation with detailed architecture, state management, and usage recipes
  README.md
  docs/arch/README.md
  docs/arch/components.md
  docs/arch/overview.md
  docs/arch/principles.md
  docs/arch/state-machines.md
  docs/examples.md
  docs/recipes/README.md
  docs/recipes/adaptive-polling.md
  docs/recipes/auto-reconnection.md
  docs/recipes/basic-setup.md
  docs/recipes/best-practices.md
  docs/recipes/conference-participants.md
  docs/recipes/connection-queue.md
  docs/recipes/debugging.md
  docs/recipes/events-handling.md
  docs/recipes/ice-restart.md
  docs/recipes/incoming-calls.md
  docs/recipes/media-management.md
  docs/recipes/presentations.md
  docs/recipes/session-management.md
  docs/recipes/video-balancing.md
  docs/recipes/webrtc-stats.md
Due: prettier --write

docs: remove architecture section from README for clarity
  README.md
Due: prettier --write

docs: add detailed ConnectionManager events documentation and update API reference
  README.md
  docs/api/README.md
  docs/api/connection-events.md
  docs/recipes/events-handling.md
Due: prettier --write

docs: add AutoConnectorManager events documentation and update API reference
  docs/api/README.md
  docs/api/auto-connector-events.md
Due: prettier --write

docs: add CallManager events documentation and update API reference
  docs/api/README.md
  docs/api/auto-connector-events.md
  docs/api/call-events.md
  docs/api/connection-events.md
Due: prettier --write

docs: add ApiManager events documentation and update API reference
  docs/api/README.md
  docs/api/api-events.md
  docs/api/auto-connector-events.md
  docs/api/call-events.md
  docs/api/connection-events.md
Due: prettier --write

docs: restructure README and enhance API documentation with new exports section
  README.md
  docs/api/README.md
  docs/api/exports.md
  docs/recipes/README.md
Due: prettier --write

docs: update README to link to separate testing and browser compatibility documentation
  README.md
  docs/browser-compatibility.md
  docs/testing.md
Due: prettier --write

docs: add IncomingCallManager and PresentationManager events documentation
  docs/api/README.md
  docs/api/incoming-call-events.md
  docs/api/presentation-events.md
Due: prettier --write

docs: add StatsPeerConnection and VideoSendingBalancerManager events documentation
  docs/api/README.md
  docs/api/stats-events.md
Due: prettier --write

docs: add VideoSendingBalancerManager events documentation and update README
  docs/api/README.md
  docs/api/video-balancer-events.md
Due: prettier --write

docs: add ConferenceStateManager and MainStreamHealthMonitor events documentation and update README
  docs/api/README.md
  docs/api/conference-state-events.md
  docs/api/main-stream-health-events.md
Due: prettier --write

feat: introduce SessionManager for session state management and update related documentation
  demo/Statuses.ts
  docs/api/README.md
  docs/api/session-events.md
  docs/recipes/session-management.md
  src/SessionManager/@SessionManager.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/events.ts
  src/SessionManager/index.ts
  src/SessionManager/selectors.ts
  src/SessionManager/types.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/events.ts
  src/index.ts
  src/session/__tests__/createSession.ts
  src/session/createSession.ts
Due: prettier --write, eslint --fix

docs: add SipConnector events documentation and update README
  docs/api/README.md
  docs/api/sip-connector-events.md
Due: prettier --write

docs: remove deprecated 'restart' event handling from events-handling and ice-restart documentation
  docs/recipes/events-handling.md
  docs/recipes/ice-restart.md
Due: prettier --write

docs: update documentation for SessionManager and add examples for improved clarity
  docs/README.md
Due: prettier --write

docs: refine README structure and update documentation
  README.md
  docs/README.md
  docs/recipes/README.md
Due: prettier --write

refactor: update connection state machine to introduce 'PREPARING' state and adjust transitions accordingly
  docs/arch/state-machines.md
  src/ConnectionManager/ConnectionStateMachine.ts
  src/ConnectionManager/__tests__/ConnectionStateMachine.test.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/SessionManager/__tests__/selectors.test.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  yarn.lock
Due: none

refactor: remove 'RINGING' state and related event handling from CallStateMachine
  docs/arch/components.md
  docs/arch/state-machines.md
  docs/recipes/debugging.md
  docs/recipes/events-handling.md
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/SessionManager/__tests__/selectors.test.ts
Due: prettier --write, eslint --fix

fix: do not recover main stream when no received packets
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  src/StatsManager/constants.ts
Due: prettier --write, eslint --fix

refactor: rename 'incomingCall' event to 'ringing'
  docs/api/incoming-call-events.md
  docs/recipes/incoming-calls.md
  src/CallManager/__tests__/CallStateMachine.test.ts
  src/IncomingCallManager/@IncomingCallManager.ts
  src/IncomingCallManager/IncomingCallStateMachine.ts
  src/IncomingCallManager/__tests__/@IncomingCallManager.test.ts
  src/IncomingCallManager/events.ts
  src/SipConnector/__tests__/events.test.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/SipConnectorFacade/__tests__/actionsProgressIncomingCall.test.ts
  src/SipConnectorFacade/__tests__/answerToIncomingCall.test.ts
  src/__tests__/incomingCall.test.ts
  src/__tests__/incomingCallStatuses.test.ts
Due: prettier --write, eslint --fix

chore: add docs for main stream monitor and recovery
  docs/arch/README.md
  docs/arch/components.md
  docs/arch/overview.md
Due: prettier --write

docs: remove outdated events section from components documentation
  docs/arch/components.md
Due: prettier --write

docs: move main stream monitoring and recovery diagram to a separate file
  docs/arch/components.md
  docs/arch/main-stream-monitoring-and-recovery-diagram.md
Due: prettier --write

docs: remove obsolete 'no-inbound-frames' event from components documentation
  docs/arch/components.md
Due: prettier --write

docs: update components documentation to clarify problem notification instead of event generation
  docs/arch/components.md
Due: prettier --write

docs: add main stream monitoring and recovery diagram with detailed component interactions
  docs/README.md
  docs/arch/components.md
  docs/main-stream-monitoring-and-recovery-diagram.md
Due: prettier --write

docs: remove redundant section from components documentation
  docs/arch/components.md
Due: prettier --write

docs: clean up components documentation by removing redundant section
  docs/arch/components.md
Due: prettier --write

fix: do not recover main stream when no received packets (#65)
  docs/README.md
  docs/arch/README.md
  docs/arch/components.md
  docs/arch/overview.md
  docs/main-stream-monitoring-and-recovery-diagram.md
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  src/StatsManager/constants.ts
Due: prettier --write, eslint --fix

refactor: update connection state machine to introduce 'ESTABLISHED' state and adjust transitions and tests accordingly
  docs/arch/state-machines.md
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
  src/ConnectionManager/ConnectionStateMachine.ts
  src/ConnectionManager/__tests__/ConnectionStateMachine.test.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
Due: prettier --write, eslint --fix

chore: add initial worktree configuration for setup commands
  .cursor/worktrees.json
Due: none

docs: refine state machine documentation by correcting formatting
  docs/arch/state-machines.md
Due: prettier --write
