Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

refactor(CallStateMachine): implement call state machine with various states and transitions
  src/CallManager/CallStateMachine/CallStateMachine.ts
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
  src/CallManager/CallStateMachine/__tests__/state.test.ts
  src/CallManager/CallStateMachine/index.ts
  src/CallManager/CallStateMachine/state.ts
  src/CallManager/CallStateMachine/types.ts
  src/CallManager/index.ts
Due: prettier --write, eslint --fix

refactor: update HTML structure and CSS classes for session statuses and conference state
  demo/CallStatsManager.ts
  index.html
  public/styles.css
Due: none

fix(demo): enhance conference state display with additional fields and updated variable names
  demo/App.ts
  demo/ConferenceStateDisplay.ts
  demo/dom.ts
  index.html
Due: none

fix: update purgatory handling in state checks and tests
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
  src/CallManager/CallStateMachine/__tests__/state.test.ts
  src/CallManager/CallStateMachine/state.ts
Due: prettier --write, eslint --fix

fix: update purgatory handling in state checks and tests (#73)
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
  src/CallManager/CallStateMachine/__tests__/state.test.ts
  src/CallManager/CallStateMachine/state.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 26.18.3
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: replace EEvent enum usage with string literals for event names in ConnectionManager and related components
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/RegistrationManager.ts
  src/ConnectionManager/SipOperations.ts
  src/ConnectionManager/events.ts
  src/ConnectionManager/index.ts
  src/IncomingCallManager/IncomingCallStateMachine.ts
  src/IncomingCallManager/__tests__/@IncomingCallManager.test.ts
Due: prettier --write, eslint --fix

refactor: replace EEvent enum with string literals for event names across multiple managers
  demo/LocalMediaStreamManager/events.ts
  demo/LocalMediaStreamManager/index.ts
  src/ApiManager/@ApiManager.ts
  src/ApiManager/events.ts
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/events.ts
  src/CallManager/@CallManager.ts
  src/CallManager/MCUSession.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/events.ts
  src/CallManager/index.ts
  src/ContentedStreamManager/@ContentedStreamManager.ts
  src/ContentedStreamManager/events.ts
  src/IncomingCallManager/@IncomingCallManager.ts
  src/IncomingCallManager/events.ts
  src/PeerToPeerManager/__tests__/PeerToPeerManager.test.ts
  src/PresentationManager/@PresentationManager.ts
  src/PresentationManager/PresentationStateMachine.ts
  src/PresentationManager/__tests__/PresentationStateMachine.test.ts
  src/PresentationManager/events.ts
  src/SessionManager/@SessionManager.ts
  src/SessionManager/events.ts
  src/VideoSendingBalancerManager/events.ts
  src/VideoSendingBalancerManager/index.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  yarn.lock
Due: none

refactor(ConnectionManager): streamline connection handling by removing processConnect method and integrating resolveParameters directly into connectionFlow.connect
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/__tests__/@ConnectionManager.test.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
  src/MainStreamRecovery/__tests__/@MainStreamRecovery.test.ts
Due: prettier --write, eslint --fix

fix(ConnectionFlow): ensure cancellation of requests during connection process
  src/ConnectionManager/ConnectionFlow.ts
Due: prettier --write, eslint --fix

feat(ConnectionFlow): invoke stateMachine.startConnect before triggering connect-started event
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
Due: prettier --write, eslint --fix

chore(release): 26.19.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(CallManager): replace CallStateMachine with createCallStateMachine and update type references to ICallStateMachine
  src/CallManager/@CallManager.ts
  src/CallManager/CallStateMachine/CallStateMachine.ts
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
  src/CallManager/CallStateMachine/createCallMachine.ts
  src/CallManager/CallStateMachine/index.ts
  src/CallManager/index.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/SessionManager/types.ts
Due: prettier --write, eslint --fix

feat(ConnectionFlow): add connect and disconnect buttons with corresponding event handlers and update session management
  demo/App.ts
  demo/CallStateManager.ts
  demo/Session/Session.ts
  demo/dom.ts
  index.html
  public/styles.css
Due: none

feat(auto-connector): add XState machine and architecture doc for reconnect flow
  docs/arch/README.md
  docs/architecture/auto-connector-state-machine.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/AutoConnectorStateMachine.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/__tests__/AutoConnectorStateMachine.test.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/__tests__/createAutoConnectorMachine.test.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/__tests__/getInvokeError.test.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/createAutoConnectorMachine.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/getInvokeError.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/index.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/types.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.basic.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
  src/AutoConnectorManager/__tests__/wrapReconnectError.test.ts
  src/AutoConnectorManager/wrapReconnectError.ts
Due: prettier --write, eslint --fix

feat(session): expose AutoConnector state in SessionManager snapshot
  demo/App.ts
  demo/Statuses.ts
  demo/dom.ts
  index.html
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/AutoConnectorStateMachine.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/index.ts
  src/SessionManager/@SessionManager.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/types.ts
  src/SipConnector/@SipConnector.ts
Due: prettier --write, eslint --fix

style: add disabled state styles for buttons and remove redundant CSS class
  public/styles.css
Due: none

feat(demo): implement session status diagrams and update status management in the app
  demo/App.ts
  demo/Session/Session.ts
  demo/Statuses.ts
  demo/dom.ts
  demo/logger.ts
  index.html
  public/styles.css
Due: none

feat(session): enhance system status selector to include AutoConnector states and add corresponding tests
  docs/api/session-events.md
  docs/arch/components/SessionManager/index.md
  docs/arch/components/SessionManager/system-status.md
  docs/arch/state-machines.md
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
Due: prettier --write, eslint --fix

docs(architecture): update architecture documentation structure and add detailed component descriptions
  README.md
  docs/README.md
  docs/architecture/README.md
  docs/architecture/components.md
  docs/architecture/components/ApiManager/index.md
  docs/architecture/components/AutoConnectorManager/index.md
  docs/architecture/components/AutoConnectorManager/state-machine.md
  docs/architecture/components/CallManager/index.md
  docs/architecture/components/CallManager/state-machine.md
  docs/architecture/components/ConnectionManager/index.md
  docs/architecture/components/ConnectionManager/state-machine.md
  docs/architecture/components/ConnectionQueueManager/index.md
  docs/architecture/components/IncomingCallManager/index.md
  docs/architecture/components/IncomingCallManager/state-machine.md
  docs/architecture/components/MainStreamHealthMonitor/index.md
  docs/architecture/components/MainStreamRecovery/index.md
  docs/architecture/components/PresentationManager/index.md
  docs/architecture/components/PresentationManager/state-machine.md
  docs/architecture/components/SessionManager/index.md
  docs/architecture/components/SessionManager/system-status.md
  docs/architecture/components/StatsManager/index.md
  docs/architecture/components/VideoSendingBalancerManager/index.md
  docs/architecture/overview.md
  docs/architecture/principles.md
  docs/architecture/state-machines-testing.md
  docs/architecture/state-machines.md
Due: prettier --write

feat(session): add debug logging for connection and media state management
  demo/Session/Session.ts
Due: none

refactor(auto-connector): consolidate terminal states into errorTerminal and update state transitions for improved error handling
  demo/dom.ts
  docs/architecture/components/AutoConnectorManager/state-machine.md
  docs/architecture/state-machines.md
  src/AutoConnectorManager/AutoConnectorStateMachine/__tests__/createAutoConnectorMachine.test.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/createAutoConnectorMachine.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/types.ts
  src/SessionManager/__tests__/selectors.test.ts
Due: prettier --write, eslint --fix

fix: do not wait enter room for presentation call
  src/ApiManager/__tests__/hasPresentationCall.test.ts
  src/ApiManager/hasPresentationCall.ts
  src/ApiManager/index.ts
  src/CallManager/@CallManager.ts
  src/CallManager/CallStateMachine/CallStateMachine.ts
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
  src/CallManager/CallStateMachine/createCallMachine.ts
  src/CallManager/CallStateMachine/state.ts
  src/CallManager/CallStateMachine/types.ts
  src/CallManager/events.ts
  src/CallManager/types.ts
  src/SessionManager/selectors.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/tools/__tests__/getExtraHeaders.test.ts
Due: prettier --write, eslint --fix

refactor(CallStateMachine): remove isPresentationCall property from presentation call context
  src/CallManager/CallStateMachine/state.ts
  src/CallManager/CallStateMachine/types.ts
Due: prettier --write, eslint --fix

feat(session): add support for PRESENTATION_CALL in session selectors and corresponding tests
  src/SessionManager/__tests__/selectors.test.ts
Due: prettier --write, eslint --fix

feat(CallManager): implement hasPresentationCall utility and integrate it into startCall logic with corresponding tests
  src/ApiManager/index.ts
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/hasPresentationCall.test.ts
  src/CallManager/hasPresentationCall.ts
  src/CallManager/types.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

refactor(CallManager): remove hasPresentationCall utility and update startCall to use extraHeaders directly
  src/CallManager/@CallManager.ts
  src/CallManager/CallStateMachine/CallStateMachine.ts
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
  src/CallManager/CallStateMachine/createCallMachine.ts
  src/CallManager/CallStateMachine/state.ts
  src/CallManager/CallStateMachine/types.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/hasPresentationCall.test.ts
  src/CallManager/events.ts
  src/CallManager/hasPresentationCall.ts
  src/utils/__tests__/validators.test.ts
  src/utils/validators.ts
Due: prettier --write, eslint --fix

feat(CallManager): add isConfirmed state to manage transition to PRESENTATION_CALL based on extraHeaders
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
  src/CallManager/CallStateMachine/createCallMachine.ts
  src/CallManager/CallStateMachine/state.ts
  src/CallManager/CallStateMachine/types.ts
Due: prettier --write, eslint --fix

feat(CallStateMachine): add setConfirmed action to prevent context modification on non-PRESENTATION_CALL events
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
Due: prettier --write, eslint --fix

refactor(CallStateMachine): simplify hasConnectingContext function and enhance hasPresentationCall logic
  src/CallManager/CallStateMachine/state.ts
Due: prettier --write, eslint --fix

feat(CallManager, CallStateMachine): introduce PRESENTATION_CALL state and update related logic for handling call transitions and JWT dependencies
  docs/architecture/components/CallManager/index.md
  docs/architecture/components/CallManager/state-machine.md
  docs/architecture/components/SessionManager/index.md
  docs/architecture/components/SessionManager/system-status.md
  docs/architecture/overview.md
  docs/architecture/state-machines.md
  docs/recipes/session-management.md
Due: prettier --write

fix: add new route for presentation call in call manager (#74)
  docs/architecture/components/CallManager/index.md
  docs/architecture/components/CallManager/state-machine.md
  docs/architecture/components/SessionManager/index.md
  docs/architecture/components/SessionManager/system-status.md
  docs/architecture/overview.md
  docs/architecture/state-machines.md
  docs/recipes/session-management.md
  src/CallManager/@CallManager.ts
  src/CallManager/CallStateMachine/CallStateMachine.ts
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
  src/CallManager/CallStateMachine/createCallMachine.ts
  src/CallManager/CallStateMachine/state.ts
  src/CallManager/CallStateMachine/types.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/events.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/tools/__tests__/getExtraHeaders.test.ts
  src/utils/__tests__/validators.test.ts
  src/utils/validators.ts
Due: prettier --write, eslint --fix

chore(release): 26.20.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(CallStateMachine): implement onInRoomCredentialsChange method to track token and conference changes in IN_ROOM state
  src/CallManager/CallStateMachine/CallStateMachine.ts
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
  src/CallManager/CallStateMachine/createCallMachine.ts
  src/CallManager/CallStateMachine/types.ts
Due: prettier --write, eslint --fix

feat(CallStateMachine): add getInRoomCredentials method to retrieve token and conferenceForToken in IN_ROOM state with corresponding tests
  src/CallManager/CallStateMachine/CallStateMachine.ts
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
Due: prettier --write, eslint --fix

feat(CallStateMachine): introduce shouldResetInRoomCredentialsPrevious function and update state handling logic
  src/CallManager/CallStateMachine/CallStateMachine.ts
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
  src/CallManager/CallStateMachine/__tests__/inRoomCredentialsPreviousReset.test.ts
  src/CallManager/CallStateMachine/inRoomCredentialsPreviousReset.ts
Due: prettier --write, eslint --fix

feat(CallManager): refactor session management to utilize in-room credentials for token and conference number
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix
