Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(release): 16.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update
  README.md
  docs/arch.md
  src/VideoSendingBalancer/README.md
  src/VideoSendingBalancerManager/README.md
Due: prettier --write

docs: some
  docs/arch.md
Due: prettier --write

docs: some
  src/VideoSendingBalancer/README.md
Due: prettier --write

docs: update (#48)
  README.md
  docs/arch.md
  src/VideoSendingBalancer/README.md
  src/VideoSendingBalancerManager/README.md
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: none

fix: type onBeforeProgressCall
  src/SipConnectorFacade/SipConnectorFacade.ts
Due: prettier --write, eslint --fix

chore(release): 16.0.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add ConnectionStackedManager for connection management
  src/ConnectionStackedManager/@ConnectionStackedManager.ts
  src/ConnectionStackedManager/index.ts
  src/SipConnector/@SipConnector.ts
Due: prettier --write, eslint --fix

feat: implement ConnectionStackManager for managing connection operations
  src/ConnectionStackManager/@ConnectionStackManager.ts
  src/ConnectionStackManager/__test__/@ConnectionStackManager.ts
  src/ConnectionStackManager/index.ts
  src/ConnectionStackedManager/index.ts
  src/SipConnector/@SipConnector.ts
Due: prettier --write, eslint --fix

test: refactor tests to use Promise.allSettled for better error handling
  src/SipConnectorFacade/__tests__/connectToServer.test.ts
  src/__tests__/connect.test.ts
  src/tools/__tests__/processRequest.test.ts
Due: prettier --write, eslint --fix

docs: update README and arch documentation
  README.md
  docs/arch.md
Due: prettier --write

chore: rename file
  src/ConnectionStackManager/__test__/@ConnectionStackManager.test.ts
Due: prettier --write, eslint --fix

refactor: rename ConnectionStackManager to ConnectionQueueManager and update related documentation
  README.md
  docs/arch.md
  src/ConnectionQueueManager/@ConnectionQueueManager.ts
  src/ConnectionQueueManager/__test__/@ConnectionQueueManager.test.ts
  src/ConnectionQueueManager/index.ts
  src/ConnectionStackManager/index.ts
  src/SipConnector/@SipConnector.ts
Due: prettier --write, eslint --fix

docs: update README
  README.md
Due: prettier --write

feat: add connection Queue manager (#49)
  README.md
  docs/arch.md
  src/ConnectionQueueManager/@ConnectionQueueManager.ts
  src/ConnectionQueueManager/__test__/@ConnectionQueueManager.test.ts
  src/ConnectionQueueManager/index.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnectorFacade/__tests__/connectToServer.test.ts
  src/__tests__/connect.test.ts
  src/tools/__tests__/processRequest.test.ts
Due: prettier --write, eslint --fix

chore(release): 16.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update commands of release package.json
  package.json
Due: none

feat: add ping requester
  src/AutoConnectManager/PingServer.ts
  src/CallManager/@CallManager.ts
  src/ConnectionQueueManager/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat: add check telephony requester
  src/AutoConnectManager/CheckTelephonyRequester.ts
  src/AutoConnectManager/PingServerRequester.ts
Due: prettier --write, eslint --fix

feat: implement attempts connector with state machine and counter
  src/AutoConnectManager/AttemptsConnector.ts
  src/AutoConnectManager/Counter.ts
  src/AutoConnectManager/stateMachine.ts
Due: prettier --write, eslint --fix

feat: add auto connect manager for handling connection attempts
  src/AutoConnectManager/@AutoConnectManager.ts
  src/AutoConnectManager/AttemptsConnector.ts
  src/AutoConnectManager/CheckTelephonyRequester.ts
  src/AutoConnectManager/index.ts
Due: prettier --write, eslint --fix

feat: add callbacks and events
  src/AutoConnectManager/index.ts
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/AttemptsConnector.ts
  src/AutoConnectorManager/CheckTelephonyRequester.ts
  src/AutoConnectorManager/Counter.ts
  src/AutoConnectorManager/PingServerRequester.ts
  src/AutoConnectorManager/eventNames.ts
  src/AutoConnectorManager/stateMachine.ts
  src/AutoConnectorManager/types.ts
  src/SipConnector/eventNames.ts
Due: prettier --write, eslint --fix

refactor: rename methods and improve type imports in AutoConnectorManager
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/CheckTelephonyRequester.ts
  src/AutoConnectorManager/PingServerRequester.ts
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

feat: enhance AutoConnectorManager with connection state checks and refactor connection methods
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/types.ts
  src/ConnectionManager/@ConnectionManager.ts
Due: prettier --write, eslint --fix

feat: add RegistrationFailedOutOfCallListener to handle registration failure events
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/RegistrationFailedOutOfCallListener.ts
Due: prettier --write, eslint --fix

feat: add optional subscriber
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/RegistrationFailedOutOfCallSubscriber.ts
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

refactor: some
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/eventNames.ts
Due: prettier --write, eslint --fix

refactor: attempts state
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/AttemptsConnector.ts
  src/AutoConnectorManager/AttemptsState.ts
  src/AutoConnectorManager/Counter.ts
  src/AutoConnectorManager/stateMachine.ts
Due: prettier --write, eslint --fix

feat: add isAttemptInProgress getter to AutoConnectorManager
  src/AutoConnectorManager/@AutoConnectorManager.ts
Due: prettier --write, eslint --fix

refactor: replace inProgress flag with finishAttempt method in AttemptsState
  src/AutoConnectorManager/AttemptsState.ts
Due: prettier --write, eslint --fix

feat: inject in SipConnector
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/index.ts
  src/AutoConnectorManager/types.ts
  src/SipConnector/@SipConnector.ts
Due: prettier --write, eslint --fix

feat: add proxy methods
  src/CallManager/@CallManager.ts
  src/SipConnectorFacade/SipConnectorFacade.ts
Due: prettier --write, eslint --fix

refactor: some
  src/AutoConnectorManager/AbstractSubscriber.ts
  src/AutoConnectorManager/CallStatusSubscriber.ts
  src/AutoConnectorManager/RegistrationFailedOutOfCallSubscriber.ts
  src/AutoConnectorManager/RegistrationFailedSubscriber.ts
  src/AutoConnectorManager/types.ts
  src/CallManager/@CallManager.ts
Due: prettier --write, eslint --fix

refactor: integrate CallStatusSubscriber into PingServerRequester
  src/AutoConnectorManager/PingServerRequester.ts
Due: prettier --write, eslint --fix

refactor: remove unused methods from ConnectionQueueManager
  src/ConnectionQueueManager/@ConnectionQueueManager.ts
  src/ConnectionQueueManager/__test__/@ConnectionQueueManager.test.ts
Due: prettier --write, eslint --fix

refactor: update connection handling in AutoConnectorManager and SipConnector
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/ConnectionQueueManager/@ConnectionQueueManager.ts
  src/SipConnector/@SipConnector.ts
Due: prettier --write, eslint --fix

feat: add restart event
  package.json
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/ApiManager/constants.ts
  src/ApiManager/eventNames.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: add auto restart ICE-connection on restart event from server
  README.md
  src/ApiManager/@ApiManager.ts
  src/ApiManager/types.ts
  src/CallManager/@CallManager.ts
  src/CallManager/AbstractCallStrategy.ts
  src/CallManager/MCUCallStrategy.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/MCUCallStrategy.test.ts
  src/CallManager/types.ts
  src/PresentationManager/index.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/__fixtures__/RTCSessionMock.ts
Due: prettier --write, eslint --fix
