Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: fire event 'recv-quality-changed' in setRecvQuality
  src/CallManager/@CallManager.ts
Due: prettier --write, eslint --fix

fix: переключения микрофона (`spectator → participant → spectator` с интервалом 100 мс) создаёт только одну spectator-сессию без промежуточного завершения
  docs/recipes/e2e-scenarios-matrix.md
  e2e/microphone-role-transition.spec.ts
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/RecvSession.test.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  demo/dom.ts
  docs/recipes/e2e-scenarios-matrix.md
  e2e/call.spec.ts
  e2e/connect.spec.ts
  e2e/connection.config.ts
  e2e/page-objects/ConnectPage.ts
  e2e/spectator-role-reset-on-call-end.spec.ts
  e2e/spectator.spec.ts
  package.json
  playwright.config.ts
  yarn.lock
Due: prettier --write

chore(release): 31.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: enhance presentation handling by adding support for custom send encodings and session management
  docs/api/README.md
  docs/api/call-events.md
  docs/api/exports.md
  docs/api/incoming-call-events.md
  docs/recipes/disconnect-cause.md
  src/CallManager/MCUSession.ts
  src/CallManager/__tests__/MCUSession.disconnectCause.test.ts
  src/CallManager/events.ts
  src/CallManager/types.ts
  src/IncomingCallManager/@IncomingCallManager.ts
  src/IncomingCallManager/__tests__/disconnectCause.test.ts
  src/IncomingCallManager/events.ts
  src/index.ts
  src/tools/disconnectCause/__fixtures__/createDisconnectRequest.ts
  src/tools/disconnectCause/__tests__/resolveCallEndEvent.test.ts
  src/tools/disconnectCause/constants.ts
  src/tools/disconnectCause/index.ts
  src/tools/disconnectCause/resolveCallEndEvent.ts
  src/tools/disconnectCause/types.ts
  src/tools/index.ts
Due: prettier --write, eslint --fix

feat: implement disconnect cause handling in SIP events e2e
  docs/recipes/disconnect-cause.md
  e2e/disconnect-cause.spec.ts
  e2e/support/SipPeer.ts
  e2e/support/observeDisconnectEvents.ts
  src/CallManager/__tests__/MCUSession.disconnectCause.test.ts
  src/IncomingCallManager/__tests__/disconnectCause.test.ts
  src/tools/disconnectCause/__fixtures__/createDisconnectRequest.ts
Due: prettier --write, eslint --fix

refactor: extract failed incoming call handling into a separate method
  src/IncomingCallManager/@IncomingCallManager.ts
Due: prettier --write, eslint --fix

fix: improve handling of incoming call session termination and update tests for BYE events
  src/IncomingCallManager/@IncomingCallManager.ts
  src/IncomingCallManager/__tests__/disconnectCause.test.ts
Due: prettier --write, eslint --fix

docs: update disconnect cause references and add new documentation for disconnect causes
  docs/api/README.md
  docs/api/call-events.md
  docs/api/disconnect-causes.md
  docs/api/incoming-call-events.md
  scripts/docs-check.cjs
Due: prettier --write

refactor: reorganize disconnect cause handling by creating a dedicated module and updating references throughout the codebase
  src/CallManager/MCUSession.ts
  src/CallManager/__tests__/MCUSession.disconnectCause.test.ts
  src/CallManager/events.ts
  src/CallManager/types.ts
  src/DisconnectCause/__fixtures__/createDisconnectRequest.ts
  src/DisconnectCause/__tests__/resolveCallEndEvent.test.ts
  src/DisconnectCause/constants.ts
  src/DisconnectCause/index.ts
  src/DisconnectCause/resolveCallEndEvent.ts
  src/DisconnectCause/types.ts
  src/IncomingCallManager/@IncomingCallManager.ts
  src/IncomingCallManager/__tests__/disconnectCause.test.ts
  src/IncomingCallManager/events.ts
  src/index.ts
  src/tools/index.ts
Due: prettier --write, eslint --fix

feat: expose server disconnect causes in call events (#83)
  docs/api/README.md
  docs/api/call-events.md
  docs/api/disconnect-causes.md
  docs/api/exports.md
  docs/api/incoming-call-events.md
  e2e/disconnect-cause.spec.ts
  e2e/support/SipPeer.ts
  e2e/support/observeDisconnectEvents.ts
  scripts/docs-check.cjs
  src/CallManager/MCUSession.ts
  src/CallManager/__tests__/MCUSession.disconnectCause.test.ts
  src/CallManager/events.ts
  src/CallManager/types.ts
  src/DisconnectCause/__fixtures__/createDisconnectRequest.ts
  src/DisconnectCause/__tests__/resolveCallEndEvent.test.ts
  src/DisconnectCause/constants.ts
  src/DisconnectCause/index.ts
  src/DisconnectCause/resolveCallEndEvent.ts
  src/DisconnectCause/types.ts
  src/IncomingCallManager/@IncomingCallManager.ts
  src/IncomingCallManager/__tests__/disconnectCause.test.ts
  src/IncomingCallManager/events.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 31.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 31.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *src/**/*.{js,ts,json}) or (any of: *.md)
  eslint --fix: any of: *src/**/*.{js,ts,json}
