Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): 26.3.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat: implement session management for viewer mode in VideoSendingBalancerManager
  src/VideoSendingBalancer/@VideoSendingBalancer.ts
  src/VideoSendingBalancer/SenderBalancer.ts
  src/VideoSendingBalancer/__tests__/SenderBalancer.test.ts
  src/VideoSendingBalancer/__tests__/VideoSendingBalancer.test.ts
  src/VideoSendingBalancerManager/@VideoSendingBalancerManager.ts
  src/VideoSendingBalancerManager/README.md
  src/VideoSendingBalancerManager/__tests__/@VideoSendingBalancerManager.test.ts
Due: prettier --write, eslint --fix

feat: enhance StatsManager and VideoSendingBalancerManager with new session event handling
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  src/VideoSendingBalancerManager/@VideoSendingBalancerManager.ts
  src/VideoSendingBalancerManager/README.md
  src/VideoSendingBalancerManager/__tests__/@VideoSendingBalancerManager.test.ts
Due: prettier --write, eslint --fix

fix: improve error handling in startRecvSession to include detailed failure responses
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
Due: prettier --write, eslint --fix

chore(release): 26.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: set conference and participant fields in call state
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/SessionManager/__tests__/selectors.test.ts
Due: prettier --write, eslint --fix

fix: set conference and participant fields in call state (#71)
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/SessionManager/__tests__/selectors.test.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 26.4.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add support for second video synchronization sources
  src/StatsPeerConnection/__fixtures__/callStaticsState.ts
  src/StatsPeerConnection/__tests__/parseStatsReports.test.ts
  src/StatsPeerConnection/__tests__/requestAllStatistics.test.ts
  src/StatsPeerConnection/parseStatsReports.ts
  src/StatsPeerConnection/requestAllStatistics.ts
  src/StatsPeerConnection/types.ts
Due: prettier --write, eslint --fix

refactor: introduce EventEmitterProxy for event handling in multiple managers
  src/ApiManager/@ApiManager.ts
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/CallManager/@CallManager.ts
  src/ConnectionManager/@ConnectionManager.ts
  src/ContentedStreamManager/@ContentedStreamManager.ts
  src/EventEmitterProxy/@EventEmitterProxy.ts
  src/EventEmitterProxy/__tests__/@EventEmitterProxy.test.ts
  src/EventEmitterProxy/index.ts
  src/IncomingCallManager/@IncomingCallManager.ts
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/PresentationManager/@PresentationManager.ts
  src/SessionManager/@SessionManager.ts
  src/SipConnector/@SipConnector.ts
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  src/StatsPeerConnection/@StatsPeerConnection.ts
  src/VideoSendingBalancerManager/@VideoSendingBalancerManager.ts
Due: prettier --write, eslint --fix

chore: use EventEmitterProx from events-constructor version 2.2.1
  package.json
  src/ApiManager/@ApiManager.ts
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/CallManager/@CallManager.ts
  src/ConnectionManager/@ConnectionManager.ts
  src/ContentedStreamManager/@ContentedStreamManager.ts
  src/EventEmitterProxy/@EventEmitterProxy.ts
  src/EventEmitterProxy/__tests__/@EventEmitterProxy.test.ts
  src/EventEmitterProxy/index.ts
  src/IncomingCallManager/@IncomingCallManager.ts
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/PresentationManager/@PresentationManager.ts
  src/SessionManager/@SessionManager.ts
  src/SipConnector/@SipConnector.ts
  src/StatsManager/@StatsManager.ts
  src/StatsPeerConnection/@StatsPeerConnection.ts
  src/VideoSendingBalancerManager/@VideoSendingBalancerManager.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 26.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: enhance statistics collection and event handling in StatsManager and StatsPeerConnection
  docs/api/stats-events.md
  docs/recipes/webrtc-stats.md
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  src/StatsPeerConnection/@StatsPeerConnection.ts
  src/StatsPeerConnection/__tests__/StatsPeerConnection.intervals.test.ts
  src/StatsPeerConnection/__tests__/StatsPeerConnection.test.ts
  src/StatsPeerConnection/events.ts
Due: prettier --write, eslint --fix

chore(release): 26.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add localPorts functionality to CallManager and SipConnector
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

refactor: move localPorts getter to public in SipConnector
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

chore(release): 26.7.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: enhance SipConnector with video balancer options and codec preferences
  demo/Session/sipConnectorFacade.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/__tests__/events.test.ts
  src/SipConnector/__tests__/onAddedTransceiverCodec.test.ts
  src/SipConnector/__tests__/setCodecPreferences.test.ts
  src/SipConnector/__tests__/videoBalancerOptionsInSipConnector.test.ts
  src/SipConnector/constants.ts
  src/__fixtures__/mockCreateUaParser.ts
  src/tools/__tests__/getPriorityCodecs.test.ts
  src/tools/__tests__/hasNotSupportedH264CodecForVideoSendingBalancer.test.ts
  src/tools/createUaParser/__tests__/createUaParser.test.ts
  src/tools/createUaParser/__tests__/getVersionParsed.test.ts
  src/tools/createUaParser/__tests__/isElectronEnvironment.test.ts
  src/tools/createUaParser/compareBrowserVersion/__tests__/resolveHasGreaterThan.test.ts
  src/tools/createUaParser/compareBrowserVersion/hasGreaterThan.ts
  src/tools/createUaParser/compareBrowserVersion/hasValidVersion.ts
  src/tools/createUaParser/compareBrowserVersion/index.ts
  src/tools/createUaParser/compareBrowserVersion/resolveHasGreaterThan.ts
  src/tools/createUaParser/compareBrowserVersion/types.ts
  src/tools/createUaParser/createUaParser.ts
  src/tools/createUaParser/getVersionParsed.ts
  src/tools/getPriorityCodecs.ts
  src/tools/hasNotSupportedH264CodecForVideoSendingBalancer.ts
Due: prettier --write, eslint --fix

refactor: simplify SipConnector initialization by removing video balancer options
  demo/Session/sipConnectorFacade.ts
Due: none

refactor: update import path for video codecs in getPriorityCodecs
  src/tools/getPriorityCodecs.ts
Due: prettier --write, eslint --fix

feat: enhance BitrateStateManager to support dynamic maxBitrate for audio and video
  src/CallManager/BitrateStateManager.ts
  src/CallManager/__tests__/BitrateStateManager.test.ts
  src/VideoSendingBalancer/index.ts
  src/tools/setParametersToSender/__tests__/configureMaxBitrate.test.ts
  src/tools/setParametersToSender/configureMaxBitrate.ts
Due: prettier --write, eslint --fix

chore(release): 26.8.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add iceServers from MCUSession to RecvSession
  src/CallManager/@CallManager.ts
  src/CallManager/MCUSession.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/MCUSession.test.ts
  src/CallManager/types.ts
Due: prettier --write, eslint --fix

chore(release): 26.9.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs: implement main stream recovery algorithm
  src/MainStreamRecovery/@MainStreamRecovery.ts
  src/StatsManager/@StatsManager.ts
Due: prettier --write, eslint --fix

refactor: streamline spectator checks in CallManager
  src/CallManager/@CallManager.ts
Due: prettier --write, eslint --fix

chore(release): 26.9.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: auto-recover recvSession for Spectator
  docs/api/main-stream-health-events.md
  docs/main-stream-monitoring-and-recovery-diagram.md
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/MainStreamHealthMonitor/events.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/events.test.ts
Due: prettier --write, eslint --fix

chore(release): 26.10.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: implement restartRecvSession method in CallManager
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
Due: prettier --write, eslint --fix

feat: auto-recover recvSession for Spectator
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/MainStreamHealthMonitor/events.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/events.test.ts
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
Due: prettier --write, eslint --fix

chore(release): 26.11.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: update isInboundVideoFrozen logic to check for inbound traffic before determining frozen state
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
Due: prettier --write, eslint --fix

chore(release): 26.11.1
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: rename isInboundVideoFrozen to isInboundVideoStalled
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/MainStreamHealthMonitor/events.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/events.test.ts
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
Due: prettier --write, eslint --fix

refactor: consolidate dependency management in ConnectionFlow class
  src/ConnectionManager/ConnectionFlow.ts
Due: prettier --write, eslint --fix

feat: add numberOfConnectionAttempts parameter to ConnectionManager
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/__tests__/connect.test.ts
  src/SipConnector/@SipConnector.ts
  src/__tests__/connect.test.ts
Due: prettier --write, eslint --fix

feat: enhance MainStreamHealthMonitor with health snapshot and problem detection
  docs/api/main-stream-health-events.md
  docs/arch/overview.md
  docs/main-stream-monitoring-and-recovery-diagram.md
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/MainStreamHealthMonitor/events.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/__tests__/events.test.ts
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *src/**/*.{js,ts,json}) or (any of: *.md)
  eslint --fix: any of: *src/**/*.{js,ts,json}
