Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 16.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: replace log with logger in AutoConnectorManager and related requesters
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/CheckTelephonyRequester.ts
  src/AutoConnectorManager/PingServerRequester.ts
Due: prettier --write, eslint --fix

refactor: improve error handling and connection parameter retrieval
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

refactor: enhance error handling logic
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
Due: prettier --write, eslint --fix

refactor: remove connectorSubscriber and enhance CallStatusSubscriber subscription
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/CallStatusSubscriber.ts
  src/AutoConnectorManager/PingServerRequester.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/AutoConnectorManager/eventNames.ts
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

refactor: remove unused event
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/AutoConnectorManager/eventNames.ts
Due: prettier --write, eslint --fix

refactor: integrate ConnectFlow for connection management
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/ConnectFlow.ts
Due: prettier --write, eslint --fix

refactor: simplify events
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/eventNames.ts
Due: prettier --write, eslint --fix

feat: add cancelable promise for clear cache
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/CheckTelephonyRequester.ts
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

refactor: enhance event handling and attempt state management
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/AttemptsState.ts
  src/AutoConnectorManager/eventNames.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnectorFacade/SipConnectorFacade.ts
Due: prettier --write, eslint --fix

refactor: update events props
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/eventNames.ts
Due: prettier --write, eslint --fix

refactor: remove unused property
  src/SipConnectorFacade/SipConnectorFacade.ts
Due: prettier --write, eslint --fix

feat: add events
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/AttemptsState.ts
  src/AutoConnectorManager/CheckTelephonyRequester.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/AutoConnectorManager/eventNames.ts
  src/AutoConnectorManager/types.ts
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/eventNames.ts
Due: prettier --write, eslint --fix

refactor: hasPromiseIsNotActualError
  src/ConnectionQueueManager/index.ts
  src/ConnectionQueueManager/utils/hasPromiseIsNotActualError.ts
  src/ConnectionQueueManager/utils/index.ts
Due: prettier --write, eslint --fix

test: add tests
  src/AutoConnectorManager/CallStatusSubscriber.ts
  src/AutoConnectorManager/__tests__/AttemptsState.test.ts
  src/AutoConnectorManager/__tests__/CallStatusSubscriber.test.ts
  src/AutoConnectorManager/__tests__/PingServerRequester.test.ts
  src/AutoConnectorManager/__tests__/RegistrationFailedSubscriber.test.ts
Due: prettier --write, eslint --fix

test: add tests for connect flow
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/ConnectFlow.ts
  src/AutoConnectorManager/__tests__/CheckTelephonyRequester.test.ts
  src/AutoConnectorManager/__tests__/ConnectFlow.test.ts
  src/AutoConnectorManager/__tests__/RegistrationFailedOutOfCallSubscriber.test.ts
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

test: update tests for sip-connector
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/__tests__/events.test.ts
Due: prettier --write, eslint --fix

test: add tests for connection manager
  src/ConnectionManager/__tests__/@ConnectionManager.test.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  src/CallManager/types.ts
  src/PresentationManager/types.ts
  src/SipConnector/__tests__/onAddedTransceiverCodec.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

test: improve tests for AutoConnectorManager and AttemptsState
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/AutoConnectorManager/__tests__/AttemptsState.test.ts
  src/AutoConnectorManager/__tests__/ConnectFlow.test.ts
Due: prettier --write, eslint --fix

refactor: remove unused event
  src/ConnectionManager/eventNames.ts
Due: prettier --write, eslint --fix

docs: update
  README.md
  docs/arch.md
Due: prettier --write

feat: enhance connected event with detailed configuration data
  README.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/AutoConnectorManager/eventNames.ts
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

refactor: update queue and error handling
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/ConnectFlow.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/AutoConnectorManager/eventNames.ts
  src/AutoConnectorManager/utils/errors.ts
  src/AutoConnectorManager/utils/index.ts
  src/ConnectionQueueManager/@ConnectionQueueManager.ts
  src/ConnectionQueueManager/__test__/@ConnectionQueueManager.test.ts
  src/SipConnector/@SipConnector.ts
Due: prettier --write, eslint --fix

test: add unit tests for error handling
  src/AutoConnectorManager/utils/__tests__/errors.test.ts
Due: prettier --write, eslint --fix

feat: add TransceiverManager and auto presentation transceiver handling
  README.md
  src/ApiManager/index.ts
  src/CallManager/@CallManager.ts
  src/CallManager/AbstractCallStrategy.ts
  src/CallManager/MCUCallStrategy.ts
  src/CallManager/TransceiverManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/MCUCallStrategy.test.ts
  src/CallManager/__tests__/TransceiverManager.test.ts
  src/CallManager/index.ts
  src/CallManager/types.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/__fixtures__/RTCPeerConnectionMock.ts
  src/__fixtures__/RTCRtpTransceiverMock.ts
Due: prettier --write, eslint --fix

docs: simplify architecture documentation
  docs/arch.md
Due: prettier --write

test: update connect flow tests for parameter handling and event naming
  src/AutoConnectorManager/ConnectFlow.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/AutoConnectorManager/__tests__/ConnectFlow.test.ts
  src/ConnectionQueueManager/__test__/@ConnectionQueueManager.test.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  src/StatsPeerConnection/requestAllStatistics.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update README
  README.md
Due: prettier --write

chore(release): 17.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update
  README.md
  docs/arch.md
  src/AutoConnectorManager/types.ts
  src/SipConnector/__tests__/events.test.ts
Due: prettier --write, eslint --fix

refactor: some
  src/AutoConnectorManager/@AutoConnectorManager.ts
Due: prettier --write, eslint --fix

docs: update
  docs/arch.md
Due: prettier --write

refactor: rename method
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnectorFacade/SipConnectorFacade.ts
Due: prettier --write, eslint --fix

chore: some
  README.md
Due: prettier --write

refactor: update attempt status handling to use object structure
  README.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/AttemptsState.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/AutoConnectorManager/eventNames.ts
Due: prettier --write, eslint --fix

refactor: events types and payloads
  README.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/ConnectFlow.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.test.ts
  src/AutoConnectorManager/eventNames.ts
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix
