Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore: remove unusages
  src/causes.ts
Due: prettier --write, eslint --fix

feat: new events, methods, tests for notify
  src/SipConnector.ts
  src/__mocks__/channelsNotify.ts
  src/__tests__/channelsNotify.ts
  src/eventNames.ts
  src/headers.ts
Due: prettier --write, eslint --fix

test: channelsNotify
  src/SipConnector.ts
  src/__mocks__/UA.mock.ts
  src/__mocks__/jssip.mock.ts
  src/__tests__/channelsNotify.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

refactor: added types and changes after review
  src/SipConnector.ts
  src/__mocks__/channelsNotify.ts
  src/__tests__/channelsNotify.ts
  src/eventNames.ts
  src/headers.ts
Due: prettier --write, eslint --fix

refactor: small
  src/__mocks__/jssip.mock.ts
Due: prettier --write, eslint --fix

feat(sip-connector): listen info and notify messages for channels (#6)
  src/SipConnector.ts
  src/__mocks__/UA.mock.ts
  src/__mocks__/channelsNotify.ts
  src/__mocks__/jssip.mock.ts
  src/__tests__/channelsNotify.ts
  src/eventNames.ts
  src/headers.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  src/__mocks__/doMock.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: some fix
  src/__tests__/validateAPI.ts
Due: prettier --write, eslint --fix

fix: add options to replaceMediaStream
  src/SipConnector.ts
  src/__tests__/incomingCall.ts
Due: prettier --write, eslint --fix

chore(release): 2.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add maxBitrate to startPresentation
  package.json
  src/SipConnector.ts
  src/videoSendingBalancer‎/findSenderByStream.ts
  src/videoSendingBalancer‎/index.ts
  src/videoSendingBalancer‎/processSender.ts
  src/videoSendingBalancer‎/scaleBitrate.ts
  src/videoSendingBalancer‎/setEncodingsToSender.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 2.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(sip-connector): _hangUpWithoutCancelRequests
  src/SipConnector.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): check isEnded before terminate
  src/SipConnector.ts
  src/__mocks__/Session.mock.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): private _isEnded field
  src/__mocks__/Session.mock.ts
Due: prettier --write, eslint --fix

fix: hangUp for only active session (#8)
  src/SipConnector.ts
  src/__mocks__/Session.mock.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  src/__mocks__/RTCPeerConnectionMock.ts
  src/setupTests.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 2.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat(sip-connector): add participant events listeners
  src/SipConnector.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

test(sip-connector): add participant notify module tests
  src/SipConnector.ts
  src/__mocks__/participantNotify.ts
  src/__tests__/participantNotify.ts
Due: prettier --write, eslint --fix

feat(sip-connector): add participant events listeners (#9)
  src/SipConnector.ts
  src/__mocks__/participantNotify.ts
  src/__tests__/participantNotify.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  .eslintrc
  package.json
  src/__tests__/participantNotify.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 2.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: notify
  .eslintrc
  src/SipConnector.ts
  src/__tests__/participantNotify.ts
Due: prettier --write, eslint --fix

chore(release): 2.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: add iceServers to call params
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 2.3.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 2.3.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add events for handle reqests to move participant
  src/SipConnector.ts
  src/__mocks__/participantMoveRequests.ts
  src/__tests__/participantMoveRequests.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

chore(release): 2.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: conference for reqests to move participant
  src/SipConnector.ts
  src/__mocks__/participantMoveRequests.ts
Due: prettier --write, eslint --fix

chore(release): 2.4.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add event participant:canceling-word-request
  src/SipConnector.ts
  src/__mocks__/participantMoveRequests.ts
  src/__tests__/participantMoveRequests.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

chore(release): 2.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: handle disconnect error
  src/SipConnector.ts
Due: prettier --write, eslint --fix
