Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

ci: add CI workflow for linting and testing with Node.js
  .github/workflows/ci.yml
Due: none

chore: update GitHub Actions to use latest versions of checkout, setup-node, and upload-artifact
  .github/workflows/ci.yml
Due: none

feat: add GitHub Pages deployment workflow and demo link to README
  .github/workflows/pages.yml
  README.md
  vite.demo.config.ts
Due: prettier --write

docs: add demo section to README with link to online mini-application
  README.md
Due: prettier --write

chore(release): 26.12.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update README to include demo and documentation links
  README.md
Due: prettier --write

docs: remove redundant demo section and streamline README content
  README.md
Due: prettier --write

feat: implement inbound video problem resolution event in MainStreamHealthMonitor
  docs/api/main-stream-health-events.md
  docs/arch/overview.md
  docs/main-stream-monitoring-and-recovery-diagram.md
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/MainStreamHealthMonitor/events.ts
  src/SipConnector/__tests__/events.test.ts
Due: prettier --write, eslint --fix

chore(release): 26.13.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add ROOM_PENDING_AUTH state to CallManager for handling room access without token
  docs/api/call-events.md
  docs/arch/components/CallManager/index.md
  docs/arch/components/CallManager/state-machine.md
  docs/arch/components/SessionManager/system-status.md
  docs/arch/overview.md
  docs/arch/state-machines.md
  docs/recipes/session-management.md
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
Due: prettier --write, eslint --fix

chore(release): 26.14.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: implement inbound video problem reset event in MainStreamHealthMonitor
  docs/api/main-stream-health-events.md
  docs/arch/overview.md
  docs/main-stream-monitoring-and-recovery-diagram.md
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/MainStreamHealthMonitor/events.ts
  src/SipConnector/__tests__/events.test.ts
Due: prettier --write, eslint --fix

chore(release): 26.15.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: enhance conference participant token handling with validation and tests
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.notify.test.ts
  src/ApiManager/__tests__/events.test.ts
  src/ApiManager/events.ts
  src/ApiManager/getHeader.ts
  src/CallManager/CallStateMachine.ts
  src/utils/__tests__/validators.test.ts
  src/utils/validators.ts
Due: prettier --write, eslint --fix

chore(release): 26.15.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: set VITE_APP_VERSION in configuration for dynamic title update
  index.html
  vite.config.ts
  vite.demo.config.ts
Due: none

chore: update dependencies
  .ncurc.json
  demo/dom.ts
  package.json
  src/PresentationManager/@PresentationManager.ts
  src/__fixtures__/BaseSession.mock.ts
  src/tools/__tests-utils__/resolveParseArray.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 26.15.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix: use room for conference in room state
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
Due: prettier --write, eslint --fix

chore(release): 26.15.3
  CHANGELOG.md
  package.json
Due: prettier --write

chore: enhance VideoPlayer constructor to accept muted state
  demo/App.ts
  demo/RemoteMediaStreamManager.ts
  demo/Session/index.ts
  demo/VideoPlayer.ts
Due: none

feat: add configurable parameters for problem detection and recovery in MainStreamHealthMonitor and MainStreamRecovery
  commitlint.config.cjs
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/MainStreamRecovery/@MainStreamRecovery.ts
  src/MainStreamRecovery/__tests__/@MainStreamRecovery.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

feat(demo): implement main stream settings form for problem detection and recovery configuration
  demo/App.ts
  demo/dom.ts
  index.html
Due: none

refactor: update call form labels for improved accessibility and styling
  index.html
  public/styles.css
Due: none

feat(demo): enhance stress testing presentation functionality with collapsible sections and status updates
  demo/PresentationManager.ts
  demo/dom.ts
  index.html
  public/styles.css
Due: none

chore(release): 26.16.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(demo): add notification system for user alerts and status messages
  demo/App.ts
  demo/NotificationManager.ts
  index.html
  public/styles.css
Due: none

chore(release): 26.17.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: update default values for problem detection and recovery parameters in MainStreamHealthMonitor and MainStreamRecovery
  index.html
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/MainStreamRecovery/@MainStreamRecovery.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

feat(demo): add health snapshot notifications and enhance notification styling
  demo/App.ts
  demo/NotificationManager.ts
  public/styles.css
Due: none

feat(demo): improve health snapshot notifications to display only active issues
  demo/App.ts
Due: none

chore(release): 26.18.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(CallStateMachine): check conferenceForToken in room
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
Due: prettier --write, eslint --fix

chore(release): 26.18.1
  CHANGELOG.md
  package.json
Due: prettier --write

test(CallStateMachine): add tests for normalized context snapshots in various states
  src/CallManager/__tests__/CallStateMachine.test.ts
Due: prettier --write, eslint --fix

refactor(CallStateMachine): rename context types and enhance state management with raw and state separation
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
Due: prettier --write, eslint --fix

test(selectors): update context structure in sessionSelectors to include raw and state properties
  src/SessionManager/__tests__/selectors.test.ts
Due: prettier --write, eslint --fix

fix: normalize snapshot context for call state (#72)
  src/CallManager/CallStateMachine.ts
  src/CallManager/__tests__/CallStateMachine.test.ts
  src/SessionManager/__tests__/selectors.test.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 26.18.2
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *src/**/*.{js,ts,json}) or (any of: *.md)
  eslint --fix: any of: *src/**/*.{js,ts,json}
