Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): 5.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(sip-connector): move ask permission logic to sip-connector
  src/SipConnector.ts
  src/utils/errors.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): remove this.session
  src/SipConnector.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): send options media state
  src/SipConnector.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): refactor using this.session
  src/SipConnector.ts
Due: prettier --write, eslint --fix

fix(sip-connector): some fix after review
  src/SipConnector.ts
Due: prettier --write, eslint --fix

feat: process decline unmute in askPermission function (#17)
  src/SipConnector.ts
  src/utils/errors.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  .ncurc.json
  package.json
  yarn.lock
Due: none

test: update
  src/__tests__/mediaState.ts
Due: prettier --write, eslint --fix

chore(release): 5.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(sip-connector): addd info remote media state control
  src/SipConnector.ts
  src/constants.ts
  src/eventNames.ts
  src/headers.ts
Due: prettier --write, eslint --fix

test(sip-connector): tests for new handlers
  src/__tests__/mainCamRemoteControl.ts
  src/__tests__/micRemoteControl.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): remove unused method askPermissionToEnableMic
  src/SipConnector.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): remove unused headers
  src/SipConnector.ts
  src/__tests__/mainCamControl.ts
  src/__tests__/mainCamRemoteControl.ts
  src/__tests__/micRemoteControl.ts
  src/headers.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): small
  src/SipConnector.ts
Due: prettier --write, eslint --fix

refactor: move some session events into ua events
  src/SipConnector.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

test: update module tests for movable events
  src/__tests__/accountNotify.ts
  src/__tests__/channelsNotify.ts
  src/__tests__/conferenceParticipantTokenIssuedNotify.ts
  src/__tests__/participantMoveRequests.ts
  src/__tests__/participantNotify.ts
  src/__tests__/webcastNotify.ts
Due: prettier --write, eslint --fix

refactor: add some types
  src/__mocks__/jssip.mock.ts
  src/__tests__/channelsNotify.ts
Due: prettier --write, eslint --fix

refactor: remove ts-ignores from module tests
  src/__tests__/accountNotify.ts
  src/__tests__/channelsNotify.ts
  src/__tests__/conferenceParticipantTokenIssuedNotify.ts
  src/__tests__/participantMoveRequests.ts
  src/__tests__/participantNotify.ts
  src/__tests__/webcastNotify.ts
Due: prettier --write, eslint --fix

fix: move some session events into ua events (#19)
  src/SipConnector.ts
  src/__tests__/accountNotify.ts
  src/__tests__/channelsNotify.ts
  src/__tests__/conferenceParticipantTokenIssuedNotify.ts
  src/__tests__/participantMoveRequests.ts
  src/__tests__/participantNotify.ts
  src/__tests__/webcastNotify.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  src/SipConnector.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 5.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add option forceRenegotiation to replaceMediaStream
  package.json
  src/SipConnector.ts
  src/__mocks__/BaseSession.mock.ts
  src/__mocks__/jssip.mock.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 5.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(sip-connector): hasDeclineResponseFromServer function checks only error message
  src/utils/errors.ts
Due: prettier --write, eslint --fix

refactor(sip-connector): join main cam control actions
  package.json
  src/SipConnector.ts
  src/__tests__/mainCamControl.ts
  src/__tests__/mainCamRemoteControl.ts
  src/__tests__/micControl.ts
  src/constants.ts
  src/eventNames.ts
  src/utils/errors.ts
Due: prettier --write, eslint --fix

chore(sip-connector): update yarn lock
  yarn.lock
Due: none

feat(sip-connector): added remote control media state info handlers (#18)
  package.json
  src/SipConnector.ts
  src/__tests__/mainCamControl.ts
  src/__tests__/micControl.ts
  src/constants.ts
  src/eventNames.ts
  src/headers.ts
  src/utils/errors.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 5.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
Due: none

chore(release): 5.5.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 5.5.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add onceRace, onceRaceSession
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore(release): 5.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *src/**/*.{js,ts,json}) or (any of: *.md)
  eslint --fix: any of: *src/**/*.{js,ts,json}
