Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): 28.10.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix(auto-connector): improve start method behavior to prevent redundant calls and clarify usage of restart and stop methods
  docs/architecture/components/AutoConnectorManager/index.md
  docs/recipes/auto-reconnection.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/AutoConnectorStateMachine.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/__tests__/AutoConnectorStateMachine.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.basic.test.ts
  src/AutoConnectorManager/__tests__/NetworkEventsReconnector.test.ts
Due: prettier --write, eslint --fix

chore(release): 28.10.3
  CHANGELOG.md
  package.json
Due: prettier --write

fix(auto-connector): restore networkEventsReconnector start call to ensure proper reconnection behavior
  src/AutoConnectorManager/@AutoConnectorManager.ts
Due: prettier --write, eslint --fix

test: update connection status handling in tests and improve WebSocket global key usage
  e2e/connect.spec.ts
  e2e/support/webSocketControls.ts
Due: none

fix: reconnect tests for WebSocket handling
  e2e/page-objects/ConnectPage.ts
  e2e/reconnect.spec.ts
  e2e/support/webSocketControls.ts
  e2e/types.ts
  package.json
  src/AutoConnectorManager/AttemptsState.ts
  src/ConnectionManager/ConnectionFlow.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 28.10.4
  CHANGELOG.md
  package.json
Due: prettier --write

fix(auto-connector): update stop method to handle concurrent calls and ensure proper promise resolution
  demo/Session/Session.ts
  docs/architecture/components/AutoConnectorManager/index.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.basic.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.events.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.network.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
  src/SipConnector/@SipConnector.ts
Due: prettier --write, eslint --fix

refactor(tests): enhance connection and auto-connector state handling in e2e tests
  e2e/connect.spec.ts
  e2e/page-objects/StatusDashboard.ts
  e2e/ping-reconnect.spec.ts
Due: none

fix(tests): ensure stopAutoConnect method is awaited for proper execution in SipConnector tests
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

chore(release): 28.10.5
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update mobx
  package.json
  yarn.lock
Due: none

fix: update disconnect button behavior during connection states and add e2e test for disconnecting during connecting
  demo/App.ts
  e2e/disconnect-during-connecting.spec.ts
  src/ConnectionQueueManager/@ConnectionQueueManager.ts
  src/ConnectionQueueManager/__tests__/@ConnectionQueueManager.test.ts
Due: prettier --write, eslint --fix

chore(release): 28.10.6
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update CI workflows to enforce Node.js 24 for JavaScript actions and upgrade action versions
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  .github/workflows/playwright.yml
Due: none

chore: upgrade GitHub Actions to v5 for pages artifact upload and deployment
  .github/workflows/pages.yml
Due: none

fix: double transitions to spectator mode
  src/CallManager/@CallManager.ts
  src/CallManager/CallStateMachine/CallStateMachine.ts
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
  src/CallManager/__tests__/@CallManager.test.ts
Due: prettier --write, eslint --fix

chore: update mobx to version 6.15.2
  package.json
  yarn.lock
Due: none

chore(release): 28.10.7
  CHANGELOG.md
  package.json
Due: prettier --write

chore(ping-server): add debug logging for start, stop, and failure handling in PingServerRequester
  src/AutoConnectorManager/PingServerRequester.ts
Due: prettier --write, eslint --fix

refactor: some
  demo/App.ts
Due: none

refactor(demo): extract DemoCallFlowService with loader/media/session ports
  demo/App.ts
  demo/app/DemoCallFlowPorts.ts
  demo/app/DemoCallFlowService.ts
  demo/app/DemoCallStatePresenter.ts
  demo/app/MainStreamHealthNotificationsBinder.ts
  demo/app/MainStreamRecoverySettingsApplier.ts
  demo/app/__tests__/DemoCallFlowService.test.ts
  demo/app/createDemoSession.ts
  demo/app/domUiHelpers.ts
  demo/app/inputParsing.ts
  demo/app/types.ts
Due: none

chore(demo): implement CallReconnectIndicator with state management and UI updates
  demo/App.ts
  demo/Statuses.ts
  demo/StatusesRoot/callReconnect/Model.ts
  demo/StatusesRoot/callReconnect/__tests__/Model.test.ts
  demo/StatusesRoot/callReconnect/__tests__/guards.test.ts
  demo/StatusesRoot/callReconnect/guards.ts
  demo/StatusesRoot/index.ts
  demo/app/CallReconnectIndicatorPresenter.ts
  public/styles.css
Due: none

refactor(test): enhance disconnect test by defining connection states as constants
  e2e/disconnect-during-connecting.spec.ts
Due: none

chore: update dependencies
  .ncurc.json
  e2e/support/webSocketControls.ts
  package.json
  src/__fixtures__/RTCRtpSenderMock.ts
  tsconfig.base.json
  tsconfig.json
  vite.config.ts
  vite.demo.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 28.10.8
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 28.10.9
  CHANGELOG.md
  package.json
Due: prettier --write

fix(getHeader): update PARTICIPANT_NAME handling to preserve case sensitivity
  src/ApiManager/__tests__/getHeader.test.ts
  src/ApiManager/getHeader.ts
Due: prettier --write, eslint --fix

chore: update Node.js version in CI workflows to 24
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
Due: none

feat: implement waitForOutboundVideoPackets in replaceMediaStream for video track handling
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnectorFacade/@SipConnectorFacade.ts
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  src/StatsManager/constants.ts
Due: prettier --write, eslint --fix

chore(release): 28.11.0
  CHANGELOG.md
  package.json
Due: prettier --write

test: add test for replaceMediaStream without options in SipConnectorFacade
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
Due: prettier --write, eslint --fix

chore: update .npmignore and Vite configuration to exclude non-library artifacts and add pruning script
  .npmignore
  package.json
  scripts/prune-dist.cjs
  vite.config.ts
Due: none

chore(release): 28.11.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: enhance replaceMediaStream with outbound video verification options and strictness levels
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnectorFacade/@SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  src/StatsManager/constants.ts
  src/StatsManager/index.ts
  src/StatsManager/types.ts
Due: prettier --write, eslint --fix

chore(release): 28.12.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: add subscribeResetOnIdle method to CallManager for improved call state handling
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.events.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/roleResetOrderOnCallEnd.test.ts
  src/__fixtures__/createManagers.ts
Due: prettier --write, eslint --fix

test: add end-to-end test for spectator role reset on call end to ensure no notification is shown
  e2e/spectator-role-reset-on-call-end.spec.ts
  src/SipConnector/__tests__/roleResetOrderOnCallEnd.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *src/**/*.{js,ts,json}) or (any of: *.md)
  eslint --fix: any of: *src/**/*.{js,ts,json}
