Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 2.5.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add control bitrate to videoSendingBalancer‎
  src/SipConnector.ts
  src/__tests__/mainCamControl.ts
  src/videoSendingBalancer‎/getMaxBitrateByWidth.ts
  src/videoSendingBalancer‎/index.ts
  src/videoSendingBalancer‎/processSender.ts
Due: prettier --write, eslint --fix

chore(release): 2.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: set max bitrate
  src/videoSendingBalancer‎/getMaxBitrateByWidth.ts
Due: prettier --write, eslint --fix

chore(release): 2.6.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  src/__tests__/call.ts
  src/__tests__/incomingCall.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: add subscribe, unsubscribe to resolveVideoSendingBalancer
  src/videoSendingBalancer‎/index.ts
Due: prettier --write, eslint --fix

chore(release): 2.7.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add onSetParameters to VideoSendingBalancer
  src/videoSendingBalancer‎/index.ts
  src/videoSendingBalancer‎/processSender.ts
  src/videoSendingBalancer‎/setEncodingsToSender.ts
Due: prettier --write, eslint --fix

chore(release): 2.8.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: set optional send headers for presentation
  package.json
  src/SipConnector.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 2.9.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat!: start/end presentation for p2p
  package.json
  src/SipConnector.ts
  src/__mocks__/BaseSession.mock.ts
  src/__mocks__/Session.mock.ts
  src/__tests__/events.ts
  src/eventNamesShareState.ts
  src/headers.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 3.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add params to connect
  package.json
  src/SipConnector.ts
  src/__mocks__/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 3.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: add params to connect
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore(release): 3.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix!: move some events to session
  src/SipConnector.ts
  src/__tests__/events.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

chore(release): 4.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: remove throttle from VideoSendingBalancer
  package.json
  src/videoSendingBalancer‎/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 4.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

added webcast:started event notify
  src/SipConnector.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

added webcast:stopped event notify
  src/SipConnector.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

test(sip-comnnector): webcast notify
  src/__mocks__/webcastNotify.ts
  src/__tests__/webcastNotify.ts
Due: prettier --write, eslint --fix

feat(sip-connector): account notify events
  src/SipConnector.ts
  src/__mocks__/accountNotify.ts
  src/__tests__/accountNotify.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

feat: new events to session (#12)
  src/SipConnector.ts
  src/__mocks__/accountNotify.ts
  src/__mocks__/webcastNotify.ts
  src/__tests__/accountNotify.ts
  src/__tests__/webcastNotify.ts
  src/eventNames.ts
Due: prettier --write, eslint --fix

refactor: some
  src/SipConnector.ts
  src/__tests__/accountNotify.ts
  src/__tests__/channels.ts
  src/__tests__/channelsNotify.ts
  src/__tests__/participantNotify.ts
  src/__tests__/webcastNotify.ts
Due: prettier --write, eslint --fix

chore(release): 4.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(sip-connector): ignore for codecs in balancer
  src/videoSendingBalancer‎/index.ts
Due: prettier --write, eslint --fix

chore(sip-connector): do not balance if mobile device with codec h264
  src/videoSendingBalancer‎/index.ts
  src/videoSendingBalancer‎/utils/index.ts
Due: prettier --write, eslint --fix

refactor(sip-connector)refactored codec logic
  src/videoSendingBalancer‎/index.ts
  src/videoSendingBalancer‎/utils/index.ts
Due: prettier --write, eslint --fix

feat: add ignore codec for balancer (#13)
  src/videoSendingBalancer‎/index.ts
  src/videoSendingBalancer‎/utils/index.ts
Due: prettier --write, eslint --fix

refactor!: change params for videoSendingBalancer
  src/SipConnector.ts
  src/index.ts
  src/utils/findSenderByStream.ts
  src/utils/findVideoSender.ts
  src/utils/getCodecFromSender.ts
  src/videoSendingBalancer/getMaxBitrateByWidth.ts
  src/videoSendingBalancer/index.ts
  src/videoSendingBalancer/processSender.ts
  src/videoSendingBalancer/scaleBitrate.ts
  src/videoSendingBalancer/setEncodingsToSender.ts
Due: prettier --write, eslint --fix
