Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

fix: update trigger subscription method on inactive calls
  src/AutoConnectorManager/@AutoConnectorManager.ts
Due: prettier --write, eslint --fix

fix: correct subscription logic for active calls in NotActiveCallSubscriber
  src/AutoConnectorManager/NotActiveCallSubscriber.ts
  src/AutoConnectorManager/__tests__/NotActiveCallSubscriber.test.ts
Due: prettier --write, eslint --fix

fix: update event handling for connection disconnection in inactive calls
  src/ConnectionManager/eventNames.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

refactor: rename method for clarity in handling disconnection events from inactive calls
  src/SipConnector/@SipConnector.ts
Due: prettier --write, eslint --fix

refactor: remove dry
  src/AutoConnectorManager/NotActiveCallSubscriber.ts
  src/AutoConnectorManager/PingServerIfNotActiveCallRequester.ts
  src/AutoConnectorManager/RegistrationFailedOutOfCallSubscriber.ts
Due: prettier --write, eslint --fix

refactor: remove dry
  src/AutoConnectorManager/NotActiveCallSubscriber.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
Due: prettier --write, eslint --fix

refactor: change type of 'disconnected-from-out-of-call' event to never for stricter type safety
  src/ConnectionManager/eventNames.ts
Due: prettier --write, eslint --fix

refactor: standardize event naming for disconnection handling and update related tests
  src/ConnectionManager/eventNames.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/eventNames.ts
Due: prettier --write, eslint --fix

fix: do not disconnect or reconnect when call is active (#60)
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/NotActiveCallSubscriber.ts
  src/AutoConnectorManager/PingServerIfNotActiveCallRequester.ts
  src/AutoConnectorManager/RegistrationFailedOutOfCallSubscriber.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
  src/AutoConnectorManager/__tests__/NotActiveCallSubscriber.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/eventNames.ts
Due: prettier --write, eslint --fix

chore: update .gitignore to include .cert directory
  .gitignore
Due: none

chore(release): 19.9.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 20.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: add connected with configuration from out of call event
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/eventNames.ts
Due: prettier --write, eslint --fix

fix: add connected with configuration from out of call event (#61)
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/eventNames.ts
Due: prettier --write, eslint --fix

refactor: consolidate SIP connector event types into a dedicated type
  src/SipConnector/eventNames.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 20.1.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 19.9.2
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: remove unnecessary referrerPolicy from sendOffer function
  src/tools/sendOffer.ts
Due: prettier --write, eslint --fix

feat: enhance event handling for presentation stop commands
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/eventNames.ts
Due: prettier --write, eslint --fix

chore(release): 20.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  src/__tests__/presentation.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: implement session management with XState
  README.md
  docs/arch.md
  package.json
  src/SipConnector/@SipConnector.ts
  src/index.ts
  src/session.ts
  src/session/__tests__/sessionMachine.test.ts
  src/session/callMachine.ts
  src/session/connectionMachine.ts
  src/session/createSipSession.ts
  src/session/eventAdapter.ts
  src/session/getChildSnapshot.ts
  src/session/incomingMachine.ts
  src/session/index.ts
  src/session/rootMachine.ts
  src/session/screenShareMachine.ts
  src/session/selectors.ts
  src/session/types.ts
  vite.config.ts
Due: prettier --write, eslint --fix

refactor: rename and restructure session management components
  README.md
  docs/arch.md
  package.json
  src/SipConnector/@SipConnector.ts
  src/index.ts
  src/session.ts
  src/session/__tests__/sessionMachine.test.ts
  src/session/createSession.ts
  src/session/eventAdapter.ts
  src/session/getChildSnapshot.ts
  src/session/index.ts
  src/session/rootMachine.ts
  src/session/selectors.ts
  src/session/types.ts
  vite.config.ts
Due: prettier --write, eslint --fix

docs: update import path in README example for session subscription
  README.md
Due: prettier --write

refactor: remove unused createSession export from index
  src/index.ts
Due: prettier --write, eslint --fix

feat: add session status display and update handling
  demo/App.ts
  demo/Session/Session.ts
  demo/Session/sipConnectorFacade.ts
  demo/dom.ts
  index.html
  src/session/createSession.ts
Due: prettier --write, eslint --fix

refactor: simplify event subscription handling in session event adapter
  src/session/eventAdapter.ts
Due: prettier --write, eslint --fix

feat: enhance event handling for presentation stop commands
  src/session/rootMachine.ts
Due: prettier --write, eslint --fix

refactor: consolidate session state management and remove unused machines
  src/ConnectionManager/index.ts
  src/IncomingCallManager/index.ts
  src/SipConnector/@SipConnector.ts
  src/session/__tests__/sessionMachine.test.ts
  src/session/eventAdapter.ts
  src/session/getChildSnapshot.ts
  src/session/index.ts
  src/session/machines/callMachine.ts
  src/session/machines/connectionMachine.ts
  src/session/machines/incomingMachine.ts
  src/session/machines/index.ts
  src/session/machines/screenShareMachine.ts
  src/session/machines/types.ts
  src/session/rootMachine.ts
  src/session/selectors.ts
Due: prettier --write, eslint --fix

feat: implement individual session machines for call, connection, incoming call, and screen sharing
  README.md
  docs/arch.md
  src/CallManager/sessionMachine.ts
  src/ConnectionManager/sessionMachine.ts
  src/IncomingCallManager/sessionMachine.ts
  src/PresentationManager/sessionMachine.ts
  src/session/__tests__/sessionMachine.test.ts
  src/session/getChildSnapshot.ts
  src/session/index.ts
  src/session/machines/index.ts
  src/session/machines/types.ts
  src/session/rootMachine.ts
  src/session/selectors.ts
Due: prettier --write, eslint --fix

fix: renegotiate when main stream has not received or decoded inbound frames
  package.json
  src/CallManager/@CallManager.ts
  src/CallManager/MCUSession.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/MCUSession.test.ts
  src/CallManager/types.ts
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/MainStreamHealthMonitor/eventNames.ts
  src/MainStreamHealthMonitor/index.ts
  src/MainStreamHealthMonitor/types.ts
  src/MainStreamRecovery/@MainStreamRecovery.ts
  src/MainStreamRecovery/__tests__/@MainStreamRecovery.test.ts
  src/MainStreamRecovery/index.ts
  src/MainStreamRecovery/types.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/__tests__/events.test.ts
  src/__fixtures__/RTCSessionMock.ts
  yarn.lock
Due: prettier --write, eslint --fix

test: rename test-case
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
Due: prettier --write, eslint --fix

refactor: replace lodash throttle import for consistency
  src/MainStreamRecovery/@MainStreamRecovery.ts
Due: prettier --write, eslint --fix

refactor: move main stream getter into remote streams manager
  src/CallManager/@CallManager.ts
  src/CallManager/RemoteStreamsManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/RemoteStreamsManager.test.ts
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

refactor: simplify main video track condition checks in health monitor and update related tests
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

Update @SipConnector.ts
  src/SipConnector/@SipConnector.ts
Due: prettier --write, eslint --fix
