Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 6.9.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: stop presentation when start in progress
  src/SipConnector.ts
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

chore(release): 6.9.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add sendRefusalToTurnOnCam and sendRefusalToTurnOnMic
  src/SipConnector.ts
  src/__tests__/sendRefusalToTurnOn.ts
  src/headers.ts
Due: prettier --write, eslint --fix

chore(release): 6.10.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat-adding- updatePresentation-with-tests
  src/SipConnector.ts
  src/__mocks__/BaseSession.mock.ts
  src/__tests__/callStatuses.ts
  src/__tests__/incomingCallStatuses.ts
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

resolve review issues
  src/SipConnector.ts
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

feat: add updatePresentation
  src/SipConnector.ts
  src/__mocks__/BaseSession.mock.ts
  src/__tests__/callStatuses.ts
  src/__tests__/incomingCallStatuses.ts
  src/__tests__/presentation.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  src/SipConnector.ts
  src/__mocks__/BaseSession.mock.ts
  src/__mocks__/RTCPeerConnectionMock.ts
  src/__mocks__/jssip.mock.ts
  src/__tests__/call.ts
  src/__tests__/connect.ts
  src/__tests__/mainCamControl.ts
  src/utils.ts
  src/utils/findSenderByStream.ts
  src/videoSendingBalancer/__tests__/setEncodingsToSender.ts
  src/videoSendingBalancer/index.ts
  src/videoSendingBalancer/processSender.ts
  src/videoSendingBalancer/scaleBitrate.ts
  src/videoSendingBalancer/setEncodingsToSender.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: some rename
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore(release): 6.11.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add factor of max bitrate for av1 codec
  src/videoSendingBalancer/__tests__/hasIncludesString.ts
  src/videoSendingBalancer/__tests__/processSender.ts
  src/videoSendingBalancer/balance.ts
  src/videoSendingBalancer/getMaxBitrateByWidthAndCodec.ts
  src/videoSendingBalancer/hasAv1Codec.ts
  src/videoSendingBalancer/hasIncludesString.ts
  src/videoSendingBalancer/processSender.ts
  src/videoSendingBalancer/scaleBitrateByCodec.ts
Due: prettier --write, eslint --fix

chore(release): 6.12.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add setBitrateByTrackResolution to videoSendingBalancer
  src/videoSendingBalancer/__tests__/processSender.ts
  src/videoSendingBalancer/balance.ts
  src/videoSendingBalancer/getMaxBitrateByWidth.ts
  src/videoSendingBalancer/getMaxBitrateByWidthAndCodec.ts
  src/videoSendingBalancer/index.ts
  src/videoSendingBalancer/processSender.ts
Due: prettier --write, eslint --fix

chore(release): 6.13.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix
  src/videoSendingBalancer/processSender.ts
Due: prettier --write, eslint --fix

chore(release): 6.13.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix types
  src/videoSendingBalancer/balance.ts
  src/videoSendingBalancer/index.ts
Due: prettier --write, eslint --fix

chore(release): 6.13.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 6.13.3
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 6.13.4
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 6.14.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add tools
  src/tools/index.ts
Due: prettier --write, eslint --fix

chore(release): 6.15.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add tools
  src/tools/error/index.ts
  src/tools/index.ts
Due: prettier --write, eslint --fix

chore(release): 6.16.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: getExtraHeaders
  package.json
  src/tools/getExtraHeaders.ts
  src/tools/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 6.17.0
  CHANGELOG.md
  package.json
Due: prettier --write

test: getExtraHeaders
  src/tools/__tests__/getExtraHeaders.ts
Due: prettier --write, eslint --fix

feat: getUserAgent
  src/tools/getUserAgent.ts
  src/tools/index.ts
Due: prettier --write, eslint --fix

chore(release): 6.18.0
  CHANGELOG.md
  package.json
Due: prettier --write
