Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

feat: add ContentedStreamManager
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/ApiManager/__tests__/@ApiManager.notify.test.ts
  src/ApiManager/index.ts
  src/CallManager/@CallManager.ts
  src/CallManager/StreamsManagerProvider.ts
  src/CallManager/__tests__/@CallManager.events.test.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/StreamsManagerProvider.test.ts
  src/ConnectionManager/ConnectionStateMachine.ts
  src/ContentedStreamManager/@ContentedStreamManager.ts
  src/ContentedStreamManager/ContentedStreamStateMachine.ts
  src/ContentedStreamManager/__tests__/@ContentedStreamManager.test.ts
  src/ContentedStreamManager/__tests__/ContentedStreamStateMachine.test.ts
  src/ContentedStreamManager/events.ts
  src/ContentedStreamManager/index.ts
  src/ContentedStreamManager/types.ts
  src/PresentationManager/__tests__/@PresentationManager.test.ts
  src/SipConnector/@SipConnector.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  src/__fixtures__/createManagers.ts
  src/tools/BaseStateMachine.ts
  src/tools/__tests__/BaseStateMachine.test.ts
Due: prettier --write, eslint --fix

feat: implement deduplication for remote-streams-changed events and enhance event handling in CallManager
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.events.test.ts
Due: prettier --write, eslint --fix

feat: add stats in demo
  demo/App.ts
  demo/CallStatsManager.ts
  demo/dom.ts
  index.html
  styles.css
Due: none

fix: collect stats from recv-session for spectator (#67)
  demo/App.ts
  demo/CallStatsManager.ts
  demo/dom.ts
  index.html
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  src/StatsPeerConnection/@StatsPeerConnection.ts
  src/StatsPeerConnection/__tests__/StatsPeerConnection.intervals.test.ts
  src/StatsPeerConnection/__tests__/StatsPeerConnection.test.ts
  styles.css
Due: prettier --write, eslint --fix

feat: introduce StreamsChangeTracker for efficient remote streams comparison and event emission in CallManager
  src/CallManager/@CallManager.ts
  src/CallManager/StreamsChangeTracker.ts
  src/CallManager/__tests__/StreamsChangeTracker.test.ts
Due: prettier --write, eslint --fix

chore(release): 23.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: enhance StreamsManagerProvider to support contented streams based on codec availability
  src/CallManager/StreamsManagerProvider.ts
  src/CallManager/__tests__/StreamsManagerProvider.test.ts
Due: prettier --write, eslint --fix

feat: add renegotiate method into recv-session
  src/CallManager/RecvSession.ts
  src/CallManager/__tests__/RecvSession.test.ts
Due: prettier --write, eslint --fix

feat: update negotiate method to return a boolean
  src/CallManager/RecvSession.ts
  src/CallManager/__tests__/RecvSession.test.ts
Due: prettier --write, eslint --fix

fix: renegotiate recv session when inbound stream has stopped
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
Due: prettier --write, eslint --fix

refactor: simplify renegotiate method
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
Due: prettier --write, eslint --fix

fix: ensure conference number is set correctly during session negotiation
  src/CallManager/RecvSession.ts
Due: prettier --write, eslint --fix

fix: update renegotiate methods to require conference number and ensure proper session handling
  src/CallManager/@CallManager.ts
  src/CallManager/RecvSession.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/RecvSession.test.ts
Due: prettier --write, eslint --fix

fix: renegotiate connection for spectator when main stream is not receiving frames (#68)
  src/CallManager/@CallManager.ts
  src/CallManager/RecvSession.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/RecvSession.test.ts
Due: prettier --write, eslint --fix

chore: update @krivega/jssip to version 5.5.5 and refactor imports in mock files
  package.json
  src/__fixtures__/Request.mock.ts
  src/__fixtures__/UA.mock.ts
  src/__fixtures__/jssip.mock.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 23.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: recv contentedStream after start presentation
  package.json
  src/CallManager/StreamsManagerProvider.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 23.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: participantName in enter room event
  demo/App.ts
  demo/ConferenceStateDisplay.ts
  demo/dom.ts
  docs/api/api-events.md
  index.html
  src/ApiManager/@ApiManager.ts
  src/ApiManager/constants.ts
  src/ApiManager/events.ts
  src/ApiManager/getHeader.ts
  src/ConferenceStateManager/index.ts
  src/SipConnector/@SipConnector.ts
  src/__tests__/enterRoom.test.ts
  src/__tests__/sendRefusalToTurnOn.test.ts
  styles.css
Due: prettier --write, eslint --fix

chore(release): 23.1.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat: set min bitrate for sprectator
  src/CallManager/@CallManager.ts
  src/CallManager/BitrateStateManager.ts
  src/CallManager/MCUSession.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/BitrateStateManager.test.ts
  src/CallManager/__tests__/MCUSession.test.ts
  src/CallManager/types.ts
  src/VideoSendingBalancer/index.ts
  src/__tests__/logger.test.ts
  src/logger.ts
Due: prettier --write, eslint --fix

chore(release): 23.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: improve spectator role handling by adding synthetic spectator checks and bitrate adjustments
  src/CallManager/@CallManager.ts
Due: prettier --write, eslint --fix

test: add unit tests for spectator_synthetic role changes and bitrate management
  src/CallManager/__tests__/@CallManager.test.ts
Due: prettier --write, eslint --fix

chore(release): 23.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: update minimum bitrate values for audio and video in BitrateStateManager
  src/CallManager/BitrateStateManager.ts
  src/CallManager/__tests__/BitrateStateManager.test.ts
  src/VideoSendingBalancer/index.ts
Due: prettier --write, eslint --fix

chore(release): 23.2.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix: set minimum bitrate values to zero for audio and video in BitrateStateManager
  src/CallManager/BitrateStateManager.ts
  src/CallManager/MCUSession.ts
  src/CallManager/__tests__/BitrateStateManager.test.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 23.2.3
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: update minimum bitrate constants and improve import structure in BitrateStateManager
  src/CallManager/BitrateStateManager.ts
  src/CallManager/__tests__/BitrateStateManager.test.ts
Due: prettier --write, eslint --fix

refactor: remove debug logging from setMinBitrateForSenders in BitrateStateManager
  src/CallManager/BitrateStateManager.ts
Due: prettier --write, eslint --fix

chore(release): 23.2.4
  CHANGELOG.md
  package.json
Due: prettier --write

fix: enhance setParametersToSender to support reset functionality for maxBitrate configuration
  src/CallManager/BitrateStateManager.ts
  src/tools/setParametersToSender/__tests__/configureMaxBitrate.test.ts
  src/tools/setParametersToSender/configureEncodings.ts
  src/tools/setParametersToSender/configureMaxBitrate.ts
  src/tools/setParametersToSender/setParametersToSender.ts
Due: prettier --write, eslint --fix

chore(release): 23.2.5
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependency
  package.json
  yarn.lock
Due: none

chore(release): 23.2.6
  CHANGELOG.md
  package.json
Due: prettier --write

feat: implement repeatedCallsAsync for sendOffer in RecvSession to handle retries and cancellation
  src/CallManager/RecvSession.ts
  src/CallManager/__tests__/RecvSession.test.ts
Due: prettier --write, eslint --fix

chore(release): 23.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: ensure token is required for sendOffer and handle missing token error
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/tools/__tests__/sendOffer.test.ts
  src/tools/sendOffer.ts
Due: prettier --write, eslint --fix
