Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

feat(call): add presentationCallContext handling in CallStateMachine with related tests
  src/CallManager/CallStateMachine/__tests__/CallStateMachine.test.ts
Due: prettier --write, eslint --fix

feat(dom): format startedTimestamp for improved readability in DOM class
  demo/dom.ts
Due: none

refactor(demo): enhance participant role handling and call state management in App class
  demo/App.ts
Due: none

feat(demo): show recv quality controls only for spectator role
  demo/App.ts
  demo/Statuses.ts
  demo/dom.ts
  index.html
Due: none

chore(release): 28.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(callReconnect): implement CallReconnectManager for automatic call redial on network failures, including UI integration and event handling
  docs/architecture/components/CallReconnectManager/state-machine.md
  docs/recipes/call-auto-redial.md
  src/CallReconnectManager/@CallReconnectManager.ts
  src/CallReconnectManager/CallReconnectStateMachine/__tests__/createCallReconnectMachine.test.ts
  src/CallReconnectManager/CallReconnectStateMachine/createCallReconnectMachine.ts
  src/CallReconnectManager/CallReconnectStateMachine/types.ts
  src/CallReconnectManager/__fixtures__/FakeCallManager.ts
  src/CallReconnectManager/__tests__/@CallReconnectManager.integration.test.ts
  src/CallReconnectManager/__tests__/@CallReconnectManager.test.ts
Due: prettier --write, eslint --fix

feat(call): set default autoRedial to true in callToServer and enhance FormState loading logic for autoRedialEnabled
  demo/Session/Session.ts
  demo/state/FormState.ts
  docs/recipes/call-auto-redial.md
  src/SipConnectorFacade/@SipConnectorFacade.ts
Due: prettier --write, eslint --fix

fix(AutoConnectorManager): replace PingServerIfNotActiveCallRequester with PingServerRequester and update related documentation and tests
  docs/architecture/components/AutoConnectorManager/index.md
  src/AutoConnectorManager/AutoConnectorRuntime.ts
  src/AutoConnectorManager/PingServerIfNotActiveCallRequester.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.basic.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.connection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
  src/AutoConnectorManager/__tests__/PingServerIfNotActiveCallRequester.test.ts
  src/AutoConnectorManager/__tests__/PingServerRequester.test.ts
Due: prettier --write, eslint --fix

chore(release): 28.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(demo): simplify status management in App and Statuses classes by consolidating subscription logic and updating type definitions
  demo/App.ts
  demo/Statuses.ts
Due: none

feat(statuses): add user and displayName accessors to ConnectionStatusModel and incomingNumber accessor to IncomingStatusModel with corresponding tests
  demo/StatusesRoot/connection/Model.ts
  demo/StatusesRoot/connection/__tests__/Model.test.ts
  demo/StatusesRoot/incoming/Model.ts
  demo/StatusesRoot/incoming/__tests__/Model.test.ts
  demo/StatusesRoot/system/Model.ts
Due: none

fix(statuses): update subscription logic in Statuses tests to include unsubscribe functionality and improve expectation matching
  demo/__tests__/Statuses.test.ts
Due: none

feat(statuses): add displayName accessor to IncomingStatusModel and update related tests
  demo/StatusesRoot/incoming/Model.ts
  demo/StatusesRoot/incoming/__tests__/Model.test.ts
Due: none

feat(statuses): enhance state management in status models by introducing hasState utility function for cleaner state checks
  demo/StatusesRoot/autoConnector/Model.ts
  demo/StatusesRoot/autoConnector/__tests__/Model.test.ts
  demo/StatusesRoot/call/Model.ts
  demo/StatusesRoot/callReconnect/Model.ts
  demo/StatusesRoot/connection/Model.ts
  demo/StatusesRoot/incoming/Model.ts
  demo/StatusesRoot/system/Model.ts
Due: none

chore(release): 28.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(statuses): add sipServerIp accessor to ConnectionStatusModel and update related tests
  demo/StatusesRoot/connection/Model.ts
  demo/StatusesRoot/connection/__tests__/Model.test.ts
Due: none

refactor(statuses): add ESystemStatus export and introduce callStatesMock for testing various call states
  demo/StatusesRoot/__fixtures__/callStatesMock.ts
  demo/StatusesRoot/__tests__/Model.test.ts
  demo/StatusesRoot/call/__tests__/guards.test.ts
  demo/StatusesRoot/index.ts
  demo/StatusesRoot/presentation/Model.ts
Due: none

chore(deps): update ts-debounce, webrtc-mock, and webrtc-adapter to latest versions; clean up yarn.lock
  demo/StatusesRoot/__tests__/Model.test.ts
  package.json
  yarn.lock
Due: none

chore(release): 28.7.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: remove rtc session from incoming call manager
  src/IncomingCallManager/@IncomingCallManager.ts
  src/IncomingCallManager/__tests__/@IncomingCallManager.test.ts
  src/IncomingCallManager/__tests__/IncomingCallStateMachine.test.ts
  src/IncomingCallManager/events.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
Due: prettier --write, eslint --fix

docs: update incoming call documentation to reflect removal of RTCSession reference and clarify event data structure
  docs/api/incoming-call-events.md
  docs/architecture/components/IncomingCallManager/index.md
  docs/recipes/incoming-calls.md
Due: prettier --write

fix(incoming-calls): remove RTCSessionMock references from machine context
  demo/StatusesRoot/__tests__/Model.test.ts
  demo/__tests__/Statuses.test.ts
  docs/api/incoming-call-events.md
  src/IncomingCallManager/@IncomingCallManager.ts
  src/IncomingCallManager/IncomingCallStateMachine/IncomingCallStateMachine.ts
  src/IncomingCallManager/__tests__/@IncomingCallManager.test.ts
  src/IncomingCallManager/__tests__/IncomingCallStateMachine.test.ts
  src/IncomingCallManager/events.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
Due: prettier --write, eslint --fix

chore(release): 28.7.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix(imports): update ECallStatus and ESystemStatus imports to use centralized index
  demo/StatusesRoot/__fixtures__/callStatesMock.ts
  demo/StatusesRoot/system/Model.ts
Due: none

refactor(guards): enhance type safety in call state guards by introducing TCallSnapshotByState and updating context types
  demo/StatusesRoot/call/__tests__/guards.test.ts
  demo/StatusesRoot/call/guards.ts
Due: none

refactor(statuses): unify snapshot types across models by introducing TSnapshotByState for improved type safety
  demo/StatusesRoot/autoConnector/Model.ts
  demo/StatusesRoot/autoConnector/__tests__/Model.test.ts
  demo/StatusesRoot/call/Model.ts
  demo/StatusesRoot/call/__tests__/Model.test.ts
  demo/StatusesRoot/call/__tests__/guards.test.ts
  demo/StatusesRoot/call/guards.ts
  demo/StatusesRoot/callReconnect/Model.ts
  demo/StatusesRoot/callReconnect/__tests__/Model.test.ts
  demo/StatusesRoot/connection/Model.ts
  demo/StatusesRoot/connection/__tests__/Model.test.ts
  demo/StatusesRoot/incoming/Model.ts
  demo/StatusesRoot/incoming/__tests__/Model.test.ts
  demo/StatusesRoot/presentation/Model.ts
  demo/StatusesRoot/presentation/__tests__/Model.test.ts
  demo/StatusesRoot/system/Model.ts
  demo/StatusesRoot/system/__tests__/Model.test.ts
Due: none

test: add module test
  src/CallManager/__tests__/@CallManager.test.ts
Due: prettier --write, eslint --fix

test: add module test
  src/CallManager/__tests__/@CallManager.events.test.ts
Due: prettier --write, eslint --fix

feat(call-manager): implement call ended state machine subscription and enhance reset logic in MCUSession
  src/CallManager/@CallManager.ts
  src/CallManager/MCUSession.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/MCUSession.test.ts
Due: prettier --write, eslint --fix

feat(call-session): enforce license property in CallSessionSnapshot and set default license on reset
  demo/StatusesRoot/callSession/__tests__/Model.test.ts
  src/CallSessionState/@CallSessionState.ts
  src/CallSessionState/__tests__/CallSessionState.test.ts
  src/CallSessionState/types.ts
Due: prettier --write, eslint --fix

feat(network-events): implement network event handling in AutoConnectorManager for improved reconnection logic
  docs/architecture/components/AutoConnectorManager/index.md
  docs/architecture/components/AutoConnectorManager/state-machine.md
  docs/recipes/auto-reconnection.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/NetworkEventsReconnector.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.network.test.ts
  src/AutoConnectorManager/__tests__/NetworkEventsReconnector.test.ts
  src/AutoConnectorManager/__tests__/createBrowserNetworkEventsSubscriber.node.test.ts
  src/AutoConnectorManager/__tests__/createBrowserNetworkEventsSubscriber.test.ts
  src/AutoConnectorManager/createBrowserNetworkEventsSubscriber.ts
  src/AutoConnectorManager/index.ts
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

feat(network-events): enhance network event handling with configurable policies for reconnection logic
  docs/architecture/components/AutoConnectorManager/index.md
  docs/architecture/components/AutoConnectorManager/state-machine.md
  docs/recipes/auto-reconnection.md
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/NetworkEventsReconnector.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.network.test.ts
  src/AutoConnectorManager/__tests__/NetworkEventsReconnector.test.ts
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

fix(call-session): update default license to VIDEO in CallSessionState
  src/CallSessionState/@CallSessionState.ts
Due: prettier --write, eslint --fix

fix(call-session): correct default license to VIDEO in CallSessionState tests
  src/CallSessionState/__tests__/CallSessionState.test.ts
Due: prettier --write, eslint --fix

refactor(call-manager): simplify MCUSession constructor by removing onReset callback and enhance reset logic in CallManager
  src/CallManager/@CallManager.ts
  src/CallManager/MCUSession.ts
  src/CallManager/__tests__/@CallManager.events.test.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/MCUSession.test.ts
Due: prettier --write, eslint --fix

test(mcu-session): replace endCall with reset in MCUSession tests to align with updated reset logic
  src/CallManager/__tests__/MCUSession.test.ts
Due: prettier --write, eslint --fix

refactor(call-manager): integrate reset logic into subscribeCallEndedStateMachine for improved state handling
  src/CallManager/@CallManager.ts
Due: prettier --write, eslint --fix

fix: reset states after ended call (#77)
  demo/StatusesRoot/callSession/__tests__/Model.test.ts
  src/CallManager/@CallManager.ts
  src/CallManager/MCUSession.ts
  src/CallManager/__tests__/@CallManager.events.test.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/MCUSession.test.ts
  src/CallSessionState/@CallSessionState.ts
  src/CallSessionState/__tests__/CallSessionState.test.ts
  src/CallSessionState/types.ts
Due: prettier --write, eslint --fix
