Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

refactor(state-machine): simplify state checks in AutoConnectorManager by introducing helper methods for state validation
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/AutoConnectorStateMachine.ts
Due: prettier --write, eslint --fix

feat(network-events): add INetworkEventsSubscriber and TNetworkEventsHandlers types for improved event handling
  src/AutoConnectorManager/types.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 28.8.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: some
  src/CallSessionState/@CallSessionState.ts
Due: prettier --write, eslint --fix

feat(playwright): integrate Playwright for end-to-end testing with configuration and initial test cases
  .github/workflows/playwright.yml
  .gitignore
  e2e/connect.spec.ts
  e2e/connection.config.ts
  e2e/demo.spec.ts
  e2e/fixtures.ts
  e2e/page-objects/ConnectPage.ts
  e2e/page-objects/DemoPage.ts
  e2e/page-objects/StatusDashboard.ts
  eslint.config.ts
  package.json
  playwright.config.ts
  tsconfig.json
  yarn.lock
Due: none

fix(connect): incorrect password during auto-connection, ensuring it stops without retrying
  e2e/connect.spec.ts
  e2e/connection.config.ts
  e2e/page-objects/ConnectPage.ts
  e2e/page-objects/StatusDashboard.ts
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
  src/AutoConnectorManager/__tests__/createMachineDeps.test.ts
  src/AutoConnectorManager/baseCanRetryOnError.ts
  src/AutoConnectorManager/createMachineDeps.ts
Due: prettier --write, eslint --fix

chore(dependencies): update @krivega/jssip to 6.0.5
  package.json
  src/AutoConnectorManager/__tests__/RegistrationFailedOutOfCallSubscriber.test.ts
  src/ConnectionManager/UAFactory.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
  src/ConnectionManager/__tests__/SipOperations.test.ts
  src/ConnectionManager/__tests__/UAFactory.test.ts
  src/ConnectionManager/events.ts
  src/__fixtures__/BaseSession.mock.ts
  src/__fixtures__/UA.mock.ts
  src/__fixtures__/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(statuses): update system status handling by reintroducing system states in STATUS_DIAGRAMS and correcting status snapshot retrieval
  demo/Statuses.ts
  demo/dom.ts
Due: none

feat(connect): implement network interface change handling in end-to-end tests, ensuring auto-connect remains active during disconnections
  e2e/connect.spec.ts
  e2e/fixtures.ts
  e2e/page-objects/ConnectPage.ts
  e2e/page-objects/StatusDashboard.ts
  e2e/support/networkControls.ts
  e2e/types.ts
Due: none

feat(ui): enhance floating action panel with new buttons for connecting and calling, and update button visibility logic in the application
  demo/App.ts
  demo/Session/Session.ts
  demo/dom.ts
  demo/index.ts
  docs/recipes/e2e-scenarios-matrix.md
  e2e/call.spec.ts
  e2e/connect.spec.ts
  e2e/demo.spec.ts
  e2e/page-objects/ConnectPage.ts
  e2e/page-objects/DemoPage.ts
  e2e/support/networkControls.ts
  e2e/types.ts
  index.html
  public/styles.css
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.network.test.ts
Due: prettier --write, eslint --fix

feat(ui): synchronize media action buttons with stream state on camera and mic toggle
  demo/App.ts
Due: none

fix(presentation): correct condition for displaying stop presentation element based on readiness state
  demo/PresentationManager.ts
Due: none

refactor(presentation): remove unnecessary state checks and streamline presentation management logic
  demo/PresentationManager.ts
Due: none

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 28.9.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(dependencies): update @krivega/jssip to 6.0.7
  package.json
  yarn.lock
Due: none

fix(call): track previous call state to manage presentation deactivation when call ends
  demo/App.ts
Due: none

chore(release): 28.9.1
  CHANGELOG.md
  package.json
Due: prettier --write

test(call): add tests for share button visibility after call ends and implement display media result control
  e2e/call.spec.ts
  e2e/page-objects/ConnectPage.ts
  e2e/support/networkControls.ts
  e2e/types.ts
Due: none

test(call): ensure display media result control is invoked before starting share
  e2e/call.spec.ts
Due: none

test(config): add media permissions and launch options for testing
  playwright.config.ts
Due: none

test(call): update expected behavior for hangup-only state after connect+call
  docs/recipes/e2e-scenarios-matrix.md
  e2e/call.spec.ts
Due: prettier --write

refactor(presentation): enhance loader management and streamline presentation state handling
  demo/App.ts
  demo/PresentationManager.ts
  e2e/call.spec.ts
  e2e/connect.spec.ts
  e2e/connection.config.ts
  e2e/fixtures.ts
  e2e/page-objects/ConnectPage.ts
  e2e/page-objects/DemoPage.ts
  index.html
  playwright.config.ts
Due: none

fix: reconnect after change network interface
  docs/recipes/e2e-scenarios-matrix.md
  e2e/connect.spec.ts
  e2e/page-objects/ConnectPage.ts
  e2e/support/networkControls.ts
  e2e/types.ts
  package.json
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/ConnectionManager/SipOperations.ts
  src/ConnectionManager/__tests__/SipOperations.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 28.9.2
  CHANGELOG.md
  package.json
Due: prettier --write

test(call): update visibility checks for end call button and disconnect button in connection state
  e2e/call.spec.ts
  e2e/page-objects/ConnectPage.ts
Due: none

test(call): improve hangup-only execution logic and update button visibility checks in call state
  e2e/call.spec.ts
  e2e/page-objects/ConnectPage.ts
Due: none

test(call): streamline hangup-only logic and enhance button visibility assertions during call states
  e2e/call.spec.ts
  e2e/page-objects/ConnectPage.ts
Due: none

feat(auto-connector): update start method to return detailed success and failure results
  demo/Session/Session.ts
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.basic.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.connection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.events.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.network.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.telephony.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
  src/AutoConnectorManager/index.ts
  src/AutoConnectorManager/types.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

test: implement media action button state management and add spectator mode tests
  demo/App.ts
  demo/dom.ts
  e2e/connection.config.ts
  e2e/page-objects/ConnectPage.ts
  e2e/page-objects/StatusDashboard.ts
  e2e/spectator.spec.ts
Due: none

test(spectator): add tests for receiving quality section visibility and quality switching functionality
  e2e/page-objects/ConnectPage.ts
  e2e/spectator.spec.ts
Due: none

test(spectator): increase timeout for spectator role checks and refactor quality switching logic
  e2e/page-objects/ConnectPage.ts
  e2e/spectator.spec.ts
Due: none

test(connect-page): add methods for retrieving call session snapshot and validating spectator role and state
  demo/Session/RecvQualityManager.ts
  e2e/page-objects/ConnectPage.ts
  e2e/spectator.spec.ts
Due: none

refactor(debug): update debug identifiers for AutoConnector and CallManager components
  src/AutoConnectorManager/AutoConnectorRuntime.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/AutoConnectorStateMachine.ts
  src/AutoConnectorManager/AutoConnectorStateMachine/createAutoConnectorMachineSetup.ts
  src/AutoConnectorManager/NetworkEventsReconnector.ts
  src/AutoConnectorManager/PingServerRequester.ts
  src/CallManager/CallStateMachine/CallStateMachine.ts
  src/CallManager/MCUSession.ts
  src/ConnectionManager/ConnectionStateMachine/ConnectionStateMachine.ts
  src/ConnectionManager/ConnectionStateMachine/createConnectionMachineSetup.ts
  src/ConnectionManager/RegistrationManager.ts
  src/IncomingCallManager/IncomingCallStateMachine/createIncomingCallMachineSetup.ts
Due: prettier --write, eslint --fix

fix(connect): reconnect behavior on network changes with ping failures
  e2e/connect.spec.ts
  src/AutoConnectorManager/PingServerRequester.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.network.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
  src/AutoConnectorManager/__tests__/PingServerRequester.integration.test.ts
  src/AutoConnectorManager/__tests__/PingServerRequester.test.ts
Due: prettier --write, eslint --fix

chore(release): 28.10.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(auto-connector): enhance reconnect logic to handle periodic ping failures and update reconnect reasons
  docs/architecture/components/AutoConnectorManager/index.md
  docs/architecture/components/AutoConnectorManager/state-machine.md
  docs/recipes/auto-reconnection.md
  docs/recipes/e2e-scenarios-matrix.md
  e2e/page-objects/ConnectPage.ts
  e2e/ping-reconnect.spec.ts
  e2e/support/networkControls.ts
  e2e/types.ts
  src/AutoConnectorManager/AutoConnectorRuntime.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
  src/AutoConnectorManager/__tests__/ReconnectRequestCoalescer.test.ts
  src/AutoConnectorManager/types.ts
Due: prettier --write, eslint --fix

chore(release): 28.10.1
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: implement WebSocket control hooks and integrate with ConnectPage for enhanced testing
  e2e/fixtures.ts
  e2e/page-objects/ConnectPage.ts
  e2e/support/networkControls.ts
  e2e/support/webSocketControls.ts
  e2e/types.ts
Due: none

chore(deps): update @commitlint packages and vite-plugin-dts to latest versions
  package.json
  yarn.lock
Due: none
