Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore: update dependencies to latest versions including Babel and XState
  package.json
  yarn.lock
Due: none

feat: integrate CallSessionState into SessionManager and related components for improved role management
  demo/StatusesRoot/__tests__/Model.test.ts
  demo/StatusesRoot/__tests__/reaction.test.ts
  demo/__tests__/Statuses.test.ts
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.events.test.ts
  src/SessionManager/@SessionManager.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
  src/SessionManager/types.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/roleResetOrderOnCallEnd.test copy.ts
  src/SipConnector/__tests__/roleResetOrderOnCallEnd.test.ts
  src/__fixtures__/createManagers.ts
Due: prettier --write, eslint --fix

refactor: transition from CallSessionState to SessionManager for role synchronization and update related documentation
  demo/Statuses.ts
  docs/README.md
  docs/api/exports.md
  docs/architecture/components/CallSessionState/index.md
  docs/architecture/components/SessionManager/index.md
  docs/architecture/overview.md
  docs/recipes/README.md
  docs/recipes/call-session-state.md
  e2e/page-objects/ConnectPage.ts
  e2e/spectator-role-reset-on-call-end.spec.ts
  src/SessionManager/@SessionManager.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
  src/SessionManager/types.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/__tests__/roleResetOrderOnCallEnd.test copy.ts
  src/SipConnector/__tests__/roleResetOrderOnCallEnd.test.ts
Due: prettier --write, eslint --fix

refactor: update subscription handling in Statuses class to streamline session snapshot processing
  demo/Statuses.ts
Due: none

fix: reset call session role after system status update on call end (#79)
  demo/Statuses.ts
  demo/StatusesRoot/__tests__/Model.test.ts
  demo/StatusesRoot/__tests__/reaction.test.ts
  demo/__tests__/Statuses.test.ts
  docs/README.md
  docs/api/exports.md
  docs/architecture/components/CallSessionState/index.md
  docs/architecture/components/SessionManager/index.md
  docs/architecture/overview.md
  docs/recipes/README.md
  docs/recipes/call-session-state.md
  e2e/page-objects/ConnectPage.ts
  e2e/spectator-role-reset-on-call-end.spec.ts
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.events.test.ts
  src/SessionManager/@SessionManager.ts
  src/SessionManager/__tests__/@SessionManager.test.ts
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
  src/SessionManager/types.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/__tests__/roleResetOrderOnCallEnd.test.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 28.12.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 29.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 29.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add maxAvailableResolution support in connection configuration and presentation encoding resolution handling
  docs/api/connection-events.md
  docs/architecture/components/ConnectionManager/state-machine.md
  docs/recipes/presentations.md
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/__tests__/connect.test.ts
  src/ConnectionManager/index.ts
  src/ConnectionManager/types.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/__tests__/resolvePresentationSendEncodings.test.ts
  src/SipConnector/resolvePresentationSendEncodings.ts
  src/__fixtures__/createMediaStreamWithVideoTrack.ts
Due: prettier --write, eslint --fix

refactor: replace createMediaStreamWithVideoTrack with createMediaStreamMock in tests and remove unused fixture file
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/__tests__/resolvePresentationSendEncodings.test.ts
  src/__fixtures__/createMediaStreamWithVideoTrack.ts
Due: prettier --write, eslint --fix

refactor: rename maxAvailableResolution to maxResolution for consistency in presentation encoding handling
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/resolvePresentationSendEncodings.test.ts
  src/SipConnector/resolvePresentationSendEncodings.ts
Due: prettier --write, eslint --fix

refactor: implement maxResolution handling in PresentationManager for encoding adjustments
  docs/architecture/components/PresentationManager/index.md
  docs/recipes/presentations.md
  src/PresentationManager/@PresentationManager.ts
  src/PresentationManager/__tests__/@PresentationManager.test.ts
  src/PresentationManager/__tests__/resolvePresentationSendEncodings.test.ts
  src/PresentationManager/resolvePresentationSendEncodings.ts
  src/PresentationManager/types.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

test: add unit test for scaleResolutionDownBy handling
  src/PresentationManager/__tests__/resolvePresentationSendEncodings.test.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

refactor: rename resolvePresentationSendEncodings to resolveSendEncodings
  docs/architecture/components/PresentationManager/index.md
  src/PresentationManager/@PresentationManager.ts
  src/PresentationManager/__tests__/resolveSendEncodings.test.ts
  src/PresentationManager/resolveSendEncodings.ts
Due: prettier --write, eslint --fix

feat: enforce presentation max resolution from connection config (#80)
  docs/api/connection-events.md
  docs/architecture/components/ConnectionManager/state-machine.md
  docs/architecture/components/PresentationManager/index.md
  docs/recipes/presentations.md
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/__tests__/connect.test.ts
  src/ConnectionManager/index.ts
  src/ConnectionManager/types.ts
  src/PresentationManager/@PresentationManager.ts
  src/PresentationManager/__tests__/@PresentationManager.test.ts
  src/PresentationManager/__tests__/resolveSendEncodings.test.ts
  src/PresentationManager/resolveSendEncodings.ts
  src/PresentationManager/types.ts
  src/SipConnector/@SipConnector.ts
Due: prettier --write, eslint --fix

chore(release): 29.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  .ncurc.json
  package.json
  src/ConnectionManager/ConnectionStateMachine/types.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: implement handleConnectAndCall method and integrate connectAndCallToServer functionality
  demo/App.ts
  demo/Session/Session.ts
  demo/app/DemoCallFlowPorts.ts
  demo/app/DemoCallFlowService.ts
  demo/app/__tests__/DemoCallFlowService.test.ts
Due: none

chore(release): 29.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: implement max resolution handling for video streams in SipConnector and VideoSendingBalancer
  docs/architecture/components/PresentationManager/index.md
  docs/architecture/components/VideoSendingBalancerManager/index.md
  docs/recipes/media-management.md
  docs/recipes/video-balancing.md
  src/PresentationManager/@PresentationManager.ts
  src/PresentationManager/types.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/VideoSendingBalancer/@VideoSendingBalancer.ts
  src/VideoSendingBalancer/README.md
  src/VideoSendingBalancer/SenderBalancer.ts
  src/VideoSendingBalancer/VideoSendingEventHandler.ts
  src/VideoSendingBalancer/__tests__/SenderBalancer.test.ts
  src/VideoSendingBalancer/__tests__/VideoSendingEventHandler.test.ts
  src/VideoSendingBalancer/__tests__/resolveVideoSendingBalancer.test.ts
  src/VideoSendingBalancer/calcResolution/__tests__/calcScaleResolutionDownBy.test.ts
  src/VideoSendingBalancer/calcResolution/calcScaleResolutionDownBy.ts
  src/VideoSendingBalancer/index.ts
  src/VideoSendingBalancer/types.ts
  src/VideoSendingBalancerManager/@VideoSendingBalancerManager.ts
  src/VideoSendingBalancerManager/README.md
  src/VideoSendingBalancerManager/__tests__/@VideoSendingBalancerManager.test.ts
  src/tools/__tests__/resolveSendEncodings.test.ts
  src/tools/index.ts
  src/tools/resolveSendEncodings.ts
  src/types.ts
Due: prettier --write, eslint --fix

fix: enhance presentation handling by adding support for custom send encodings and session management
  src/PresentationManager/@PresentationManager.ts
  src/PresentationManager/__tests__/resolveSendEncodings.test.ts
  src/PresentationManager/resolveSendEncodings.ts
  src/__fixtures__/PresentationSessionMock.ts
  src/__fixtures__/PresentationUAMock.ts
  src/__tests__/presentation.maxResolution.test.ts
  src/doMock.ts
Due: prettier --write, eslint --fix

chore(release): 29.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: presentation send encodings reuse
  src/PresentationManager/@PresentationManager.ts
  src/PresentationManager/__tests__/@PresentationManager.test.ts
  src/PresentationManager/__tests__/presentationSession.test.ts
  src/PresentationManager/__tests__/resolveSendEncodings.test.ts
  src/PresentationManager/resolveSendEncodings.ts
  src/StatsPeerConnection/utils/__tests__/now.ts
  src/__tests__/presentation.maxResolution.test.ts
Due: prettier --write, eslint --fix

chore(release): 30.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  src/__fixtures__/BaseSession.mock.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 30.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: move resolveSendEncodings utility to tools and update references
  docs/architecture/components/PresentationManager/index.md
  src/PresentationManager/orchestration/PresentationLifecycle.ts
  src/PresentationManager/types.ts
  src/__tests__/presentation.maxResolution.test.ts
  src/tools/__tests__/resolveSendEncodings.test.ts
  src/tools/index.ts
  src/tools/resolveSendEncodings.ts
Due: prettier --write, eslint --fix

feat: apply maxAvailableResolution to main stream and video balancer
  docs/architecture/components/VideoSendingBalancerManager/index.md
  docs/recipes/media-management.md
  docs/recipes/video-balancing.md
  src/CallManager/__tests__/MCUSession.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/__tests__/videoBalancerOptionsInSipConnector.test.ts
  src/VideoSendingBalancer/@VideoSendingBalancer.ts
  src/VideoSendingBalancer/README.md
  src/VideoSendingBalancer/SenderBalancer.ts
  src/VideoSendingBalancer/__fixtures__/balancerOptions.ts
  src/VideoSendingBalancer/__fixtures__/index.ts
  src/VideoSendingBalancer/__tests__/SenderBalancer.test.ts
  src/VideoSendingBalancer/__tests__/VideoSendingBalancer.test.ts
  src/VideoSendingBalancer/__tests__/resolveVideoSendingBalancer.test.ts
  src/VideoSendingBalancer/types.ts
  src/VideoSendingBalancerManager/@VideoSendingBalancerManager.ts
  src/VideoSendingBalancerManager/README.md
  src/VideoSendingBalancerManager/__tests__/@VideoSendingBalancerManager.events.test.ts
  src/VideoSendingBalancerManager/__tests__/@VideoSendingBalancerManager.schedule.error.test.ts
  src/VideoSendingBalancerManager/__tests__/@VideoSendingBalancerManager.test.ts
Due: prettier --write, eslint --fix

refactor: move replaceMediaStream from JsSIP to MCUSession
  package.json
  src/CallManager/BitrateStateManager.ts
  src/CallManager/MCUSession.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/MCUSession.test.ts
  src/CallManager/types.ts
  src/PresentationManager/PresentationTrackService.ts
  src/__fixtures__/BaseSession.mock.ts
  src/__fixtures__/RTCSessionMock.ts
  src/utils/peerConnection/PresentationBitrate.ts
  src/utils/peerConnection/__tests__/addTransceiverStrategy.test.ts
  src/utils/peerConnection/__tests__/replaceMediaStream.test.ts
  src/utils/peerConnection/addTransceiverStrategy.ts
  src/utils/peerConnection/findSenderByTrack.ts
  src/utils/peerConnection/getSenderByKindTrack.ts
  src/utils/peerConnection/getSendersByKind.ts
  src/utils/peerConnection/index.ts
  src/utils/peerConnection/replaceMediaStream.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 31.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: enhance session management and error handling in CallManager and RecvSession
  src/CallManager/@CallManager.ts
  src/CallManager/RecvSession.ts
  src/CallManager/__tests__/@CallManager.test.ts
Due: prettier --write, eslint --fix

fix: store listener for in-room conference token changes in CallManager
  src/CallManager/@CallManager.ts
Due: prettier --write, eslint --fix

chore(release): 31.1.0
  CHANGELOG.md
  package.json
Due: prettier --write
