Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(release): 14.1.2-1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix
  src/setParametersToSender/configureEmptyEncodings.ts
  src/tools/generateSimulcastEncodings.ts
  src/tools/getUserAgent.ts
  src/utils/findSenderByStream.ts
  src/utils/findVideoSender.ts
  src/utils/getCodecFromSender.ts
  src/videoSendingBalancer/processSender.ts
  src/videoSendingBalancer/scaleResolutionAndBitrate.ts
Due: prettier --write, eslint --fix

chore(release): 14.1.2-2
  CHANGELOG.md
  package.json
Due: prettier --write

chore: version fix
  package.json
Due: none

chore(release): 14.1.2-3
  CHANGELOG.md
  package.json
Due: prettier --write

chore: revert fix 1
  src/setParametersToSender/configureEmptyEncodings.ts
Due: prettier --write, eslint --fix

chore(release): 14.1.2-4
  CHANGELOG.md
  package.json
Due: prettier --write

chore: revert fix 2
  src/tools/generateSimulcastEncodings.ts
Due: prettier --write, eslint --fix

chore(release): 14.1.2-5
  CHANGELOG.md
  package.json
Due: prettier --write

chore: revert fix 3
  src/videoSendingBalancer/processSender.ts
Due: prettier --write, eslint --fix

chore: script
  package.json
Due: none

chore(release): 14.1.2-6
  CHANGELOG.md
  package.json
Due: prettier --write

chore: revert fixes without 3
  src/tools/getUserAgent.ts
  src/utils/findSenderByStream.ts
  src/utils/findVideoSender.ts
  src/utils/getCodecFromSender.ts
  src/videoSendingBalancer/processSender.ts
  src/videoSendingBalancer/scaleResolutionAndBitrate.ts
Due: prettier --write, eslint --fix

chore(release): 14.1.2-7
  CHANGELOG.md
  package.json
Due: prettier --write

fix: set max bitrate
  src/videoSendingBalancer/getMaxBitrateByWidth.ts
  src/videoSendingBalancer/getMaxBitrateByWidthAndCodec.ts
  src/videoSendingBalancer/processSender.ts
Due: prettier --write, eslint --fix

chore(release): 14.1.0-alpha.13
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix
  next.md
Due: prettier --write

refactor: some
  src/ApiManager/@ApiManager.ts
Due: prettier --write, eslint --fix

refactor: some
  next.md
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 15.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: to VideoSendingBalancer
  src/index.ts
  src/tools/generateSimulcastEncodings.ts
  src/videoSendingBalancer/README.md
  src/videoSendingBalancer/VideoSendingBalancer.ts
  src/videoSendingBalancer/__tests__/resolveVideoSendingBalancer.ts
  src/videoSendingBalancer/index.ts
Due: prettier --write, eslint --fix

refactor: processSender to VideoSendingBalancer
  src/videoSendingBalancer/README.md
  src/videoSendingBalancer/VideoSendingBalancer.ts
  src/videoSendingBalancer/__tests__/processSender.ts
  src/videoSendingBalancer/__tests__/resolveVideoSendingBalancer.ts
  src/videoSendingBalancer/balance.ts
  src/videoSendingBalancer/processSender.ts
Due: prettier --write, eslint --fix

refactor: videoSendingBalancer
  src/PresentationManager/@PresentationManager.ts
  src/index.ts
  src/setParametersToSender/__tests__/setEncodingsToSender.ts
  src/setParametersToSender/index.ts
  src/setParametersToSender/setEncodingsToSender.ts
  src/setParametersToSender/setMaxBitrateToSender.ts
  src/setParametersToSender/setParametersToSender.ts
  src/setParametersToSender/types.ts
  src/tools/generateSimulcastEncodings.ts
  src/tools/resolveUpdateTransceiver.ts
  src/tools/scaleResolutionAndBitrate.ts
  src/utils/__tests__/hasIncludesString.test.ts
  src/utils/hasIncludesString.ts
  src/videoSendingBalancer/VideoSendingBalancer.ts
  src/videoSendingBalancer/__tests__/resolveVideoSendingBalancer.ts
  src/videoSendingBalancer/calcBitrate/__tests__/calcMaxBitrateByWidthAndCodec.test.ts
  src/videoSendingBalancer/calcBitrate/calcMaxBitrateByWidth.ts
  src/videoSendingBalancer/calcBitrate/calcMaxBitrateByWidthAndCodec.ts
  src/videoSendingBalancer/calcBitrate/hasAv1Codec.ts
  src/videoSendingBalancer/calcBitrate/index.ts
  src/videoSendingBalancer/calcBitrate/scaleBitrateByCodec.ts
  src/videoSendingBalancer/calcResolution/__tests__/calcScaleResolutionDownBy.test.ts
  src/videoSendingBalancer/calcResolution/calcScaleResolutionDownBy.ts
  src/videoSendingBalancer/calcResolution/index.ts
  src/videoSendingBalancer/index.ts
Due: prettier --write, eslint --fix

docs: add plan
  next.md
  refactor.md
Due: prettier --write

refactor: videoSendingBalancer
  jest.config.ts
  next.md
  refactor.md
  refactoring.md
  src/__fixtures__/RTCRtpSenderMock.ts
  src/tools/error/index.ts
  src/tools/index.ts
  src/tools/syncMediaState/__tests__/index.ts
  src/tools/syncMediaState/createSyncMediaState.ts
  src/tools/syncMediaState/index.ts
  src/videoSendingBalancer/CodecProvider.ts
  src/videoSendingBalancer/ParametersSetterWithQueue.ts
  src/videoSendingBalancer/SenderBalancer.ts
  src/videoSendingBalancer/SenderFinder.ts
  src/videoSendingBalancer/TaskQueue.ts
  src/videoSendingBalancer/VideoSendingBalancer.ts
  src/videoSendingBalancer/VideoSendingEventHandler.ts
  src/videoSendingBalancer/__tests__/CodecProvider.test.ts
  src/videoSendingBalancer/__tests__/ParametersSetterWithQueue.test.ts
  src/videoSendingBalancer/__tests__/SenderBalancer.test.ts
  src/videoSendingBalancer/__tests__/SenderFinder.test.ts
  src/videoSendingBalancer/__tests__/TaskQueue.test.ts
  src/videoSendingBalancer/__tests__/VideoSendingBalancer.test.ts
  src/videoSendingBalancer/__tests__/VideoSendingEventHandler.test.ts
  src/videoSendingBalancer/__tests__/resolveVideoSendingBalancer.test.ts
  src/videoSendingBalancer/calcBitrate/__tests__/calcMaxBitrateByWidth.test.ts
  src/videoSendingBalancer/calcBitrate/__tests__/getMaximumBitrate.test.ts
  src/videoSendingBalancer/calcBitrate/__tests__/hasAv1Codec.test.ts
  src/videoSendingBalancer/calcBitrate/__tests__/scaleBitrateByCodec.test.ts
  src/videoSendingBalancer/calcResolution/__tests__/calcScaleResolutionDownBy.test.ts
  src/videoSendingBalancer/types.ts
Due: prettier --write, eslint --fix

test: upscale coverage
  src/setParametersToSender/__tests__/setMaxBitrateToSender.test.ts
  src/tools/__tests__/generateSimulcastEncodings.ts
  src/tools/__tests__/hasPurgatory.test.ts
  src/tools/__tests__/prepareMediaStream.test.ts
  src/tools/__tests__/scaleResolutionAndBitrate.test.ts
  src/tools/__tests__/setVideoTrackContentHints.test.ts
  src/tools/error/__tests__/getLinkError.test.ts
  src/tools/error/__tests__/getTypeFromError.test.ts
  src/utils/__tests__/errors.test.ts
  src/utils/__tests__/findSenderByStream.test.ts
  src/utils/__tests__/findVideoSender.test.ts
  src/utils/__tests__/findVideoTrack.test.ts
  src/utils/__tests__/getCodecFromSender.test.ts
  src/utils/__tests__/utils.test.ts
Due: prettier --write, eslint --fix

test: upscale coverage
  package.json
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/MCUCallStrategy.test.ts
  src/ConnectionManager/__tests__/@ConnectionManager.test.ts
  src/ConnectionManager/__tests__/getExtraHeadersRemoteAddress.test.ts
  src/setParametersToSender/__tests__/hasChangedRTCRtpSendParameters.ts
  src/setParametersToSender/hasChangedRTCRtpSendParameters.ts
  src/tools/__tests__/resolveUpdateTransceiver.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: fix
  src/CallManager/__tests__/@CallManager.test.ts
  src/tools/error/__tests__/getValuesFromError.test.ts
  src/tools/error/__tests__/stringifyMessage.test.ts
Due: prettier --write, eslint --fix

chore: update dependencies and improve package versions
  package.json
  yarn.lock
Due: none

test: upscale coverage
  eslint.config.base.ts
  eslint.config.jest.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
  src/IncomingCallManager/__tests__/@IncomingCallManager.test.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/__fixtures__/BaseSession.mock.ts
  src/__fixtures__/RTCPeerConnectionMock.ts
  src/__fixtures__/RTCSessionMock.ts
  src/__tests__/presentation.test.ts
  src/setParametersToSender/__tests__/setParametersToSender.ts
  src/tools/__tests__/resolveUpdateTransceiver.test.ts
  src/utils/__tests__/findVideoTrack.test.ts
  src/videoSendingBalancer/__tests__/CodecProvider.test.ts
  src/videoSendingBalancer/__tests__/VideoSendingBalancer.test.ts
  src/videoSendingBalancer/__tests__/VideoSendingEventHandler.test.ts
Due: prettier --write, eslint --fix

test: upscale coverage
  src/SipConnectorFacade/SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/SipConnectorFacade/__tests__/SipConnectorFacade.test.ts
  src/videoSendingBalancer/__tests__/TaskQueue.test.ts
Due: prettier --write, eslint --fix

chore: fix
  src/videoSendingBalancer/__tests__/resolveVideoSendingBalancer.test.ts
Due: prettier --write, eslint --fix
