Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(release): 20.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add system status management by introducing ESystemStatus and related selectors for combined connection and call states
  demo/App.ts
  demo/LoaderManager.ts
  demo/LogsManager.ts
  demo/Statuses.ts
  demo/dom.ts
  demo/state/FormStateManager.ts
  docs/api/exports.md
  docs/arch/state-machines.md
  docs/recipes/session-management.md
  index.html
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/index.ts
  src/SessionManager/selectors.ts
  src/SessionManager/types.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/index.ts
  styles.css
Due: prettier --write, eslint --fix

feat: enhance logs management by updating UI behavior and adding disabled state handling
  demo/LogsManager.ts
  demo/dom.ts
  index.html
  styles.css
Due: none

refactor: rename 'READY' state to 'READY_TO_CALL'
  docs/arch/state-machines.md
  docs/recipes/session-management.md
  src/SessionManager/__tests__/selectors.test.ts
  src/SessionManager/selectors.ts
  src/SessionManager/types.ts
Due: prettier --write, eslint --fix

chore(release): 20.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: update import paths to use absolute paths from '@/index'
  demo/Session/UseLicenseManager.ts
  demo/Session/resolveServerParametersRequester.ts
  demo/Session/sipConnectorFacade.ts
  demo/Statuses.ts
Due: none

fix: update dependencies and improve registration failure handling in connection manager
  package.json
  src/AutoConnectorManager/__tests__/RegistrationFailedOutOfCallSubscriber.test.ts
  src/ConnectionManager/ConnectionStateMachine.ts
  src/ConnectionManager/__tests__/ConnectionStateMachine.test.ts
  src/ConnectionManager/__tests__/RegistrationManager.test.ts
  src/ConnectionManager/events.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
Due: none

chore(release): 20.6.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add local presentation in demo
  demo/App.ts
  demo/PresentationManager.ts
  demo/dom.ts
  index.html
Due: none

fix: resolve memory leak in demo presentation manager
  demo/PresentationManager.ts
  index.html
Due: none

feat: add stress testing for presentation in demo
  demo/PresentationManager.ts
  demo/dom.ts
  index.html
Due: none

fix!: update remote stream handling to use TRemoteStreams type and improve stream management logic
  demo/App.ts
  demo/RemoteMediaStreamManager.ts
  demo/Session/Session.ts
  demo/VideoPlayer.ts
  docs/api/call-events.md
  docs/arch/components.md
  docs/recipes/events-handling.md
  docs/recipes/media-management.md
  src/CallManager/@CallManager.ts
  src/CallManager/RoleManager.ts
  src/CallManager/StreamsManagerProvider.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/RoleManager.test.ts
  src/CallManager/__tests__/StreamsManagerProvider.test.ts
  src/CallManager/events.ts
  src/CallManager/index.ts
  src/CallManager/types.ts
  src/MainStreamHealthMonitor/@MainStreamHealthMonitor.ts
  src/MainStreamHealthMonitor/__tests__/@MainStreamHealthMonitor.test.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnectorFacade/@SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/__tests__/call.test.ts
  src/__tests__/callWithNoVideoTracks.test.ts
  src/index.ts
Due: prettier --write, eslint --fix

refactor: improve stress testing presentation UI and simplify presentation management logic
  demo/PresentationManager.ts
  demo/dom.ts
  index.html
Due: none

fix: enhance remote streams management by introducing TRemoteStreamsChangeType and updating event structure
  docs/api/call-events.md
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/events.ts
  src/CallManager/types.ts
Due: prettier --write, eslint --fix

fix!: rename event remote-streams-changed to remote-tracks-changed
  demo/Session/Session.ts
  docs/api/call-events.md
  docs/arch/components.md
  docs/arch/overview.md
  docs/recipes/basic-setup.md
  docs/recipes/events-handling.md
  docs/recipes/incoming-calls.md
  docs/recipes/media-management.md
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/events.ts
Due: prettier --write, eslint --fix

feat: add presentation stress testing configuration options in UI
  demo/PresentationManager.ts
  demo/dom.ts
  index.html
Due: none

fix: update stress testing visibility logic in PresentationManager
  demo/PresentationManager.ts
Due: none

feat: add presentation tools in demo (#66)
  demo/App.ts
  demo/PresentationManager.ts
  demo/dom.ts
  index.html
Due: none

feat: add event remote-streams-changed
  demo/Session/Session.ts
  docs/api/call-events.md
  docs/arch/components.md
  docs/arch/overview.md
  docs/recipes/basic-setup.md
  docs/recipes/events-handling.md
  docs/recipes/incoming-calls.md
  docs/recipes/media-management.md
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/events.ts
  src/CallManager/types.ts
Due: prettier --write, eslint --fix

test: update onRemoved tests to verify isRemovedStream parameter
  src/CallManager/@CallManager.ts
  src/CallManager/RemoteStreamsManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/RemoteStreamsManager.test.ts
Due: prettier --write, eslint --fix

feat: add isAddedStream to addTrack return type
  src/CallManager/@CallManager.ts
  src/CallManager/RemoteStreamsManager.ts
  src/CallManager/__tests__/RemoteStreamsManager.test.ts
Due: prettier --write, eslint --fix

test: add tests for remote-streams-changed event emission logic
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
Due: prettier --write, eslint --fix

chore: disable console warnings in PresentationManager
  demo/PresentationManager.ts
Due: none

chore(release): 21.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update xstate dependency to version 5.25.1
  package.json
  yarn.lock
Due: none

refactor: remove unused shareState event from API
  docs/api/api-events.md
  src/ApiManager/events.ts
  src/__fixtures__/constants.ts
  src/__fixtures__/eventNames.ts
Due: prettier --write, eslint --fix

refactor!: standardize API event naming conventions and update event handling logic
  docs/api/api-events.md
  docs/recipes/events-handling.md
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/ApiManager/events.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnector/__tests__/events.test.ts
  src/SipConnectorFacade/@SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/SipConnectorFacade/__tests__/resolveOnUseLicense.test.ts
  src/__fixtures__/constants.ts
  src/__tests__/callStatuses.test.ts
  src/__tests__/enterRoom.test.ts
  src/__tests__/events.test.ts
  src/__tests__/mainCamControl.test.ts
  src/__tests__/micControl.test.ts
  src/__tests__/syncMediaState.test.ts
  src/__tests__/useLicense.test.ts
  src/tools/__tests__/sendDTMFAccumulated.test.ts
  src/tools/syncMediaState/__tests__/createSyncMediaState.test.ts
  src/tools/syncMediaState/__tests__/resolveOnStartMainCam.test.ts
  src/tools/syncMediaState/__tests__/resolveOnStartMic.test.ts
  src/tools/syncMediaState/__tests__/resolveOnStopMainCam.test.ts
  src/tools/syncMediaState/__tests__/resolveOnStopMic.test.ts
  src/tools/syncMediaState/resolveOnStartMainCam.ts
  src/tools/syncMediaState/resolveOnStartMic.ts
  src/tools/syncMediaState/resolveOnStopMainCam.ts
  src/tools/syncMediaState/resolveOnStopMic.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 22.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor!: replace EHeader with EKeyHeader for consistent header management and update event handling logic
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/ApiManager/__tests__/@ApiManager.notify.test.ts
  src/ApiManager/constants.ts
  src/ApiManager/index.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/VideoSendingBalancer/__tests__/resolveVideoSendingBalancer.test.ts
  src/__fixtures__/accountNotify.ts
  src/__fixtures__/channels.ts
  src/__fixtures__/channelsNotify.ts
  src/__fixtures__/conferenceParticipantTokenIssuedNotify.ts
  src/__fixtures__/enterRoom.ts
  src/__fixtures__/mediaState.ts
  src/__fixtures__/participantMoveRequests.ts
  src/__fixtures__/participantNotify.ts
  src/__fixtures__/webcastNotify.ts
  src/__tests__/events.test.ts
  src/__tests__/mainCamControl.test.ts
  src/__tests__/micControl.test.ts
  src/__tests__/presentation.test.ts
  src/__tests__/syncMediaState.test.ts
  src/__tests__/useLicense.test.ts
Due: prettier --write, eslint --fix

feat: add codec to `api:contented-stream:available` event and refactor types
  demo/Session/UseLicenseManager.ts
  docs/api/api-events.md
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.core.test.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/ApiManager/__tests__/getHeader.test.ts
  src/ApiManager/constants.ts
  src/ApiManager/events.ts
  src/ApiManager/getHeader.ts
  src/ApiManager/index.ts
  src/SipConnectorFacade/@SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/resolveOnUseLicense.test.ts
  src/VideoSendingBalancer/SenderBalancer.ts
  src/VideoSendingBalancer/__tests__/SenderBalancer.test.ts
  src/VideoSendingBalancer/__tests__/VideoSendingBalancer.test.ts
  src/VideoSendingBalancer/__tests__/resolveVideoSendingBalancer.test.ts
  src/VideoSendingBalancer/types.ts
  src/__tests__/mainCamControl.test.ts
  src/__tests__/micControl.test.ts
  src/__tests__/syncMediaState.test.ts
  src/__tests__/useLicense.test.ts
  src/index.ts
Due: prettier --write, eslint --fix

refactor: clean up default case handling in ApiManager and enhance getHeader type safety
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/ApiManager/__tests__/getHeader.test.ts
  src/ApiManager/getHeader.ts
  src/__tests__/enterRoom.test.ts
Due: prettier --write, eslint --fix

refactor: rename stopShareSipConnector to stopPresentation
  demo/PresentationManager.ts
  docs/api/api-events.md
  docs/arch/overview.md
  docs/recipes/conference-participants.md
  docs/recipes/presentations.md
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/ApiManager/__tests__/getHeader.test.ts
  src/ApiManager/constants.ts
  src/ApiManager/events.ts
  src/ApiManager/getHeader.ts
  src/ApiManager/index.ts
  src/SipConnectorFacade/@SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/__tests__/events.test.ts
Due: prettier --write, eslint --fix

fix: update sendInfo calls in ApiManager to use EContentTypeSent for SHARE_STATE
  src/ApiManager/@ApiManager.ts
Due: prettier --write, eslint --fix

refactor: resolve boolean variable in properties smell
  src/CallManager/@CallManager.ts
  src/CallManager/StreamsManagerProvider.ts
  src/CallManager/__tests__/StreamsManagerProvider.test.ts
  src/StatsPeerConnection/parseStatsReports.ts
Due: prettier --write, eslint --fix

chore: remove log
  src/StatsPeerConnection/parseStatsReports.ts
Due: prettier --write, eslint --fix

fix: collect stats from recv-session for spectator
  src/CallManager/@CallManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/StatsManager/@StatsManager.ts
  src/StatsManager/__tests__/@StatsManager.test.ts
  src/StatsPeerConnection/@StatsPeerConnection.ts
  src/StatsPeerConnection/__tests__/StatsPeerConnection.test.ts
Due: prettier --write, eslint --fix

test: update module tests
  src/StatsPeerConnection/__tests__/StatsPeerConnection.intervals.test.ts
Due: prettier --write, eslint --fix

test: update module tests
  src/CallManager/__tests__/@CallManager.test.ts
Due: prettier --write, eslint --fix
