Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add demo
  .gitignore
  demo/App.ts
  demo/CallStateManager.ts
  demo/LoaderManager.ts
  demo/LocalMediaStreamManager.ts
  demo/RemoteMediaStreamManager.ts
  demo/Session/Session.ts
  demo/Session/parseIceServersFromServerConfig.ts
  demo/Session/resolveRequestSipServerIp.ts
  demo/Session/resolveServerParametersRequester.ts
  demo/Session/sipConnectorFacade.ts
  demo/VideoPlayer.ts
  demo/index.ts
  demo/state/FormState.ts
  demo/state/FormStateManager.ts
  demo/types.ts
  demo/utils/getAppInfo.ts
  demo/utils/getBrowserInfo.ts
  demo/utils/getMediaStream.ts
  demo/utils/onUnloadPage.ts
  demo/utils/parseDisplayName.ts
  index.html
  package.json
  tsconfig.json
  vite.demo.config.ts
  yarn.lock
Due: none

chore: update dependencies
  package.json
  yarn.lock
Due: none

refactor: centralize DOM element management in a new DOM class and update demo
  demo/App.ts
  demo/LoaderManager.ts
  demo/RemoteMediaStreamManager.ts
  demo/dom.ts
  demo/state/FormStateManager.ts
Due: none

feat: add participant role management and update call UI with status display
  demo/App.ts
  demo/Session/ParticipantRoleManager.ts
  demo/Session/Session.ts
  demo/dom.ts
  index.html
  public/favicon.svg
Due: none

feat: add use license management and update DOM structure with new license section
  demo/Session/Session.ts
  demo/Session/UseLicenseManager.ts
  demo/dom.ts
  index.html
Due: none

feat: enhance RecvSession to add multiple video transceivers for content sharing
  src/CallManager/RecvSession.ts
  src/CallManager/__tests__/RecvSession.test.ts
Due: prettier --write, eslint --fix

refactor: remove TransceiverManager and related transceiver management functionality
  README.md
  docs/arch.md
  src/CallManager/@CallManager.ts
  src/CallManager/MCUSession.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/MCUSession.test.ts
  src/CallManager/types.ts
  src/SipConnector/@SipConnector.ts
  src/TransceiverManager/@TransceiverManager.ts
  src/TransceiverManager/__tests__/@TransceiverManager.test.ts
  src/TransceiverManager/index.ts
  src/TransceiverManager/types.ts
Due: prettier --write, eslint --fix

fix: make audioId optional in move-request-to-spectators event type
  src/ApiManager/eventNames.ts
Due: prettier --write, eslint --fix

feat: differentiate spectator move requests with and without audioId in ApiManager
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/ApiManager/eventNames.ts
  src/__tests__/participantMoveRequests.test.ts
Due: prettier --write, eslint --fix

fix: remove all ua listeners after disconnect
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
Due: prettier --write, eslint --fix

fix: remove all ua listeners after disconnect (#58)
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
Due: prettier --write, eslint --fix

chore(release): 19.9.0
  CHANGELOG.md
  package.json
Due: prettier --write

test: mock ua event in reconnect test
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
Due: prettier --write, eslint --fix

test: mock ua event in reconnect test (#59)
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
Due: prettier --write, eslint --fix

refactor: update fetch options in sendOffer to include referrerPolicy and credentials
  src/tools/sendOffer.ts
Due: prettier --write, eslint --fix

feat: implement RecvSession management in CallManager and integrate with SipConnector
  src/CallManager/@CallManager.ts
  src/CallManager/RecvSession.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/tools/__tests__/sendOffer.test.ts
  src/tools/index.ts
  src/tools/sendOffer.ts
Due: prettier --write, eslint --fix

refactor: update sipServerUrl handling across ConnectionManager and related components
  demo/Session/resolveServerParametersRequester.ts
  src/ConnectionManager/ConfigurationManager.ts
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/UAFactory.ts
  src/ConnectionManager/__tests__/@ConnectionManager.test.ts
  src/ConnectionManager/__tests__/ConfigurationManager.test.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnectorFacade/__tests__/connectToServer.test.ts
  src/__fixtures__/index.ts
  src/tools/__tests__/processRequest.test.ts
Due: prettier --write, eslint --fix

feat: add HTTPS support in demo configuration and update package scripts for certificate generation
  .gitignore
  package.json
  src/tools/sendOffer.ts
  vite.demo.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: extend participant role management to include 'spectatorNew' role and update event handling
  demo/Session/ParticipantRoleManager.ts
  src/tools/sendOffer.ts
Due: prettier --write, eslint --fix

refactor: rename sipWebSocketServerURL to sipServerUrl
  demo/Session/Session.ts
  demo/Session/resolveServerParametersRequester.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.basic.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.connection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.events.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.telephony.test.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.triggers.test.ts
  src/AutoConnectorManager/__tests__/CheckTelephonyRequester.test.ts
  src/CallManager/@CallManager.ts
  src/CallManager/MCUSession.ts
  src/CallManager/index.ts
  src/CallManager/types.ts
  src/ConnectionManager/@ConnectionManager.ts
  src/ConnectionManager/ConfigurationManager.ts
  src/ConnectionManager/ConnectionFlow.ts
  src/ConnectionManager/SipOperations.ts
  src/ConnectionManager/UAFactory.ts
  src/ConnectionManager/__tests__/@ConnectionManager.test.ts
  src/ConnectionManager/__tests__/ConfigurationManager.test.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
  src/ConnectionManager/__tests__/SipOperations.test.ts
  src/ConnectionManager/__tests__/UAFactory.test.ts
  src/ConnectionManager/__tests__/connect.test.ts
  src/ConnectionManager/utils/__tests__/resolveParameters.test.ts
  src/ConnectionQueueManager/__test__/@ConnectionQueueManager.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/SipConnectorFacade/__tests__/connectToServer.test.ts
  src/__fixtures__/index.ts
  src/__tests__/call.test.ts
  src/__tests__/connect.test.ts
  src/__tests__/validateApii.test.ts
  src/tools/__fixtures__/connectToServer.ts
  src/tools/__fixtures__/permissions.ts
  src/tools/__fixtures__/processRequest.ts
  src/tools/__tests__/processRequest.test.ts
  src/utils/__tests__/utils.test.ts
  src/utils/utils.ts
Due: prettier --write, eslint --fix

feat: implement remote streams management in CallManager
  demo/Session/Session.ts
  src/CallManager/@CallManager.ts
  src/CallManager/MCUSession.ts
  src/CallManager/RemoteStreamsManager.ts
  src/CallManager/__tests__/@CallManager.events.test.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/MCUSession.test.ts
  src/CallManager/__tests__/RemoteStreamsManager.test.ts
  src/CallManager/eventNames.ts
  src/CallManager/types.ts
  src/ConnectionManager/__tests__/ConnectionFlow.test.ts
  src/SipConnectorFacade/@SipConnectorFacade.ts
  src/SipConnectorFacade/__tests__/@SipConnectorFacade.test.ts
  src/__fixtures__/RTCPeerConnectionMock.ts
  src/__fixtures__/RTCSessionMock.ts
  src/__tests__/call.test.ts
  src/__tests__/callStatuses.test.ts
  src/__tests__/callWithNoVideoTracks.test.ts
  src/__tests__/incomingCall.test.ts
  src/__tests__/incomingCallStatuses.test.ts
Due: prettier --write, eslint --fix

feat: enhance role management in CallManager with new RoleManager and update event handling for participant roles
  src/ApiManager/eventNames.ts
  src/CallManager/@CallManager.ts
  src/CallManager/RoleManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/RoleManager.test.ts
  src/CallManager/types.ts
  src/ConnectionManager/__tests__/ConfigurationManager.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/tools/__tests__/sendOffer.test.ts
Due: prettier --write, eslint --fix

test: add tests for FAILED_PRESENTATION event handling in PresentationManager when non-Error values are encountered
  src/PresentationManager/__tests__/@PresentationManager.test.ts
Due: prettier --write, eslint --fix

test: improve SipConnector tests by refactoring spy implementations and enhancing event trigger handling
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

feat: update role change logic to handle audioId changes for viewer_new roles
  src/CallManager/RoleManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/RoleManager.test.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

fix: refine role change logic to ensure proper updates for viewer_new roles based on audioId changes
  src/CallManager/RoleManager.ts
Due: prettier --write, eslint --fix

feat: add camera and microphone toggle functionality with corresponding UI updates
  demo/App.ts
  demo/LocalMediaStreamManager.ts
  demo/dom.ts
  index.html
Due: none

feat: update participant role management to differentiate between old and new spectator move requests
  demo/Session/ParticipantRoleManager.ts
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/ApiManager/eventNames.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/__tests__/participantMoveRequests.test.ts
Due: prettier --write, eslint --fix

refactor: streamline reset logic in CallManager by consolidating session closure and cleanup operations
  src/CallManager/@CallManager.ts
Due: prettier --write, eslint --fix

feat: update participant role management to include synthetic spectator roles and adjust event handling for role changes
  demo/Session/ParticipantRoleManager.ts
  src/ApiManager/@ApiManager.ts
  src/ApiManager/__tests__/@ApiManager.newInfo.test.ts
  src/ApiManager/eventNames.ts
  src/CallManager/@CallManager.ts
  src/CallManager/RoleManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/RoleManager.test.ts
  src/CallManager/types.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
  src/__tests__/participantMoveRequests.test.ts
Due: prettier --write, eslint --fix

feat: update participant role management to include synthetic spectator roles and adjust event handling for role changes
  demo/Session/ParticipantRoleManager.ts
Due: none

fix: update spectator role text to remove 'NEW' designation for clarity
  README.md
  demo/Session/ParticipantRoleManager.ts
Due: prettier --write

refactor: viewer -spectator
  src/CallManager/@CallManager.ts
  src/CallManager/RoleManager.ts
  src/CallManager/__tests__/@CallManager.test.ts
  src/CallManager/__tests__/RoleManager.test.ts
  src/CallManager/types.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

docs: enhance remote streams management with new event handling and role updates for participants and spectators
  README.md
  docs/arch.md
Due: prettier --write

chore(release): 20.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: invoke stopPresentation on spectator move requests
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

chore(release): 20.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: do not disconnect or reconnect when call is active
  src/AutoConnectorManager/@AutoConnectorManager.ts
  src/AutoConnectorManager/NotActiveCallSubscriber.ts
  src/AutoConnectorManager/__tests__/@AutoConnectorManager.reconnection.test.ts
  src/AutoConnectorManager/__tests__/NotActiveCallSubscriber.test.ts
  src/SipConnector/@SipConnector.ts
  src/SipConnector/__tests__/@SipConnector.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *src/**/*.{js,ts,json}) or (any of: *.md)
  eslint --fix: any of: *src/**/*.{js,ts,json}
