Repository Krivega/sip-connector: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,ts,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

test: add module tests for main cam controls
  src/__tests__/mainCamControl.ts
Due: prettier --write, eslint --fix

test: add module tests for video sending balancer
  src/videoSendingBalancer/__tests__/resolveVideoSendingBalancer.ts
Due: prettier --write, eslint --fix

fix: trigger main-cam-control and admin-force-sync-media-state by resume-main-cam or pause-main-cam
  src/SipConnector.ts
Due: prettier --write, eslint --fix

fix: enterRoom data format changed (#36)
  src/__fixtures__/utils.ts
  src/tools/__fixtures__/call.ts
  src/tools/__tests__/callToServer.ts
  src/tools/callToServer.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: none

chore(release): 7.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: trigger main-cam-control event by RESUME_MAIN_CAM or PAUSE_MAIN_CAM infos (#37)
  src/SipConnector.ts
  src/__tests__/mainCamControl.ts
  src/videoSendingBalancer/__tests__/resolveVideoSendingBalancer.ts
Due: prettier --write, eslint --fix

chore: fix lint error
  src/videoSendingBalancer/__tests__/resolveVideoSendingBalancer.ts
Due: prettier --write, eslint --fix

chore(release): 7.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  .ncurc.json
  package.json
  yarn.lock
Due: none

fix: use async terminate
  src/SipConnector.ts
Due: prettier --write, eslint --fix

chore(release): 7.0.3
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 7.0.4
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  src/videoSendingBalancer/processSender.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 7.0.5
  CHANGELOG.md
  package.json
Due: prettier --write

test: fix error
  src/__fixtures__/Session.mock.ts
Due: prettier --write, eslint --fix

fix: exports cjs
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

chore(release): 7.0.6
  CHANGELOG.md
  package.json
Due: prettier --write

fix: repeat connection request
  package.json
  src/SipConnector.ts
  src/__fixtures__/UA.mock.ts
  src/__tests__/connect.ts
  src/tools/__tests__/processRequest.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: split connect method
  src/SipConnector.ts
  src/utils/errors.ts
Due: prettier --write, eslint --fix

refactor: update repeated-calls dependency
  package.json
  yarn.lock
Due: none

fix: cancel connect request with duplicated calls
  package.json
  src/SipConnector.ts
  src/__fixtures__/UA.mock.ts
  src/__tests__/connect.ts
  src/createUaConfiguration.ts
  src/tools/connectToServer.ts
  src/types.ts
  src/utils/errors.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: set display name as empty string by default
  src/SipConnector.ts
Due: prettier --write, eslint --fix

refactor: rename variable
  src/SipConnector.ts
Due: prettier --write, eslint --fix

refactor: move create-ua-configuration into sip-connector
  src/SipConnector.ts
  src/createUaConfiguration.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore: add repeated-calls into peer dependencies
  package.json
Due: none

refactor: set get-sip-server-url & socket from create-ua-configuration
  src/SipConnector.ts
Due: prettier --write, eslint --fix

fix: repeat connect request when handshake websocket opening has failed (#38)
  package.json
  src/SipConnector.ts
  src/__fixtures__/UA.mock.ts
  src/__tests__/connect.ts
  src/tools/__tests__/processRequest.ts
  src/tools/connectToServer.ts
  src/types.ts
  src/utils/errors.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 7.0.7
  CHANGELOG.md
  package.json
Due: prettier --write

fix: compare websocket response with error instead array of errors
  src/SipConnector.ts
  src/__fixtures__/UA.mock.ts
  src/utils/errors.ts
Due: prettier --write, eslint --fix

fix: compare websocket response with error instead array of errors (#39)
  src/SipConnector.ts
  src/__fixtures__/UA.mock.ts
  src/utils/errors.ts
Due: prettier --write, eslint --fix

chore(release): 7.0.8
  CHANGELOG.md
  package.json
Due: prettier --write

fix: stringify error message when message is object
  src/tools/error/__tests__/getValuesFromError.ts
  src/tools/error/getValuesFromError.ts
  src/tools/error/stringifyMessage.ts
Due: prettier --write, eslint --fix

fix: stringify error message when message is object (#40)
  src/tools/error/__tests__/getValuesFromError.ts
  src/tools/error/getValuesFromError.ts
  src/tools/error/stringifyMessage.ts
Due: prettier --write, eslint --fix

chore(release): 7.0.9
  CHANGELOG.md
  package.json
Due: prettier --write
